{%- if block != blank -%}
  {%- liquid
    assign bg_color = block.settings.bg_color
    assign text_color = block.settings.text_color
    assign image = block.settings.image
    assign text_1 = block.settings.text_1
    assign text_2 = block.settings.text_2
    assign text_3 = block.settings.text_3
    assign text_4  = block.settings.text_4
  -%}

  <div class="collection-refund-banner" {{block.shopify_attributes}} style="background-color: {{bg_color}};color: {{text_color}}">
    <div class="banner-image1 sidebar-widget1">
      {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      <img class="lazyload animation--{{settings.lazyloading-effect}}"
        src="{{ image | img_url: '' }}"
        data-src="{{ img_url }}"
        data-widths="[157, 270, 303, 370, 377, 670, 570, 720, 900, 1080, 1296, 1512, 1728, 2048]"
        data-aspectratio="{{ image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{image.alt}}"
        title="{{block.settings.banner-on-hover}}" >
    </div>

    <div class="banner-content">
      <div class="text-1">{{text_1}}</div>
      <div class="text-2">{{text_2}}</div>
      <div class="text-3">{{text_3}}</div>
      <div class="text-4">{{text_4}}</div>
    </div>
  </div>

  {% comment %} <style>.collection-refund-banner{display: none!important;}.test_47 .collection-refund-banner{display: flex!important;}</style> {% endcomment %}
{%- endif -%}