<nav class="mobile-nav-wrapper medium-up--hide" role="navigation">
  <div class="menu-mobile-title">
    <div class="menu-mobile-close">
      {%- include 'icon-close' -%}
    </div>
    <div class="menu-mobile-search">
      {%- include 'icon-search' -%}
    </div>

  </div>

  <div class="menu-search-content">
  	{% include 'search-mobile' %}
  </div>
  
  <ul class="site-tab-menu tabs" id="titleTabMenu">
    {% if section.settings.title_linklist_1 != blank and section.settings.main_linklist_1 != blank %}
      <li> 
          <a href="#tabmobileindoor" class="active" title="{{ section.settings.title_linklist_1 }}">
            {{ section.settings.title_linklist_1 }}
          </a>
       </li>
    {% endif %}
    {% if section.settings.title_linklist_2 != blank and section.settings.main_linklist_2 != blank %}
      <li> 
          <a href="#tabmobileoutdoor" class="" title="{{ section.settings.title_linklist_2 }}">
            {{ section.settings.title_linklist_2 }}
          </a>
       </li>
    {% endif %}
    {% if section.settings.title_linklist_3 != blank and section.settings.main_linklist_3 != blank %}
      <li> 
          <a href="#tabmobilediy" class="" title="{{ section.settings.title_linklist_3 }}">
            {{ section.settings.title_linklist_3 }}
          </a>
       </li>
    {% endif %}
  </ul> 

  {% if section.settings.title_linklist_1 != blank and section.settings.main_linklist_1 != blank %}
  	<div id="tabmobileindoor" style="display: block;" class="content-tab-menu" >
		{% include 'site-mobile-nav' with _select_menu: section.settings.main_linklist_1 %}
    </div>
  {% endif %}
  {% if section.settings.title_linklist_2 != blank and section.settings.main_linklist_2 != blank %}
  	<div id="tabmobileoutdoor" style="display: none;" class="content-tab-menu">
		{% include 'site-mobile-nav' with _select_menu: section.settings.main_linklist_2 %}
    </div>
  {% endif %}
  {% if section.settings.title_linklist_3 != blank and section.settings.main_linklist_3 != blank %}
  	<div id="tabmobilediy" style="display: none;" class="content-tab-menu" >
		{% include 'site-mobile-nav' with _select_menu: section.settings.main_linklist_3 %}
    </div>
  {% endif %}
  
</nav>