<style>
  .swatch{margin:1em 0}.swatch .header, .selector-wrapper label, .product-form__item label, #inventory .header, .product-options label{margin:.5em 0;font-weight:bold;}.swatch input{display:none}

  a.btn.klaviyo-bis-trigger {
    width: 100% !important;
  }

</style>

<style>.swatch{margin: 1em 0;}.swatch .header,.selector-wrapper label,.product-form__item label,#inventory .header,.product-options label{margin: 0.5em 0;font-weight: bold;}.swatch input{display: none;}.swatch label{min-width: 50px !important;height: 35px !important;line-height: 35px;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;float: left;margin: 0;border: #ccc 1px solid;background-color: {{ settings.swatch-bk }};color: {{ settings.swatch-txt }};font-size: 13px;text-align: center;white-space: nowrap;text-transform: uppercase;}.swatch-element label{padding: 0 10px;}.color.swatch-element label{padding: 0;}.swatch input:checked + label{-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);box-shadow: 0 1px 2px rgba(0, 0, 0, 0.8);border-color: transparent;background: {{ settings.swatch-click-btn }};color: {{ settings.swatch-click-txt }};}.swatch .swatch-element{float: left;-webkit-transform: translateZ(0);-webkit-font-smoothing: antialiased;margin: 0 10px 10px 0;position: relative;}.crossed-out{position: absolute;width: 100%;height: 100%;left: 0;top: 0;}.swatch .swatch-element .crossed-out{display: none;}.swatch .swatch-element.soldout .crossed-out{display: block;}.swatch .swatch-element.soldout label{-khtml-opacity: 0.6;-moz-opacity: 0.6;opacity: 0.6;}.swatch .tooltip{text-align: center;background: gray;color: #fff;bottom: 100%;padding: 10px;display: block;position: absolute;min-width: 100px;width: auto;left: -23px;margin-bottom: 15px;filter: alpha(opacity=0);-khtml-opacity: 0;-moz-opacity: 0;opacity: 0;visibility: hidden;-webkit-transform: translateY(10px);-moz-transform: translateY(10px);-ms-transform: translateY(10px);-o-transform: translateY(10px);transform: translateY(10px);-webkit-transition: all 0.25s ease-out;-moz-transition: all 0.25s ease-out;-ms-transition: all 0.25s ease-out;-o-transition: all 0.25s ease-out;transition: all 0.25s ease-out;-webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);-moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);-ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);-o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);z-index: 10000;-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}.swatch .tooltip:before{bottom: -20px;content: " ";display: block;height: 20px;left: 0;position: absolute;width: 100%;}.swatch .tooltip:after{border-left: solid transparent 10px;border-right: solid transparent 10px;border-top: solid gray 10px;bottom: -10px;content: " ";height: 0;left: 50%;margin-left: -13px;position: absolute;width: 0;}.swatch .swatch-element:hover .tooltip{-khtml-opacity: 1;-moz-opacity: 1;opacity: 1;visibility: visible;-webkit-transform: translateY(0);-moz-transform: translateY(0);-ms-transform: translateY(0);-o-transform: translateY(0);transform: translateY(0);}.swatch.error{background-color: #e8d2d2 !important;color: #333 !important;padding: 1em;border-radius: 5px;}.swatch.error p{margin: 0.7em 0;}.swatch.error p:first-child {margin-top: 0;}.swatch.error p:last-child {margin-bottom: 0;}.swatch.error code{font-family: monospace;}#size-chart{border:2px #555 solid;background-color:#fff;padding:20px;max-width:800px;margin-left:auto;margin-right:auto}.mfp-bg{top:0;left:0;width:100%;height:100%;z-index:1042;overflow:hidden;position:fixed;background:#0b0b0b;opacity:.8}.mfp-wrap{top:0;left:0;width:100%;height:100%;z-index:1043;position:fixed;outline:0!important;-webkit-backface-visibility:hidden}.mfp-container{text-align:center;position:absolute;width:100%;height:100%;left:0;top:0;padding:0 8px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-container:before{content:'';display:inline-block;height:100%;vertical-align:middle}.mfp-align-top .mfp-container:before{display:none}.mfp-content{position:relative;display:inline-block;vertical-align:middle;margin:0 auto;text-align:left;z-index:1045}.mfp-ajax-holder .mfp-content,.mfp-inline-holder .mfp-content{width:100%;cursor:auto}.mfp-ajax-cur{cursor:progress}.mfp-zoom-out-cur,.mfp-zoom-out-cur .mfp-image-holder .mfp-close{cursor:-moz-zoom-out;cursor:-webkit-zoom-out;cursor:zoom-out}.mfp-zoom{cursor:pointer;cursor:-webkit-zoom-in;cursor:-moz-zoom-in;cursor:zoom-in}.mfp-auto-cursor .mfp-content{cursor:auto}.mfp-arrow,.mfp-close,.mfp-counter,.mfp-preloader{-webkit-user-select:none;-moz-user-select:none;user-select:none}.mfp-loading.mfp-figure{display:none}.mfp-hide{display:none!important}.mfp-preloader{color:#ccc;position:absolute;top:50%;width:auto;text-align:center;margin-top:-.8em;left:8px;right:8px;z-index:1044}.mfp-preloader a{color:#ccc}.mfp-preloader a:hover{color:#fff}.mfp-s-ready .mfp-preloader{display:none}.mfp-s-error .mfp-content{display:none}button.mfp-arrow,button.mfp-close{overflow:visible;cursor:pointer;background:0 0;border:0;-webkit-appearance:none;display:block;outline:0;padding:0;z-index:1046;-webkit-box-shadow:none;box-shadow:none}button::-moz-focus-inner{padding:0;border:0}.mfp-close{width:44px;height:44px;line-height:44px;position:absolute;right:0;top:0;text-decoration:none;text-align:center;opacity:.65;padding:0 0 18px 10px;color:#fff;font-style:normal;font-size:28px;font-family:Arial,Baskerville,monospace}.mfp-close:focus,.mfp-close:hover{opacity:1}.mfp-close:active{top:1px}.mfp-close-btn-in .mfp-close{color:#333}.mfp-iframe-holder .mfp-close,.mfp-image-holder .mfp-close{color:#fff;right:-6px;text-align:right;padding-right:6px;width:100%}.mfp-counter{position:absolute;top:0;right:0;color:#ccc;font-size:12px;line-height:18px;white-space:nowrap}.mfp-arrow{position:absolute;opacity:.65;margin:0;top:50%;margin-top:-55px;padding:0;width:90px;height:110px;-webkit-tap-highlight-color:transparent}.mfp-arrow:active{margin-top:-54px}.mfp-arrow:focus,.mfp-arrow:hover{opacity:1}.mfp-arrow .mfp-a,.mfp-arrow .mfp-b,.mfp-arrow:after,.mfp-arrow:before{content:'';display:block;width:0;height:0;position:absolute;left:0;top:0;margin-top:35px;margin-left:35px;border:medium inset transparent}.mfp-arrow .mfp-a,.mfp-arrow:after{border-top-width:13px;border-bottom-width:13px;top:8px}.mfp-arrow .mfp-b,.mfp-arrow:before{border-top-width:21px;border-bottom-width:21px;opacity:.7}.mfp-arrow-left{left:0}.mfp-arrow-left .mfp-a,.mfp-arrow-left:after{border-right:17px solid #fff;margin-left:31px}.mfp-arrow-left .mfp-b,.mfp-arrow-left:before{margin-left:25px;border-right:27px solid #3f3f3f}.mfp-arrow-right{right:0}.mfp-arrow-right .mfp-a,.mfp-arrow-right:after{border-left:17px solid #fff;margin-left:39px}.mfp-arrow-right .mfp-b,.mfp-arrow-right:before{border-left:27px solid #3f3f3f}.mfp-iframe-holder{padding-top:40px;padding-bottom:40px}.mfp-iframe-holder .mfp-content{line-height:0;width:100%;max-width:900px}.mfp-iframe-holder .mfp-close{top:-40px}.mfp-iframe-scaler{width:100%;height:0;overflow:hidden;padding-top:56.25%}.mfp-iframe-scaler iframe{position:absolute;display:block;top:0;left:0;width:100%;height:100%;box-shadow:0 0 8px rgba(0,0,0,.6);background:#000}img.mfp-img{width:auto;max-width:100%;height:auto;display:block;line-height:0;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;padding:40px 0 40px;margin:0 auto}.mfp-figure{line-height:0}.mfp-figure:after{content:'';position:absolute;left:0;top:40px;bottom:40px;display:block;right:0;width:auto;height:auto;z-index:-1;box-shadow:0 0 8px rgba(0,0,0,.6);background:#444}.mfp-figure small{color:#bdbdbd;display:block;font-size:12px;line-height:14px}.mfp-figure figure{margin:0}.mfp-bottom-bar{margin-top:-36px;position:absolute;top:100%;left:0;width:100%;cursor:auto}.mfp-title{text-align:left;line-height:18px;color:#f3f3f3;word-wrap:break-word;padding-right:36px}.mfp-image-holder .mfp-content{max-width:100%}.mfp-gallery .mfp-image-holder .mfp-figure{cursor:pointer}@media screen and (max-width:800px) and (orientation:landscape),screen and (max-height:300px){.mfp-img-mobile .mfp-image-holder{padding-left:0;padding-right:0}.mfp-img-mobile img.mfp-img{padding:0}.mfp-img-mobile .mfp-figure:after{top:0;bottom:0}.mfp-img-mobile .mfp-figure small{display:inline;margin-left:5px}.mfp-img-mobile .mfp-bottom-bar{background:rgba(0,0,0,.6);bottom:0;margin:0;top:auto;padding:3px 5px;position:fixed;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.mfp-img-mobile .mfp-bottom-bar:empty{padding:0}.mfp-img-mobile .mfp-counter{right:5px;top:3px}.mfp-img-mobile .mfp-close{top:0;right:0;width:35px;height:35px;line-height:35px;background:rgba(0,0,0,.6);position:fixed;text-align:center;padding:0}}@media all and (max-width:900px){.mfp-arrow{-webkit-transform:scale(.75);transform:scale(.75)}.mfp-arrow-left{-webkit-transform-origin:0;transform-origin:0}.mfp-arrow-right{-webkit-transform-origin:100%;transform-origin:100%}.mfp-container{padding-left:6px;padding-right:6px}}.mfp-ie7 .mfp-img{padding:0}.mfp-ie7 .mfp-bottom-bar{width:600px;left:50%;margin-left:-300px;margin-top:5px;padding-bottom:5px}.mfp-ie7 .mfp-container{padding:0}.mfp-ie7 .mfp-content{padding-top:44px}.mfp-ie7 .mfp-close{top:0;right:0;padding-top:0}.tooltip{position:relative;display:inline-block}.tooltip .tooltiptext{visibility:hidden;width:140px;background-color:#555;color:#fff;text-align:center;border-radius:6px;padding:5px;position:absolute;z-index:99999;bottom:150%;left:50%;margin-left:-75px;opacity:0;transition:opacity .3s}.tooltip .tooltiptext::after{content:"";position:absolute;top:100%;left:50%;margin-left:-5px;border-width:5px;border-style:solid;border-color:#555 transparent transparent transparent}.tooltip:hover .tooltiptext{visibility:visible;opacity:1}@media only screen and (min-width: 750px) {.scroll-bar-coll {max-height : 520px !important;overflow : auto;float:left;}#scroll-bar-thumb::-webkit-scrollbar {width: 5px;}#scroll-bar-thumb::-webkit-scrollbar-track {box-shadow: inset 0 0 5px grey; border-radius: 10px;}#scroll-bar-thumb::-webkit-scrollbar-thumb{background: var(--color-bg-addtocart); border-radius: 10px;}}</style>
<style>.product-single__thumbnail-badge{width:22px;height:22px;position:absolute;right:6px;top:6px;pointer-events:none}@media only screen and (min-width:750px){.product-single__thumbnail-badge{width:26px;height:26px}}.product-single__thumbnail-badge .icon{fill:var(--color-bg);width:100%;height:100%;vertical-align:baseline}.product-single__thumbnail-badge .icon-3d-badge-full-color-outline,.product-single__thumbnail-badge .icon-video-badge-full-color-outline{stroke:rgba(var(--color-text-rgb),.05)}.product-single__thumbnail-badge .icon-3d-badge-full-color-element,.product-single__thumbnail-badge .icon-video-badge-full-color-element{fill:var(--color-text)}.product-single__thumbnail-model{position:relative}.shopify-model-viewer-ui .shopify-model-viewer-ui__controls-area{background:var(--color-bg);border-color:rgba(var(--color-text-rgb),.05)}.shopify-model-viewer-ui .shopify-model-viewer-ui__button{color:var(--color-text)}.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control:hover{color:rgba(var(--color-text-rgb),.55)}.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control.focus-visible:focus,.shopify-model-viewer-ui .shopify-model-viewer-ui__button--control:active{color:rgba(var(--color-text-rgb),.55);background:rgba(var(--color-text-rgb),.05)}.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster{background:var(--color-bg);border-color:rgba(var(--color-text-rgb),.05)}.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster:focus,.shopify-model-viewer-ui .shopify-model-viewer-ui__button--poster:hover{color:rgba(var(--color-text-rgb),.55)}.product-single__media .shopify-model-viewer-ui{position:absolute;top:0;left:0;width:100%;max-width:100%}.product-single__media .shopify-model-viewer-ui{height:100%}.product-single__media model-viewer{position:absolute;top:0;left:0;width:100%;max-width:100%}.product-single__media model-viewer{height:100%}.video-wrapper{position:relative;overflow:hidden;max-width:100%;padding-bottom:56.25%;height:0;height:auto}.video-wrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%}</style>

<div class="product-template__container page-width" id="ProductSection-{{ section.id }}"
     data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true"
     {% if variant.available or product.available %} data-ajax-enabled="{{ settings.enable_ajax }}" {% else %}
     data-ajax-enabled="false" {% endif %}>
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}
  {%- assign compare_at_price = current_variant.compare_at_price -%}
  {%- assign price = current_variant.price -%}
  {%- assign product_image_width = 'medium-up--one-half' -%}
  {%- assign product_description_width = 'medium-up--two-fifths' -%}
  {%- assign product_thumbnail_width = 'medium-up--one-tenth' -%}
  {%- assign height = 530 -%}
  <div class="grid  product-single">
    {% comment %}
    <div
         class="sticky-prod-img small--hide grid__item medium-up--one-tenth thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
      <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
        {% for media in product.media %}
        {% include 'media' %}
        {% endfor %}
      </ul>
      {% if enable_thumbnail_slides == true %}
      <button type="button"
              class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
        <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
      </button>
      {% endif %}
    </div>

    <div class="sticky-prod-img grid__item product-single__photos {{ product_image_width }}">
      {% if section.settings.disc-badge %} {% include 'discount-label-product' %} {% endif %}

      {% for media in product.media %}
      {% if forloop.index == 1 %}
      {% case media.media_type %}
      {% when 'image' %}
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% when 'external_video' %}
      {%- assign featured_image = media.src -%}
      {% when 'video' %}
      {%- assign featured_image = media.src  -%}
      {% endcase %}
      {% endif %}

      {% capture img_id %}FeaturedImage-{{ section.id }}-{{ media.id }}{% endcapture %}
      {% capture img_class %}product-featured-img{% endcapture %}
      {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ media.id }}{% endcapture %}
      {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
      {%- assign img_url = media | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
      {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}
      {% case media.media_type %}
      {% when 'image' %}


      <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
        <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: media.aspect_ratio | times: 100}}%;"
             class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.media.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == media %} hide{% endunless %}"
             data-image-id="{{ media.id }}" {% if enable_zoom %}
             data-zoom="{{ media | img_url: product_image_zoom_size, scale: product_image_scale }}" {% endif %}>
          <img id="{{ img_id }}"
               class="feature-row__image {{ img_class }} lazyload {% unless featured_image == media %} lazypreload{% endunless %}"
               src="{{ media | img_url: '300x300' }}" data-src="{{ img_url }}"
               data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
               data-aspectratio="{{ media.aspect_ratio }}" data-sizes="auto" tabindex="-1" alt="{{ media.alt | escape }}">
        </div>
      </div>
      {% when 'external_video' %}
      <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
        <div data-image-id="{{ media.id }}" style="padding-top:{{ 1 | divided_by: media.aspect_ratio | times: 100}}%;"
             id="{{ zoom_img_id }}"
             class="product-single__photo {% unless featured_image == media.src %} hide{% endunless %} {% if product.media.size > 1 %} product-single__photo--has-thumbnails{% endif %}">
          {{ media | external_video_tag: class: "mainFrameVideo feature-row__image product-featured-img " }}
        </div>
      </div>
      {% when 'video' %}
      <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js loader">
        <div data-image-id="{{ media.id }}" style="padding-top:{{ 1 | divided_by: media.aspect_ratio | times: 100}}%;"
             class="product-single__photo zoom-not {% unless featured_image == media.src %} hide{% endunless %} {% if product.media.size > 1 %} product-single__photo--has-thumbnails{% endif %}"
             alt="{{media.video.alt}}">
          {% if settings.vid-autoplay %}
          {{ media | video_tag: loop: true, autoplay: true, controls: false, preload: false, muted: true , class: "mainFrameVideo feature-row__image product-featured-img " }}
          {% else %}
          {{ media | video_tag: loop: true, autoplay: false, controls: true, preload: false, muted: true , class: "mainFrameVideo feature-row__image product-featured-img " }}
          {% endif %}
        </div>
      </div>
      {% endcase %}
      {% endfor %}
      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}"
             alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img"
             style="max-width: {{ height }}px;">
      </noscript>
      {% if product.images.size > 1 %}
      {% if product.images.size > 3 %}
      {%- assign enable_thumbnail_slides = true -%}
      {% endif %}
      <div
           class="medium-up--hide thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
        {% if enable_thumbnail_slides == true %}
        <button type="button"
                class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
          <i class="fa fa-angle-left fa-lg" aria-hidden="true"></i>
          <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
        </button>
        {% endif %}
        <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
          {% for media in product.media %}
          {% case media.media_type %}
          {% when 'image' %}
          <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
            <a href="{{ media.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
               class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
               data-thumbnail-id="{{ media.id }}"
               {% if enable_zoom %}data-zoom="{{ media.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
               {% endif %}>
              <img class="product-single__thumbnail-image" src="{{ media.src | img_url: '110x110', scale: 2 }}"
                   alt="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}">
            </a>
          </li>
          {% when 'external_video' %}
          <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
            <a href="{{ media.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
               class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
               data-thumbnail-id="{{ media.id }}"
               {% if enable_zoom %}data-zoom="{{ media.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
               {% endif %}>
              {{ media | external_video_tag: class: "product-single__thumbnail-image youtube_video mobile" }}
            </a>
          </li>
          {% when 'video' %}
          <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
            <a href="{{ media.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
               class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
               data-thumbnail-id="{{ media.id }}"
               title="{{ 'sections.featured_product.gallery_thumbnail_alt' | t: imageAlt: media.alt | escape }}">
              {{ media | video_tag: loop: true, autoplay: false, muted: true , class: "product-single__thumbnail-image youtube_video mobile" }}
            </a>
          </li>
          {% endcase %}
          {% endfor %}
        </ul>
        {% if enable_thumbnail_slides == true %}
        <button type="button"
                class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
          <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i>
          <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
        </button>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endcomment %}

    {% include 'grid-media-product' %}

    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta">
        {% if product.compare_at_price > product.price %}
        <div class="sale-label">
          {% assign save = product.compare_at_price | minus: product.price %}
          Save {{ save | money_without_trailing_zeros }}
        </div>
        {% endif %}
        <h1 class="product-single__title">{{ product.title }}</h1>
        {% if current_variant.sku and current_variant.sku != '' and section.settings.sku-txt != blank %}
        <span class="variant-sku-hd">{{ section.settings.sku-txt }}</span>
        <span class="variant-sku">{{ current_variant.sku }}</span>
        {% endif %}
        {% if current_variant.barcode and current_variant.barcode != '' and section.settings.barcode-txt != blank %}
        <span class="variant-sku-hd">{{ section.settings.barcode-txt }}</span>
        <span class="variant-barcode">{{ current_variant.barcode }}</span>
        {% endif %}
        <div class="product__price">
          {% include 'product-price', variant: current_variant %}
        </div>
      </div>
      {% if section.settings.disc-percent%}
      {% include 'discount-amt', variant: current_variant %}
      {% endif %}

      {%- render 'product-discount-popup' product: product -%}

      {% comment %} Hide code 12/10/2021 - Remove if after 1 week no problem
      <div class="fast-shipping-window">
        <p><i><svg width="25" height="17" viewBox="0 0 25 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
                d="M24.6343 9.21867C24.6343 9.19176 24.6343 9.19176 24.6343 9.19176C24.2306 8.06157 23.827 6.93139 23.3964 5.8012C23.1812 5.20919 22.8314 4.72482 22.2663 4.40191C21.8895 4.18664 21.459 4.10591 21.0285 4.10591C20.3288 4.10591 19.656 4.10591 18.9564 4.10591C18.4452 4.10591 17.9339 4.10591 17.3957 4.10591C17.3957 3.70228 17.3957 3.27173 17.3957 2.86809C17.3957 2.70663 17.3957 2.54517 17.3957 2.38372C17.3957 2.35681 17.3957 2.30299 17.3957 2.27609C17.3418 1.49572 16.7229 0.876802 15.9426 0.769165C15.8349 0.769165 15.7543 0.769165 15.6466 0.769165C15.2698 0.769165 14.8932 0.769165 14.5164 0.769165C13.0364 0.769165 11.5564 0.769165 10.0764 0.769165C8.40802 0.769165 6.73964 0.769165 5.07126 0.769165C4.15635 0.769165 3.24144 0.769165 2.35343 0.769165C1.41161 0.769165 0.685059 1.49572 0.685059 2.43754C0.685059 2.78736 0.685059 3.13718 0.685059 3.51391C0.685059 5.07465 0.685059 6.60847 0.685059 8.1692C0.685059 9.62231 0.685059 11.1023 0.685059 12.5554C0.685059 12.8245 0.685059 13.0937 0.685059 13.3627C0.711967 13.7664 0.873423 14.143 1.16942 14.4391C1.46542 14.735 1.84215 14.8696 2.2458 14.9234C2.5418 14.9503 2.8378 14.9234 3.16071 14.9234C3.29526 14.9234 3.40289 14.9234 3.53744 14.9234C3.59126 15.1118 3.64507 15.3002 3.75271 15.4885C4.23707 16.4572 5.39418 16.9147 6.41673 16.6726C7.27783 16.4572 7.92364 15.7576 8.13892 14.9234C8.9731 14.9234 9.80729 14.9234 10.6146 14.9234C12.256 14.9234 13.8706 14.9234 15.5121 14.9234C15.9695 14.9234 16.427 14.9234 16.8844 14.9234C17.3418 14.9234 17.7724 14.9234 18.2299 14.9234C18.2837 15.1118 18.3375 15.3002 18.4452 15.4885C18.9295 16.4572 20.0866 16.9147 21.1091 16.6726C21.9702 16.4842 22.616 15.7576 22.8314 14.9234C23.0467 14.9234 23.262 14.9234 23.4502 14.8696C24.1768 14.735 24.7151 14.0085 24.7151 13.2819C24.7151 12.7169 24.7151 12.1249 24.7151 11.5598C24.7151 10.8332 24.7151 10.1336 24.7151 9.40703C24.6343 9.35322 24.6343 9.27249 24.6343 9.21867ZM4.55999 14.5737C4.55999 14.6006 4.55999 14.5737 4.55999 14.5737V14.5737ZM7.03564 14.5198C7.03564 14.5467 7.00873 14.6543 7.00873 14.6812C6.98183 14.735 6.98183 14.7888 6.95491 14.8696C6.95491 14.8696 6.95491 14.8696 6.95491 14.8965C6.928 14.9503 6.9011 14.9772 6.9011 15.0311C6.87418 15.0849 6.84728 15.1118 6.82037 15.1656C6.79345 15.1925 6.73964 15.2733 6.71273 15.2733C6.65891 15.3271 6.632 15.354 6.57818 15.4077C6.55128 15.4346 6.49745 15.4616 6.47055 15.4885C6.41672 15.5154 6.38982 15.5423 6.336 15.5692C6.30909 15.5692 6.20145 15.623 6.17455 15.623C6.12072 15.65 6.03999 15.65 5.98618 15.6769C5.98618 15.6769 5.98618 15.6769 5.95927 15.6769C5.90545 15.6769 5.85164 15.6769 5.82472 15.6769C5.77091 15.6769 5.71709 15.6769 5.66327 15.6769C5.63636 15.6769 5.52872 15.65 5.50182 15.65C5.44799 15.623 5.39418 15.623 5.31345 15.5961C5.31345 15.5961 5.31345 15.5961 5.28654 15.5961C5.23272 15.5692 5.20581 15.5423 5.15199 15.5423C5.09818 15.5154 5.07126 15.4885 5.01745 15.4616C4.99053 15.4346 4.90981 15.3809 4.90981 15.354C4.85599 15.3002 4.82908 15.2733 4.77526 15.2195C4.74836 15.1925 4.72145 15.1387 4.69453 15.1118C4.66763 15.058 4.64072 15.0311 4.6138 14.9772C4.6138 14.9503 4.55999 14.8427 4.55999 14.8158C4.53308 14.7619 4.53308 14.6812 4.50617 14.6275C4.50617 14.6275 4.50617 14.6275 4.50617 14.6006C4.50617 14.5467 4.50617 14.4929 4.50617 14.466C4.50617 14.4122 4.50617 14.3583 4.50617 14.3045C4.50617 14.2776 4.53308 14.2238 4.53308 14.17C4.53308 14.143 4.53308 14.143 4.53308 14.1161C4.53308 14.0623 4.55999 14.0354 4.5869 13.9816V13.9546C4.5869 13.9277 4.6138 13.9277 4.6138 13.9008C4.6138 13.874 4.64072 13.874 4.64072 13.8471C4.64072 13.8202 4.66763 13.8202 4.66763 13.7933C4.69453 13.7664 4.72145 13.7395 4.72145 13.6856C4.72145 13.6856 4.77526 13.6318 4.80218 13.6049C4.80218 13.578 4.82908 13.578 4.82908 13.5511C4.85599 13.4972 4.90981 13.4703 4.96363 13.4434C4.96363 13.4434 4.99053 13.4434 4.99053 13.4165L5.01745 13.3896C5.09818 13.3358 5.15199 13.3088 5.23272 13.2819C5.25963 13.2819 5.31345 13.255 5.34036 13.2281C5.36726 13.2281 5.39418 13.2281 5.42109 13.2012C5.47491 13.2012 5.52872 13.1743 5.55564 13.1743C5.60945 13.1743 5.66327 13.1743 5.71709 13.1743C5.77091 13.1743 5.82472 13.1743 5.87854 13.1743C5.90545 13.1743 5.95927 13.2012 6.01309 13.2012C6.03999 13.2012 6.04 13.2012 6.06691 13.2281C6.12072 13.2281 6.14764 13.255 6.20145 13.2819C6.22837 13.2819 6.22837 13.3088 6.25528 13.3088C6.28218 13.3088 6.28218 13.3358 6.30909 13.3358C6.336 13.3627 6.36291 13.3627 6.38982 13.3896C6.41672 13.4165 6.44364 13.4434 6.49745 13.4434C6.49745 13.4434 6.55128 13.4972 6.6051 13.5241C6.6051 13.5241 6.632 13.5241 6.632 13.5511C6.68582 13.6049 6.71273 13.6318 6.73964 13.6856C6.73964 13.6856 6.73964 13.6856 6.73964 13.7125C6.79345 13.7933 6.84728 13.874 6.87418 13.9546C6.87418 13.9816 6.9011 14.0085 6.9011 14.0623C6.9011 14.0892 6.92801 14.1161 6.92801 14.143C6.92801 14.1969 6.95491 14.2238 6.95491 14.2776V14.3045C6.95491 14.3314 6.95491 14.3853 6.95491 14.4122C6.95491 14.4391 6.95491 14.4391 6.95491 14.466C7.03564 14.4122 7.03564 14.466 7.03564 14.5198ZM13.8706 13.7664C12.2291 13.7664 10.6146 13.7664 8.9731 13.7664C8.6771 13.7664 8.3811 13.7664 8.0851 13.7664C8.0851 13.7395 8.0851 13.7395 8.05819 13.7125C8.05819 13.6856 8.03129 13.6587 8.03129 13.6318C8.00437 13.578 8.00437 13.5241 7.97747 13.4703C7.97747 13.4434 7.95056 13.4165 7.95056 13.4165C7.92364 13.3627 7.89674 13.3088 7.86983 13.255C7.86983 13.2281 7.84292 13.2281 7.84292 13.2012C7.81601 13.1475 7.7891 13.0937 7.73528 13.0398C7.73528 13.0398 7.73528 13.0129 7.70837 13.0129C7.68146 12.9591 7.62764 12.9053 7.60074 12.8514C7.57383 12.8245 7.57383 12.8245 7.54691 12.7976C7.52001 12.7707 7.4931 12.7169 7.43928 12.6899C7.43928 12.6899 7.43928 12.663 7.41237 12.663C6.98182 12.2325 6.36291 11.9903 5.74399 11.9903C5.55563 11.9903 5.39418 12.0172 5.20581 12.0441H5.17891C5.15199 12.0441 5.12509 12.071 5.12509 12.071C5.09818 12.071 5.07126 12.071 5.07126 12.098C4.74836 12.2056 4.42545 12.394 4.15635 12.6361C4.12944 12.663 4.12944 12.663 4.10253 12.6899C4.07563 12.7169 4.07563 12.7169 4.04872 12.7438C3.9949 12.7976 3.96799 12.8245 3.91417 12.8783C3.91417 12.9053 3.88726 12.9053 3.88726 12.9322C3.86035 12.986 3.80653 13.0398 3.77962 13.0937C3.75271 13.1206 3.75271 13.1474 3.7258 13.1743C3.6989 13.2281 3.67199 13.255 3.64507 13.3088L3.61817 13.3358C3.61817 13.3358 3.61817 13.3627 3.59126 13.3627C3.56434 13.4165 3.53744 13.4972 3.51053 13.5511V13.578C3.48362 13.6318 3.48362 13.6856 3.45671 13.7664C3.32217 13.7664 3.18761 13.7664 3.05307 13.7664C2.75707 13.7664 2.46107 13.7933 2.19198 13.7664C2.16507 13.7664 2.16507 13.7664 2.13815 13.7664C2.11125 13.7664 2.08434 13.7395 2.03052 13.7395C2.08434 13.7125 2.05743 13.7125 2.03052 13.6856C2.03052 13.6856 2.00361 13.6856 2.00361 13.6587C1.9767 13.6318 1.9767 13.6318 1.9498 13.6049L1.92288 13.578C1.92288 13.5511 1.86907 13.5241 1.86907 13.4972C1.86907 13.4703 1.84215 13.4703 1.84215 13.4434C1.84215 13.4434 1.84215 13.4165 1.81525 13.4165C1.81525 13.3896 1.78834 13.3627 1.78834 13.3088C1.78834 13.2819 1.78834 13.255 1.78834 13.2281C1.78834 13.1206 1.78834 13.0398 1.78834 12.9322C1.78834 11.6405 1.78834 10.3758 1.78834 9.08412C1.78834 7.44266 1.78834 5.8012 1.78834 4.15973C1.78834 3.64846 1.78834 3.16409 1.78834 2.65282C1.78834 2.57209 1.78834 2.46444 1.78834 2.38372C1.78834 2.35681 1.78834 2.3299 1.78834 2.30299C1.78834 2.27609 1.81525 2.22227 1.81525 2.19536V2.16844C1.84215 2.14154 1.84215 2.11463 1.86907 2.06081C1.86907 2.06081 1.86907 2.0339 1.89598 2.0339C1.92288 2.00699 1.92288 2.00699 1.9498 1.98008C1.9767 1.95317 1.9767 1.95317 2.00361 1.95317L2.03052 1.92626C2.05743 1.89936 2.08434 1.89936 2.11125 1.87244C2.13815 1.87244 2.16507 1.84554 2.21888 1.84554H2.2458C2.46107 1.81863 2.70325 1.84554 2.91853 1.84554C3.45671 1.84554 3.9949 1.84554 4.53308 1.84554C6.14764 1.84554 7.7891 1.84554 9.40366 1.84554C10.9644 1.84554 12.5251 1.84554 14.0859 1.84554C14.5433 1.84554 15.0008 1.84554 15.4582 1.84554C15.5659 1.84554 15.6466 1.84554 15.7543 1.84554C15.7812 1.84554 15.8349 1.84554 15.8618 1.84554C15.8887 1.84554 15.9426 1.87244 15.9695 1.87244C15.9695 1.87244 15.9964 1.87244 15.9964 1.89936C16.0233 1.92626 16.0502 1.92626 16.0771 1.95317C16.104 1.98008 16.131 2.00699 16.1579 2.0339C16.1579 2.0339 16.1579 2.0339 16.1848 2.06081C16.2117 2.08772 16.2117 2.11463 16.2386 2.14154V2.16844C16.2386 2.19536 16.2655 2.22226 16.2655 2.22226V2.24917C16.2655 2.27609 16.2655 2.3299 16.2655 2.35681C16.2655 3.11027 16.2655 3.86373 16.2655 4.61719C16.2655 5.58592 16.2655 6.55466 16.2655 7.49647C16.2655 9.16485 16.2655 10.8332 16.2655 12.4747C16.2655 12.8783 16.2655 13.3088 16.2655 13.7125C15.4852 13.7664 14.6779 13.7664 13.8706 13.7664ZM19.2255 14.5737C19.2255 14.6006 19.2255 14.5737 19.2255 14.5737V14.5737ZM21.7012 14.5198C21.7012 14.5467 21.6743 14.6543 21.6743 14.6812C21.6474 14.735 21.6474 14.7888 21.6205 14.8696C21.6205 14.8696 21.6205 14.8696 21.6205 14.8965C21.5936 14.9503 21.5667 14.9772 21.5667 15.0311C21.5397 15.0849 21.5128 15.1118 21.4859 15.1656C21.459 15.1925 21.4052 15.2733 21.3783 15.2733C21.3244 15.3271 21.2975 15.354 21.2437 15.4077C21.2168 15.4346 21.163 15.4616 21.136 15.4885C21.0822 15.5154 21.0554 15.5423 21.0016 15.5692C20.9747 15.5692 20.867 15.623 20.8401 15.623C20.7863 15.65 20.7055 15.65 20.6517 15.6769C20.6517 15.6769 20.6517 15.6769 20.6248 15.6769C20.571 15.6769 20.5171 15.6769 20.4902 15.6769C20.4364 15.6769 20.3826 15.6769 20.3288 15.6769C20.302 15.6769 20.1943 15.65 20.1674 15.65C20.1136 15.623 20.0597 15.623 19.979 15.5961C19.979 15.5961 19.979 15.5961 19.9521 15.5961C19.8983 15.5692 19.8713 15.5423 19.8175 15.5423C19.7637 15.5154 19.7368 15.4885 19.6829 15.4616C19.656 15.4346 19.5754 15.3809 19.5754 15.354C19.5216 15.3002 19.4947 15.2733 19.4408 15.2195C19.4139 15.1925 19.387 15.1387 19.3601 15.1118C19.3332 15.058 19.3063 15.0311 19.2794 14.9772C19.2794 14.9503 19.2255 14.8427 19.2255 14.8158C19.1986 14.7619 19.1986 14.6812 19.1717 14.6275C19.1717 14.6275 19.1717 14.6275 19.1717 14.6006C19.1717 14.5467 19.1717 14.4929 19.1717 14.466C19.1717 14.4122 19.1717 14.3583 19.1717 14.3045C19.1717 14.2776 19.1986 14.2238 19.1986 14.17C19.1986 14.143 19.1986 14.143 19.1986 14.1161C19.1986 14.0623 19.2255 14.0354 19.2524 13.9816V13.9546C19.2524 13.9277 19.2794 13.9277 19.2794 13.9008C19.2794 13.874 19.3063 13.874 19.3063 13.8471C19.3063 13.8202 19.3332 13.8202 19.3332 13.7933C19.3601 13.7664 19.387 13.7395 19.387 13.6856C19.387 13.6856 19.4408 13.6318 19.4678 13.6049C19.4947 13.578 19.4947 13.578 19.4947 13.5511C19.5216 13.4972 19.5754 13.4703 19.6291 13.4434C19.6291 13.4434 19.656 13.4434 19.656 13.4165L19.6829 13.3896C19.7637 13.3358 19.8175 13.3088 19.8983 13.2819C19.9252 13.2819 19.979 13.255 20.0059 13.2281C20.0328 13.2281 20.0597 13.2281 20.0866 13.2012C20.1405 13.2012 20.1943 13.1743 20.2212 13.1743C20.275 13.1743 20.3287 13.1743 20.3826 13.1743C20.4364 13.1743 20.4902 13.1743 20.5441 13.1743C20.571 13.1743 20.6248 13.2012 20.6786 13.2012C20.7055 13.2012 20.7055 13.2012 20.7325 13.2281C20.7863 13.2281 20.8401 13.255 20.867 13.2819C20.8939 13.2819 20.8939 13.3088 20.9208 13.3088C20.9478 13.3088 20.9478 13.3358 20.9747 13.3358C21.0016 13.3627 21.0285 13.3627 21.0554 13.3896C21.0822 13.4165 21.136 13.4434 21.1629 13.4434C21.1899 13.4703 21.2706 13.5241 21.2706 13.5511C21.3244 13.6049 21.3513 13.6318 21.4052 13.6856C21.4052 13.6856 21.4052 13.6856 21.4052 13.7125C21.459 13.7933 21.5128 13.874 21.5397 13.9546C21.5397 13.9816 21.5667 14.0354 21.5667 14.0623C21.5667 14.0892 21.5936 14.1161 21.5936 14.143C21.5936 14.1969 21.6205 14.2238 21.6205 14.2776V14.3045C21.6205 14.3314 21.6205 14.3583 21.6205 14.4122C21.6205 14.4391 21.6205 14.466 21.6205 14.466C21.7012 14.4122 21.7012 14.466 21.7012 14.5198ZM23.3426 13.6856C23.3158 13.7125 23.262 13.7395 23.2351 13.7664C23.2081 13.7664 23.1812 13.7933 23.1274 13.7933H23.1005C23.0736 13.7933 23.0467 13.7933 23.0197 13.7933C22.939 13.7933 22.8852 13.7933 22.8044 13.7933C22.7775 13.7933 22.7506 13.7933 22.7506 13.7933C22.7506 13.7664 22.7506 13.7664 22.7237 13.7395C22.7237 13.7125 22.6968 13.6856 22.6968 13.6587C22.6699 13.6049 22.6699 13.5511 22.643 13.4972C22.643 13.4703 22.616 13.4703 22.616 13.4434C22.5891 13.3896 22.5623 13.3358 22.5354 13.2819C22.5354 13.2819 22.5354 13.255 22.5085 13.255C22.4816 13.2012 22.4547 13.1475 22.4009 13.0937C22.4009 13.0937 22.4009 13.0667 22.3739 13.0667C22.347 13.0129 22.2932 12.9591 22.2663 12.9053C22.2394 12.8783 22.2394 12.8783 22.2125 12.8514C22.1855 12.8245 22.1586 12.7707 22.1048 12.7438C22.1048 12.7438 22.1048 12.7169 22.0779 12.7169C21.6474 12.2863 21.0285 12.0441 20.4095 12.0441C20.2212 12.0441 20.0597 12.071 19.8713 12.098H19.8444C19.8175 12.098 19.7906 12.1249 19.7906 12.1249C19.7637 12.1249 19.7368 12.1249 19.7368 12.1518C19.4139 12.2594 19.091 12.4478 18.8487 12.663C18.822 12.6899 18.822 12.6899 18.795 12.7169C18.7681 12.7438 18.7681 12.7438 18.7412 12.7707C18.6874 12.8245 18.6605 12.8514 18.6066 12.9053C18.6066 12.9053 18.5797 12.9322 18.5797 12.9591C18.5528 13.0129 18.499 13.0667 18.4721 13.1206C18.4721 13.0937 18.4452 13.1206 18.4452 13.1475C18.4182 13.2012 18.3913 13.2281 18.3644 13.2819L18.3375 13.3088C18.3375 13.3088 18.3375 13.3358 18.3106 13.3358C18.2837 13.3896 18.2568 13.4703 18.2299 13.5511V13.578C18.2029 13.6318 18.2029 13.6856 18.176 13.7664C17.907 13.7664 17.6379 13.7664 17.3957 13.7664C17.3957 13.1206 17.3957 12.4747 17.3957 11.8289C17.3957 10.1605 17.3957 8.46521 17.3957 6.79684C17.3957 6.25866 17.3957 5.72047 17.3957 5.18228C18.5259 5.18228 19.6291 5.18228 20.7594 5.18228C20.9478 5.18228 21.136 5.18228 21.3244 5.18228C21.3513 5.18228 21.4052 5.20919 21.4321 5.20919C21.4859 5.20919 21.5397 5.2361 21.5936 5.26301C21.6205 5.26301 21.7012 5.31682 21.7281 5.31682C21.755 5.34374 21.782 5.34374 21.8089 5.37065C21.8089 5.37065 21.8626 5.39755 21.8626 5.42447C21.9164 5.45137 21.9433 5.5052 21.9972 5.5321C22.0241 5.55901 22.0779 5.61283 22.1048 5.63974C22.1317 5.69355 22.1586 5.72047 22.1855 5.77428C22.2125 5.8012 22.2125 5.8281 22.2394 5.88193C22.2394 5.90883 22.2663 5.96265 22.2932 5.96265C22.5085 6.47393 22.6699 7.01211 22.8583 7.5503C23.0736 8.1692 23.2889 8.76121 23.531 9.38012C23.531 10.618 23.531 11.8558 23.531 13.0937C23.531 13.1743 23.531 13.2281 23.531 13.3088C23.531 13.3627 23.5041 13.3896 23.5041 13.4434C23.4772 13.4703 23.4502 13.5241 23.4233 13.5511C23.3964 13.6049 23.3695 13.6318 23.3426 13.6856Z"
                fill="#00000" />
          <path
                d="M22.4278 9.54157C22.4816 9.43394 22.4816 9.3263 22.4547 9.21867V9.19176C22.2395 8.57284 22.0242 7.95394 21.8089 7.36194C21.7551 7.22738 21.7281 7.09284 21.6743 6.95829C21.6205 6.79684 21.5667 6.63538 21.486 6.50084C21.2707 6.17792 20.9209 5.98956 20.5173 5.98956C20.4096 5.98956 20.275 5.98956 20.1674 5.98956C19.71 5.98956 19.2525 5.98956 18.795 5.98956C18.499 5.98956 18.23 6.23175 18.23 6.55465C18.23 7.49648 18.23 8.4114 18.23 9.35322C18.23 9.64922 18.4722 9.9183 18.795 9.9183C19.8446 9.9183 20.8939 9.9183 21.9434 9.9183C21.9704 9.9183 21.9973 9.9183 21.9973 9.9183C22.0242 9.9183 22.0242 9.9183 22.0511 9.9183H22.078C22.1049 9.9183 22.1049 9.91832 22.1318 9.8914C22.1318 9.8914 22.1588 9.8914 22.1588 9.86449C22.1857 9.86449 22.1857 9.83759 22.2126 9.83759C22.2395 9.83759 22.2394 9.81068 22.2663 9.81068L22.2932 9.78376C22.3201 9.75686 22.3201 9.75686 22.347 9.72995L22.3739 9.70303C22.3739 9.67613 22.4009 9.67613 22.4009 9.64922C22.4009 9.5954 22.4009 9.56849 22.4278 9.54157ZM20.5442 7.09284C20.5711 7.11975 20.598 7.11975 20.5442 7.09284V7.09284ZM20.5173 7.09284C20.5442 7.09284 20.5442 7.09284 20.5173 7.09284C20.5442 7.09284 20.5442 7.09284 20.5173 7.09284C20.5442 7.11975 20.5442 7.11975 20.5442 7.14665C20.5442 7.17357 20.5442 7.17357 20.5442 7.20048C20.5711 7.28121 20.598 7.38884 20.6518 7.46957C20.7863 7.8463 20.9209 8.22303 21.0554 8.59976C21.0823 8.65357 21.1092 8.7343 21.1362 8.78813C20.5442 8.78813 19.9253 8.78813 19.3332 8.78813C19.3332 8.22303 19.3332 7.65794 19.3332 7.09284C19.7369 7.06593 20.1136 7.06593 20.5173 7.09284Z"
                fill="#00000" />
          <path
                d="M14.059 5.98956C13.1172 5.98956 12.1753 5.98956 11.2335 5.98956C10.9375 5.98956 10.6685 6.23175 10.6685 6.55465C10.6685 6.87757 10.9106 7.11975 11.2335 7.11975C12.1753 7.11975 13.1172 7.11975 14.059 7.11975C14.3551 7.11975 14.6241 6.87757 14.6241 6.55465C14.6241 6.23175 14.3551 5.98956 14.059 5.98956Z"
                fill="#00000" />
          <path
                d="M14.0589 8.78815C12.9826 8.78815 11.9062 8.78815 10.8567 8.78815C9.34981 8.78815 7.8429 8.78815 6.36288 8.78815C6.20143 8.78815 6.06688 8.78815 5.90543 8.78815C5.60942 8.78815 5.34033 9.03033 5.34033 9.35325C5.34033 9.64925 5.58252 9.91834 5.90543 9.91834C6.98179 9.91834 8.05817 9.91834 9.10763 9.91834C10.6145 9.91834 12.1215 9.91834 13.6015 9.91834C13.763 9.91834 13.8975 9.91834 14.0589 9.91834C14.3549 9.91834 14.6241 9.67615 14.6241 9.35325C14.5972 9.03033 14.3549 8.78815 14.0589 8.78815Z"
                fill="#00000" />
          </svg>
          </i> {{ section.settings.shipping_interval }}<br>
          <span>{{ section.settings.shipping_subtext }}</span>
        </p>
      </div>
      {% endcomment %}

      {%- for c in product.collections -%}
      {%- if section.settings.return_policy_hide_on_collections contains c.handle -%}
      {%- assign return_policy_hide = true -%}
      {%- endif -%}
      {%- endfor -%}

      {%- unless false -%}
      <div class="return-policy show-test_61--mobile">
        <div class="return-policy_header">
          <div class="return-policy_icon">{{section.settings.return_policy_icon}}</div>
          <div class="return-policy_title">{{section.settings.return_policy_heading}}</div>
        </div>
        <div class="return-policy_body">{{section.settings.return_policy_content}}</div>
      </div>
      {%- endunless -%}

      {% include 'shipping-estimate' %}
      {% if section.settings.show_sizechart %}
      {% assign page_content = section.settings.sizechart-pg %}
      <div id="size-chart" class="mfp-hide">
        {{ pages[page_content].content }}
      </div>
      {% if product.options contains 'Size' or 'size' %}
      <div class="ship-est">
        <label class="txt">
          <small> <i class="fa fa-bar-chart"> </i>&nbsp;<a class="size-chart-open-popup"
                                                           href="#size-chart">{{ 'products.product.size_chart' | t }}</a> </small>
        </label>
      </div>
      {% endif %}
      {% endif %}
      {% if section.settings.show_inventory_quant %}
      {% include 'products-inventory' %}
      {% endif %}
      {% if settings.cntd-pl == 'aftr-prdprice' %}
      {% include 'countdown' %}
      {% endif %}

      {% capture "form_classes" -%}
      product-form
      product-form-{{ section.id }}{% if section.settings.enable_payment_button and product.has_only_default_variant%}
      product-form--payment-button-no-variants{% endif %}
      {%- endcapture %}

      {% form 'product', product, class:form_classes, novalidate: 'novalidate', data-product-form: '' %}
      {% unless product.has_only_default_variant %}
      {% for option in product.options_with_values %}
      <div class="selector-wrapper js product-form__item"
           {% if section.settings.varianttype == "swatch" %}style="display:none;" {% endif %}>
        <label {% if option.name == 'default' %}class="label--hidden"
               {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
          {{ option.name }}
        </label>
        <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input"
                id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
          {% for value in option.values %}
          <option value="{{ value | escape }}" {% if option.selected_value == value %} selected="selected" {% endif %}>
            {{ value }}</option>
          {% endfor %}
        </select>
      </div>
      {% endfor %}
      {% endunless %}
      {% if section.settings.varianttype == "swatch"  %}
      {% if product.available and product.variants.size > 1 %}
      {% render 'swatch' for product.options as swatch %}
      {% endif %}
      {% endif %}
      <!--     raja   -->
      <select name="id" id="ProductSelect-{{ section.id }}" class="product-form__variants no-js">
        {% for variant in product.variants %}
        {% if variant.available %}
        <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}
                value="{{ variant.id }}">
          {{ variant.title }}
        </option>
        {% else %}
        <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
        {% endif %}
        {% endfor %}
      </select>
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'paragraph' -%}
      {% include 'product-options-text' %}
      {%- when 'richtext' -%}
      {% include 'product-options-radio' %}
      {%- when 'textarea' -%}
      {% include 'product-options-checkbox' %}
      {%- when 'html' -%}
      {% include 'product-options-file' %}
      {%- endcase -%}
      {%- endfor -%}
      <div class="flexBox">

        {% if section.settings.show_quantity_selector %}
        <div class="product-form__item product-form__item--quantity">
          <label for="Quantity-{{ section.id }}">{{ 'products.product.quantity' | t }}</label>
          <input type="number" id="Quantity-{{ section.id }}" name="quantity" value="1" min="1"
                 class="product-form__input" pattern="[0-9]*" data-quantity-input>
        </div>
        {% endif %}
        <div
             class="product-form__item product-form__item--submit{% if section.settings.enable_payment_button %} product-form__item--payment-button{% endif %}{% if product.has_only_default_variant %} product-form__item--no-variants{% endif %}">
          <div id="wrap-to-reach"> </div>
          <button id="wrap-to-add" type="submit" name="add" {% unless current_variant.available %} aria-disabled="true"
                  {% endunless %}
                  aria-label="{% unless current_variant.available %}{{ 'products.product.sold_out' | t }}{% else %}{{ 'products.product.add_to_cart' | t }}{% endunless %}"
                  class="{% if section.settings.show_shaky_addtocart %} anim-addtocart {% endif %}  btn product-form__cart-submit{% if section.settings.enable_payment_button %} btn--secondary-accent{% endif %}"
                  data-add-to-cart>
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <span data-add-to-cart-text>
              {% unless current_variant.available %}
              {{ 'products.product.sold_out' | t }}
              {% else %}
              {{ 'products.product.add_to_cart' | t }}
              {% endunless %}
            </span>
            <span class="hide" data-loader>
              <i class="fa fa-spinner icon-spinner" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        {% if settings.enable_wishlist and true %}
        <a style="margin-bottom: 11px;" href="#" data-product-handle="{{ product.handle }}" class="btn tooltiptext add-to-wishlist" title="{{ 'customer.account.my_wishlist' | t }}"><i class="fa fa-heart-o"></i></a>
        {% endif %}
      </div>
      {% if section.settings.enable_payment_button and product.available %}
      <div class="product-form__item hide-test_82">
        <div class="product-form__item__dynamic-checkout">
          {{ form | payment_button }}
        </div>
      </div>
      <div class="product-form__item show-test_82 {% if settings.enable_wishlist %} flexBox{% endif %}">
        <div class="product-form__item__dynamic-checkout">
          {{ form | payment_button }}
        </div>
        {% if settings.enable_wishlist %}
        <div class="product-form__item__wishlist">
          <a href="#" data-product-handle="{{ product.handle }}" data-add-to-wishlist="{{ settings.add_to_wishlist_text }}"
             data-added-to-wishlist="{{ settings.added_to_wishlist_text }}" class="add-to-wishlist show-test_82">
            <i class="fa fa-heart-o"></i>
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}

      {% if product.available %}
      <div class="payment-methods__wrapper">
        <p class="h4">More payment options</p>
        {% render 'payment-methods' %}
      </div>
      {% endif %}
      <div class="product-form__error-message-wrapper product-form__error-message-wrapper--hidden"
           data-error-message-wrapper role="alert">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>  <span class="product-form__error-message"
                                                                             data-error-message>{{ 'products.product.quantity_minimum_message' | t }}</span>
      </div>

      {% if settings.ship-estim-pl == 'bfr-addtocart' %}
      {% include 'ship-estim' %}
      {% endif %}
      {% if settings.trust-slc == 'bfr-addcart' %}
      {% include 'trust-badge' %}
      {% endif %}
      {% endform %}
      <div></div>


      {%- render 'product-colours-available' product: product -%}

      {% comment %} hide by test_82
      {% if settings.enable_wishlist %}

      <a href="#" data-product-handle="{{ product.handle }}" data-add-to-wishlist="{{ settings.add_to_wishlist_text }}"
         data-added-to-wishlist="{{ settings.added_to_wishlist_text }}" class="add-to-wishlist show-test_82"><i
                                                                                                                class="fa fa-heart-o"></i>
      </a>
      {% endif %}
      {% endcomment %}

      {% if settings.trust-slc == 'aftr-addcart' %}
      {% include 'trust-badge' %}
      {% endif %}
      {% if settings.cntd-pl == 'aftr-cart' %}
      {% include 'countdown' %}
      {% endif %}
      {% if settings.ship-estim-pl == 'aftr-addtocart' %}
      {% include 'ship-estim' %}
      {% endif %}
      {%- comment -%}
      Live region for announcing updated price and availability to screen readers
      {%- endcomment -%}
      <p class="visually-hidden" data-product-status aria-live="polite" role="status"></p>
      <p class="visually-hidden" data-loader-status aria-live="assertive" role="alert" aria-hidden="true">
        {{ 'products.product.loader_label' | t }}</p>
      {% if section.settings.show_share_buttons %}
      {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
      {% endif %}
      <div id="product-recommendations-60" class="product-recommendations-60">
      </div>
      <div class="product-single__description rte">
        {% include 'product-tabs' %}
      </div>

    </div>
    {% if settings.product_addtocart_sticky != blank %}
    {% include 'sticky' %}
    {% endif %}
  </div>
</div>


{% unless product == empty %}
<script type="application/json" id="ProductJson-{{ section.id }}">{{ product | json }}</script>
{% endunless %}
<script>
  var variantImages = {},
      thumbnails,
      variant,
      variantImage,
      optionValue,
      productOptions = [];
  {% for variant in product.variants %}
  variant = {{ variant | json }};
  if ( typeof variant.featured_image !== 'undefined' && variant.featured_image !== null ) {
    variantImage =  variant.featured_image.src.split('?')[0].replace(/http(s)?:/,'');
    variantImages[variantImage] = variantImages[variantImage] || {};
    {% for option in product.options %}

    {% assign option_value = variant.options[forloop.index0] %}
    {% assign option_key = 'option-' | append: forloop.index0 %}

    if (typeof variantImages[variantImage][{{ option_key | json }}] === 'undefined') {
      variantImages[variantImage][{{ option_key | json }}] = {{ option_value | json }};
    }
    else {
      var oldValue = variantImages[variantImage][{{ option_key | json }}];
      if ( oldValue !== null && oldValue !== {{ option_value | json }} )  {
          variantImages[variantImage][{{ option_key | json }}] = null;
          }
          }
          {% endfor %}
          }
          productOptions.push(variant);
      {% endfor %}
</script>
<style>
  i.fa.fa-heart {
    color: #D72324;
  }
  .fa.fa-heart-o {
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 24px;

  }
  .fa-heart:before {
    font-size: 24px;
    color: white;

  }
  .template-product .product-single .add-to-wishlist {
    padding: 8px 9px !important;
    border: 1px solid #D72324 !important;
    background: #D72324;
  }

  a.btn.tooltiptext.add-to-wishlist:hover {
    color: black;
  }

</style>