
<ul class="site-tab-menu tabs" id="titleTabMenu">
  {% if section.settings.title_linklist_1 != blank and section.settings.main_linklist_1 != blank %}
  	<li> 
        <a href="#tabindoor" class="active" title="{{ section.settings.title_linklist_1 }}">
		  {{ section.settings.title_linklist_1 }}
        </a>
     </li>
  {% endif %}
  {% if section.settings.title_linklist_2 != blank and section.settings.main_linklist_2 != blank %}
  	<li> 
        <a href="#taboutdoor" class="" title="{{ section.settings.title_linklist_2 }}">
		  {{ section.settings.title_linklist_2 }}
        </a>
     </li>
  {% endif %}
  {% if section.settings.title_linklist_3 != blank and section.settings.main_linklist_3 != blank %}
  	<li> 
        <a href="#tabdiy" class="" title="{{ section.settings.title_linklist_3 }}">
		  {{ section.settings.title_linklist_3 }}
        </a>
     </li>
  {% endif %}
</ul> 