<style>.article__grid-image-wrapper img {max-width: 100%;display: block;width: 100%;height: auto;@media only screen and (min-width: 750px) {-webkit-transition: {{settings.lazyload-anim-duration}}s ease;transition: {{settings.lazyload-anim-duration}}s ease;transform: scale(1);&:hover {transform: scale(1.2) !important;}}}.article-style a {text-decoration: none !important;color: {{section.settings.blog-link}};font-weight: bold;}.article-style a:hover {color: {{section.settings.blog-link-hover}};}.article-style u {text-decoration: none !important;}.related-article {padding-top: 15px;}.author_wrap {width: 100%;border-top: 1px ridge;border-bottom: 1px ridge;min-height: 40px;padding: 15px 0;margin-top: 15px;overflow: auto;}.blog_author {width: 60%;float:left;@media only screen and (max-width: 749px) {width: 100%;border-bottom: 1px solid;padding-bottom: 15px;}}.blog_author img {width: 80px;height: 80px;border: 1px solid;float:left;margin-right: 15px;}.author_bio {text-align: left;}.author_bio p:nth-child(1) {padding-top: 0px;font-weight: bold;}.author_bio p:nth-child(2) {font-size: 0.9em;}.blog_share {width: 38%;float:right;text-align: right;@media only screen and (max-width: 749px) {width: 100%;float:left;}}.nextPreviousHolder {width: 100%;float: left;text-align: center;}.nextPreviousBtn {width: calc(50% - 20px);float: left;text-align: left;margin: 30px 0;}.nextPreviousBtn:nth-of-type(2) {float: right;margin-left: 40px;text-align: right;}.nextPreviousBtn div {float: left;}.nextPreviousBtn span {font-size: 11px;width: 100%;text-transform: uppercase;letter-spacing: 0.5px;margin-bottom: 5px;}.nextPreviousBtn p {font-weight: 700;font-size: 18px;line-height: 20px;}.nextPreviousBtn div {width: calc(100% - 10px);padding-right: 10px;}.nextPreviousBtn div:nth-of-type(2) {padding-left: 10px;padding-right: 0px;} button.collapsible-toc {background : {{section.settings.toc-btn-bk}};color: {{section.settings.toc-btn-txt}};border: none;  }button.collapsible-toc:hover {background : {{section.settings.toc-btn-hvr-bk}};color: {{section.settings.toc-btn-hvr-txt}};}.featured-article-img{width : 100%;}</style>  
<article class="page-width">
   <div class="grid">
      <div class="grid__item medium-up--four-fifths">
     	{% include 'article-template' %}
     </div>
     <div class="grid__item medium-up--one-fifth">
        {% include 'blog-sidebar' %}
     </div>
   </div>
</article>
<script>function updateTime(decimalTime, wordCount, picCount) {var mins = Math.floor(Math.abs(decimalTime)),secs = Math.floor((Math.abs(decimalTime) * 60) % 60),timeEst = mins + ":" + (secs < 10 ? "0" : "") + secs;var timeestimate = document.createElement("p");timeestimate.id = "timeestimate";if (reportMethod == "roundedTime" || reportMethod == "preciseTime") {var timeTag = document.createElement("time");timeTag.setAttribute("datetime", mins + "m " + secs + "s");if (reportMethod == "roundedTime") {timeTag.innerHTML = (decimalTime > 0.5 ? Math.round(decimalTime) + " min" : secs + " secs");} else {timeTag.innerHTML = mins + ":" + (secs < 10 ? "0" : "") + secs;}timeestimate.appendChild(timeTag);timeestimate.innerHTML += " {{'blogs.article.min_read' | t}}";}if (reportMethod == "wordCount") {timeestimate.innerHTML = "Article length: "+wordCount+" words";if (picCount > 0) {timeestimate.innerHTML += ", "+picCount+" figure"+(picCount > 1 ? "s" : "");    }}articleText.insertBefore(timeestimate, articleText.firstChild);}function addEmUp(element) {var checkTag = articleText.getElementsByTagName(element);for (var i = 0; i < checkTag.length; i++) {wordCount = checkTag[i].innerHTML.split(' ').length;totalCount = totalCount + wordCount;}}function estimateTime() {elementsToCount.forEach(addEmUp);var pictures = articleText.getElementsByTagName("img");completeCount = totalCount + (pictures.length * ((wpm / 60) * secsPerPic));updateTime(completeCount / wpm, totalCount, pictures.length);}var wpm = 200,elementsToCount = ["p", "li", "dd"],secsPerPic = 5,wordCount = 0,totalCount = 0,reportMethod = "roundedTime";articleText = document.getElementsByClassName("entry-content")[0];estimateTime();  </script>  

{% schema %}
{
  "name": {
    "cs": "Příspěvky",
    "da": "Opslag",
    "de": "Posts",
    "en": "Posts",
    "es": "Publicaciones",
    "fi": "Julkaisut",
    "fr": "Articles",
    "it": "Articoli",
    "ja": "投稿",
    "ko": "게시물",
    "nb": "Innlegg",
    "nl": "Berichten",
    "pl": "Posty",
    "pt-BR": "Posts",
    "pt-PT": "Publicações",
    "sv": "Inlägg",
    "th": "โพสต์",
    "tr": "Gönderiler",
    "vi": "Bài viết",
    "zh-CN": "文章",
    "zh-TW": "貼文"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "blog_show_author",
      "label": {
        "cs": "Zobrazit autora",
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pl": "Pokaż autora",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "tr": "Yazarı göster",
        "vi": "Hiển thị tác giả",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_date",
      "label": {
        "cs": "Zobrazit datum",
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pl": "Pokaż datę",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "tr": "Tarihi göster",
        "vi": "Hiển thị ngày",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_update",
      "label": {
        "cs": "Zobrazit „poslední aktualizaci“",
        "da": "Vis 'sidste opdatering'",
        "de": "Letztes 'Update anzeigen'",
        "en": "Show 'last update'",
        "es": "Mostrar 'última actualización'",
        "fi": "Näytä viimeisin päivitys",
        "fr": "Afficher 'dernière mise à jour'",
        "it": "Mostra 'ultimo aggiornamento'",
        "ja": "「最終更新」を表示",
        "ko": "'마지막 업데이트' 표시",
        "nb": "Vis siste oppdatering",
        "nl": "Laatste update tonen",
        "pl": "Pokaż ostatnią aktualizację",
        "pt-BR": "Mostrar última atualização",
        "pt-PT": "Mostrar última atualização",
        "sv": "Visa senaste uppdatering",
        "th": "แสดงการปรับปรุงล่าสุด",
        "tr": "Son güncellemeyi göster",
        "vi": "Hiển thị bản cập nhật cuối cùng",
        "zh-CN": "显示最后更新",
        "zh-TW": "顯示最後更新"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_min",
      "label": {
        "cs": "Zobrazit minuty ke čtení",
        "da": "Vis minutter at læse",
        "de": "Zeige Minuten zum Lesen",
        "en": "Show minutes to read",
        "es": "Mostrar minutos para leer",
        "fi": "Näytä minuutit lukemiseen",
        "fr": "Afficher les minutes à lire",
        "it": "Mostra i minuti da leggere",
        "ja": "読む分を表示する",
        "ko": "읽을 시간 표시",
        "nb": "Vis referat å lese",
        "nl": "Minuten om te lezen weergeven",
        "pl": "Pokaż minuty do przeczytania",
        "pt-BR": "Mostrar minutos para ler",
        "pt-PT": "Mostrar minutos para ler",
        "sv": "Visa protokoll att läsa",
        "th": "แสดงนาทีในการอ่าน",
        "tr": "Okunacak dakikaları göster",
        "vi": "Hiển thị số phút để đọc",
        "zh-CN": "显示分钟阅读",
        "zh-TW": "顯示分鐘閱讀"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_show_bio",
      "label": {
        "cs": "Zobrazit autora bio",
        "da": "Vis biograf forfatter",
        "de": "Autor anzeigen Bio",
        "en": "Show author bio",
        "es": "Mostrar biografía del autor",
        "fi": "Näytä kirjoittajan elämä",
        "fr": "Afficher la biographie de l'auteur",
        "it": "Mostra la biografia dell'autore",
        "ja": "著者の経歴を表示",
        "ko": "작성자 약력 표시",
        "nb": "Vis forfatterbio",
        "nl": "Biografie van auteur weergeven",
        "pl": "Pokaż biografię autora",
        "pt-BR": "Mostrar biografia do autor",
        "pt-PT": "Mostrar biografia do autor",
        "sv": "Visa författarens bio",
        "th": "แสดงผู้เขียน bio",
        "tr": "Yazar biyografisini göster",
        "vi": "Hiển thị tiểu sử tác giả",
        "zh-CN": "显示作者简介",
        "zh-TW": "顯示作者簡介"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Afficher les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_previous_button",
      "label": {
        "cs": "Zobrazit tlačítko předchozí / následující",
        "da": "Vis forrige / næste knap",
        "de": "Vorherige / Nächste Schaltfläche anzeigen",
        "en": "Show previous/next button",
        "es": "Mostrar botón anterior / siguiente",
        "fi": "Näytä edellinen / seuraava painike",
        "fr": "Afficher le bouton précédent / suivant",
        "it": "Mostra pulsante precedente/successivo",
        "ja": "前/次のボタンを表示",
        "ko": "이전/다음 버튼 표시",
        "nb": "Vis forrige / neste knapp",
        "nl": "Toon vorige/volgende knop",
        "pl": "Pokaż poprzedni/następny przycisk",
        "pt-BR": "Mostrar botão anterior / próximo",
        "pt-PT": "Mostrar botão anterior / próximo",
        "sv": "Visa föregående / nästa knapp",
        "th": "แสดงปุ่มก่อนหน้า/ถัดไป",
        "tr": "Önceki/sonraki düğmesini göster",
        "vi": "Hiển thị nút trước đó / tiếp theo",
        "zh-CN": "显示上一个/下一个按钮",
        "zh-TW": "顯示上一個/下一個按鈕"
      },
      "default": true
    },
    {
      "type": "color",
      "id": "blog-link",
      "label": {
        "cs": "Odkaz",
        "da": "Link",
        "de": "Link",
        "en": "Link",
        "es": "Enlace",
        "fi": "Linkki",
        "fr": "Lien",
        "it": "Link",
        "ja": "リンク",
        "ko": "링크",
        "nb": "Kobling",
        "nl": "Link",
        "pl": "Link",
        "pt-BR": "Link",
        "pt-PT": "Ligação",
        "sv": "Länk",
        "th": "ลิงก์",
        "tr": "Bağlantı",
        "vi": "Liên kết",
        "zh-CN": "链接",
        "zh-TW": "連結"
      },
      "default": "#A0A0A0"
    },
    {
      "type": "color",
      "id": "blog-link-hover",
      "label": {
        "cs": "Odkaz při najetí myší",
        "da": "Link på svæver",
        "de": "Link auf Schwebeflug",
        "en": "Link on hover",
        "es": "Enlace al pasar el mouse",
        "fi": "Linkki hiirellä",
        "fr": "Lien en survol",
        "it": "Link al passaggio del mouse",
        "ja": "ホバー上のリンク",
        "ko": "마우스 오버 시 링크",
        "nb": "Link på sveve",
        "nl": "Link op hover",
        "pl": "Link po najechaniu myszką",
        "pt-BR": "Link ao pairar",
        "pt-PT": "Link ao pairar",
        "sv": "Länk på svävar",
        "th": "ลิงก์บนโฮเวอร์",
        "tr": "Fareyle üzerine gelindiğinde bağlantı",
        "vi": "Liên kết khi di chuột",
        "zh-CN": "悬停链接",
        "zh-TW": "懸停鏈接"
      },
      "default": "#A0A0A0"
    },
    {
      "type": "header",
      "content": {
        "cs": "Obsah",
        "da": "Indholdsfortegnelse",
        "de": "Inhaltsverzeichnis",
        "en": "Table of content",
        "es": "Tabla de contenidos",
        "fi": "Sisällysluettelo",
        "fr": "Table des matières",
        "it": "Tabella dei contenuti",
        "ja": "目次",
        "ko": "내용의 테이블",
        "nb": "Innholdsfortegnelse",
        "nl": "Inhoudsopgave",
        "pl": "Spis treści",
        "pt-BR": "Tabela de conteúdo",
        "pt-PT": "Tabela de conteúdo",
        "sv": "Innehållsförteckning",
        "th": "สารบัญ",
        "tr": "İçerik tablosu",
        "vi": "Mục lục",
        "zh-CN": "表中的内容",
        "zh-TW": "表中的內容"
      },
      "info": {
        "cs": "[Potřebovat pomoc?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "da": " [Brug for hjælp?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "de": " [Hulp nodig?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "en": " [Need help?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "es": " [Necesitas ayuda?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "fi": " [Tarvitsetko apua?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "fr": " [Besoin d'aide?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "it": " [Ho bisogno di aiuto?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "ja": " [助けが必要?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "ko": " [도움이 필요하다?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "nb": " [Trenger hjelp?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "nl": " [Hulp nodig?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "pl": " [Potrzebuję pomocy?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "pt-BR": " [Preciso de ajuda?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "pt-PT": " [Preciso de ajuda?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "sv": " [Behövs hjälp?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "th": " [ต้องการความช่วยเหลือ?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "tr": " [yardıma ihtiyacım var?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "vi": " [Cần giúp đỡ?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "zh-CN": " [需要帮忙?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)",
        "zh-TW": " [需要幫忙?](https:\/\/plaktheme.com\/knowledge-kozen\/blog-template---kozen)"
      }
    },
    {
      "type": "checkbox",
      "id": "show_toc",
      "label": {
        "cs": "Umožnit",
        "da": "Aktiver",
        "de": "Aktivieren",
        "en": "Enable",
        "es": "Habilitar",
        "fi": "ota käyttöön",
        "fr": "Activer",
        "it": "Abilitare",
        "ja": "有効",
        "ko": "할 수있게하다",
        "nb": "Muliggjøre",
        "nl": "Inschakelen",
        "pl": "Włączyć",
        "pt-BR": "Habilitar",
        "pt-PT": "Habilitar",
        "sv": "Gör det möjligt",
        "th": "เปิดใช้งาน",
        "tr": "etkinleştirme",
        "vi": "Cho phép",
        "zh-CN": "使能够",
        "zh-TW": "使能夠"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "toc_hd",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": "Table of Content"
    },
    {
      "type": "range",
      "id": "toc-hd-sz",
      "label": {
        "cs": "Velikost textu",
        "da": "Tekststørrelse",
        "de": "Textgröße",
        "en": "Text size",
        "es": "Tamaño del texto",
        "fi": "Tekstin koko",
        "fr": "Taille du texte",
        "it": "Dimensione testo",
        "ja": "文字サイズ",
        "ko": "텍스트 사이즈",
        "nb": "Tekststørrelse",
        "nl": "Tekengrootte",
        "pl": "Rozmiar czcionki",
        "pt-BR": "Tamanho do texto",
        "pt-PT": "Tamanho do texto",
        "sv": "Textstorlek",
        "th": "ขนาดตัวอักษร",
        "tr": "Metin boyutu",
        "vi": "Cỡ văn bản",
        "zh-CN": "文本大小",
        "zh-TW": "文字尺寸"
      },
      "min": 12,
      "max": 30,
      "step": 1,
      "default": 18
    },
    {
      "type": "color",
      "id": "toc-ctn-bk",
      "label": {
        "cs": "Pozadí",
        "da": "Baggrund",
        "de": "Hintergrund",
        "en": "Background",
        "es": "Fondo",
        "fi": "Tausta",
        "fr": "Couleur de fond",
        "it": "Sfondo",
        "ja": "背景",
        "ko": "배경",
        "nb": "Bakgrunn",
        "nl": "Achtergrond",
        "pl": "Tło",
        "pt-BR": "Plano de fundo",
        "pt-PT": "Fundo",
        "sv": "Bakgrund",
        "th": "พื้นหลัง",
        "tr": "Arka plan",
        "vi": "Nền",
        "zh-CN": "背景",
        "zh-TW": "背景"
      },
      "default": "#f1f1f1"
    },
    {
      "type": "color",
      "id": "toc-btn-bk",
      "label": {
        "cs": "pozadí tlačítka",
        "da": "knap baggrund",
        "de": "Schaltflächenhintergrund",
        "en": "button background",
        "es": "fondo del botón",
        "fi": "painikkeen tausta",
        "fr": "fond de bouton",
        "it": "sfondo del pulsante",
        "ja": "ボタンの背景",
        "ko": "버튼 배경",
        "nb": "knapp bakgrunn",
        "nl": "knop achtergrond",
        "pl": "tło przycisku",
        "pt-BR": "fundo do botão",
        "pt-PT": "fundo do botão",
        "sv": "knapp bakgrund",
        "th": "พื้นหลังปุ่ม",
        "tr": "düğme arka planı",
        "vi": "nút nền",
        "zh-CN": "按钮背景",
        "zh-TW": "按鈕背景"
      },
      "default": "#3fb9fc"
    },
    {
      "type": "color",
      "id": "toc-btn-txt",
      "label": {
        "cs": "text tlačítka",
        "da": "knaptekst",
        "de": "Schaltflächentext",
        "en": "button text",
        "es": "botón de texto",
        "fi": "painikkeen teksti",
        "fr": "texte du bouton",
        "it": "testo del pulsante",
        "ja": "ボタンテキスト",
        "ko": "버튼 텍스트",
        "nb": "knappetekst",
        "nl": "knop tekst",
        "pl": "Przycisk tekstowy",
        "pt-BR": "botão de texto",
        "pt-PT": "botão de texto",
        "sv": "knapp-text",
        "th": "ข้อความปุ่ม",
        "tr": "düğme metni",
        "vi": "nút văn bản",
        "zh-CN": "按钮文字",
        "zh-TW": "按鈕文字"
      },
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "toc-btn-hvr-bk",
      "label": {
        "cs": "pozadí tlačítka při najetí myší",
        "da": "knap baggrund på svæve",
        "de": "Tastenhintergrund beim Schweben",
        "en": "button background on hover",
        "es": "fondo del botón al pasar el mouse",
        "fi": "painikkeen tausta hiirellä",
        "fr": "arrière-plan du bouton au survol",
        "it": "sfondo del pulsante al passaggio del mouse",
        "ja": "ホバーのボタンの背景",
        "ko": "마우스 오버 시 버튼 배경",
        "nb": "knapp bakgrunn på sveve",
        "nl": "knopachtergrond bij zweven",
        "pl": "tło przycisku po najechaniu kursorem",
        "pt-BR": "fundo do botão ao pairar",
        "pt-PT": "fundo do botão ao pairar",
        "sv": "knapp bakgrund på svävar",
        "th": "พื้นหลังปุ่มบนโฮเวอร์",
        "tr": "fareyle üzerine gelindiğinde düğme arka planı",
        "vi": "nút nền khi di chuột",
        "zh-CN": "悬停按钮背景",
        "zh-TW": "懸停按鈕背景"
      },
      "default": "#0E32C7"
    },
    {
      "type": "color",
      "id": "toc-btn-hvr-txt",
      "label": {
        "cs": "text tlačítka při najetí myší",
        "da": "knaptekst på markøren",
        "de": "Schaltflächentext beim Hover",
        "en": "button text on hover",
        "es": "texto del botón al pasar el mouse",
        "fi": "painikkeen teksti hiirellä",
        "fr": "texte du bouton au survol",
        "it": "testo del pulsante al passaggio del mouse",
        "ja": "ホバーのボタンテキスト",
        "ko": "마우스 오버 시 버튼 텍스트",
        "nb": "knapptekst på sveve",
        "nl": "knoptekst bij zweven",
        "pl": "tekst przycisku po najechaniu kursorem",
        "pt-BR": "texto do botão ao pairar",
        "pt-PT": "texto do botão ao pairar",
        "sv": "knapptext på svävaren",
        "th": "ข้อความปุ่มบนโฮเวอร์",
        "tr": "fareyle üzerine gelindiğinde düğme metni",
        "vi": "nút văn bản khi di chuột",
        "zh-CN": "悬停按钮文本",
        "zh-TW": "懸停按鈕文本"
      },
      "default": "#FFFFFF"
    },
    {
      "type": "checkbox",
      "id": "related_articles",
      "label": {
        "cs": "Zobrazit související články",
        "da": "Vis relaterede artikler",
        "de": "Verwandte Artikel anzeigen",
        "en": "Show related articles",
        "es": "Mostrar artículos relacionados",
        "fi": "Näytä aiheeseen liittyvät artikkelit",
        "fr": "Afficher les articles connexes",
        "it": "Mostra articoli correlati",
        "ja": "関連記事を表示する",
        "ko": "관련 기사 보기",
        "nb": "Vis relaterte artikler",
        "nl": "Toon gerelateerde artikelen",
        "pl": "Pokaż powiązane artykuły",
        "pt-BR": "Mostrar artigos relacionados",
        "pt-PT": "Mostrar artigos relacionados",
        "sv": "Visa relaterade artiklar",
        "th": "แสดงบทความที่เกี่ยวข้อง",
        "tr": "İlgili makaleleri göster",
        "vi": "Hiển thị các bài viết liên quan",
        "zh-CN": "显示相关文章",
        "zh-TW": "顯示相關文章"
      },
      "default": true
    },
      {
        "type": "select",
        "id": "nb_related_articles",
        "label": {
        "cs": "Počet článků",
        "da": "Antal artikler",
        "de": "Art auswählen",
        "en": "Number of articles",
        "es": "Seleccione tipo",
        "fi": "Artikkelien lukumäärä",
        "fr": "Sélectionner le genre",
        "it": "Numero di articoli",
        "ja": "記事の数",
        "ko": "기사 수",
        "nb": "Antall artikler",
        "nl": "Aantal artikelen",
        "pl": "Liczba artykułów",
        "pt-BR": "Número de artigos",
        "pt-PT": "Número de artigos",
        "sv": "Antal artiklar",
        "th": "จำนวนบทความ",
        "tr": "makale sayısı",
        "vi": "Số lượng bài báo",
        "zh-CN": "文章数",
        "zh-TW": "文章數"
        },
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          }
        ],
        "default": "4"
      },
    {
      "type": "checkbox",
      "id": "blog_rl_show_author",
      "label": {
        "cs": "Zobrazit autora",
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pl": "Pokaż autora",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "tr": "Yazarı göster",
        "vi": "Hiển thị tác giả",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "blog_rl_show_date",
      "label": {
        "cs": "Zobrazit datum",
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pl": "Pokaż datę",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "tr": "Tarihi göster",
        "vi": "Hiển thị ngày",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
      },
      "default": true
    }
  ],
  "blocks": [
    {
      "type": "html",
      "name": {
        "de": "Benutzerdefiniertes HTML",
        "en": "Custom HTML",
        "es": "HTML personalizado",
        "fr": "HTML personnalisé"
      },
      "settings": [
        {
          "type": "radio",
          "id": "html-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "cs": "Pouze mobilní zařízení",
                "da": "Kun mobil",
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fi": "Vain mobiililaite",
                "fr": "Mobile uniquement",
                "it": "Solo cellulare",
                "ja": "モバイルのみ",
                "ko": "모바일 전용",
                "nb": "Bare mobil",
                "nl": "Alleen mobiel",
                "pl": "Tylko telefon komórkowy",
                "pt-BR": "Apenas para celular",
                "pt-PT": "Apenas para celular",
                "sv": "Bare mobil",
                "th": "มือถือเท่านั้น",
                "tr": "Yalnızca mobil",
                "vi": "Chỉ di động",
                "zh-CN": "仅限手机",
                "zh-TW": "僅限手機"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "cs": "Pouze počítač",
                "da": "Kun computer",
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fi": "Vain tietokone",
                "fr": "Ordinateur uniquement",
                "it": "Solo computer",
                "ja": "コンピューターのみ",
                "ko": "컴퓨터 전용",
                "nb": "Bare datamaskin",
                "nl": "Alleen computer",
                "pl": "Tylko komputer",
                "pt-BR": "Apenas computador",
                "pt-PT": "Apenas computador",
                "sv": "Endast dator",
                "th": "คอมพิวเตอร์เท่านั้น",
                "tr": "sadece bilgisayar",
                "vi": "Chỉ máy tính",
                "zh-CN": "仅计算机",
                "zh-TW": "僅計算機"
              }
            },
            {
              "value": "showboth",
              "label": {
                "cs": "Oba",
                "da": "Begge",
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fi": "Molemmat",
                "fr": "Les deux",
                "it": "Tutti e due",
                "ja": "どちらも",
                "ko": "양자 모두",
                "nb": "Både",
                "nl": "Beide",
                "pl": "Obie",
                "pt-BR": "Ambos",
                "pt-PT": "Ambos",
                "sv": "Både",
                "th": "ทั้งคู่",
                "tr": "Her ikisi de",
                "vi": "Cả hai",
                "zh-CN": "两个都",
                "zh-TW": "兩個都"
              }
            }
          ],
          "label": {
            "cs": "Viditelnost",
            "da": "Sigtbarhed",
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fi": "Näkyvyys",
            "fr": "Visibilité",
            "it": "Visibilità",
            "ja": "可視性",
            "ko": "시계",
            "nb": "Synlighet",
            "nl": "Zichtbaarheid",
            "pl": "Widoczność",
            "pt-BR": "Visibilidade",
            "pt-PT": "Visibilidade",
            "sv": "Synlighet",
            "th": "ทัศนวิสัย",
            "tr": "görünürlük",
            "vi": "Hiển thị",
            "zh-CN": "能见度",
            "zh-TW": "能見度"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": "Custom HTML"
        },
        {
          "type": "html",
          "id": "code",
          "label": "HTML",
          "default": "<p>Add your custom html code here <br> <strong> Get help from Plak forum if you don't know what to add </strong> </p>"
        }
      ]
    },
    {
      "type": "collection",
      "name": {
        "cs": "Propagovaný produkt",
        "da": "Fremhævet produkt",
        "de": "Vorgestelltes Produkt",
        "en": "Featured product",
        "es": "Producto destacado",
        "fi": "Esittelyssä oleva tuote",
        "fr": "Produit vedette",
        "it": "Prodotto in primo piano",
        "ja": "おすすめ商品",
        "ko": "특별 상품",
        "nb": "Utvalgt produkt",
        "nl": "Uitgelicht product",
        "pl": "Polecany produkt",
        "pt-BR": "Produto em destaque",
        "pt-PT": "Produto em destaque",
        "sv": "Utvald produkt",
        "th": "สินค้าที่แนะนำ",
        "tr": "Öne çıkan ürün",
        "vi": "Sản phẩm nổi bật",
        "zh-CN": "特色产品",
        "zh-TW": "精選產品"
      },
      "settings": [
        {
          "type": "radio",
          "id": "widgetproduct-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "cs": "Pouze mobilní zařízení",
                "da": "Kun mobil",
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fi": "Vain mobiililaite",
                "fr": "Mobile uniquement",
                "it": "Solo cellulare",
                "ja": "モバイルのみ",
                "ko": "모바일 전용",
                "nb": "Bare mobil",
                "nl": "Alleen mobiel",
                "pl": "Tylko telefon komórkowy",
                "pt-BR": "Apenas para celular",
                "pt-PT": "Apenas para celular",
                "sv": "Bare mobil",
                "th": "มือถือเท่านั้น",
                "tr": "Yalnızca mobil",
                "vi": "Chỉ di động",
                "zh-CN": "仅限手机",
                "zh-TW": "僅限手機"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "cs": "Pouze počítač",
                "da": "Kun computer",
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fi": "Vain tietokone",
                "fr": "Ordinateur uniquement",
                "it": "Solo computer",
                "ja": "コンピューターのみ",
                "ko": "컴퓨터 전용",
                "nb": "Bare datamaskin",
                "nl": "Alleen computer",
                "pl": "Tylko komputer",
                "pt-BR": "Apenas computador",
                "pt-PT": "Apenas computador",
                "sv": "Endast dator",
                "th": "คอมพิวเตอร์เท่านั้น",
                "tr": "sadece bilgisayar",
                "vi": "Chỉ máy tính",
                "zh-CN": "仅计算机",
                "zh-TW": "僅計算機"
              }
            },
            {
              "value": "showboth",
              "label": {
                "cs": "Oba",
                "da": "Begge",
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fi": "Molemmat",
                "fr": "Les deux",
                "it": "Tutti e due",
                "ja": "どちらも",
                "ko": "양자 모두",
                "nb": "Både",
                "nl": "Beide",
                "pl": "Obie",
                "pt-BR": "Ambos",
                "pt-PT": "Ambos",
                "sv": "Både",
                "th": "ทั้งคู่",
                "tr": "Her ikisi de",
                "vi": "Cả hai",
                "zh-CN": "两个都",
                "zh-TW": "兩個都"
              }
            }
          ],
          "label": {
            "cs": "Viditelnost",
            "da": "Sigtbarhed",
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fi": "Näkyvyys",
            "fr": "Visibilité",
            "it": "Visibilità",
            "ja": "可視性",
            "ko": "시계",
            "nb": "Synlighet",
            "nl": "Zichtbaarheid",
            "pl": "Widoczność",
            "pt-BR": "Visibilidade",
            "pt-PT": "Visibilidade",
            "sv": "Synlighet",
            "th": "ทัศนวิสัย",
            "tr": "görünürlük",
            "vi": "Hiển thị",
            "zh-CN": "能见度",
            "zh-TW": "能見度"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": "Sale Products"
        },
        {
          "type": "collection",
          "id": "featured_product_list_collection",
          "label": {
            "de": "Sammlung zu verwenden",
            "en": "Collection to use",
            "es": "Colección para usar",
            "fr": "Collection à utiliser"
          }
        },
        {
          "type": "text",
          "id": "featured_product_limit_all",
          "label": "Number of products to show",
          "default": "3"
        }
      ]
    },
    {
      "type": "banner",
      "name": {
        "cs": "Prapor",
        "da": "Banner",
        "de": "Banner",
        "en": "Banner",
        "es": "Bandera",
        "fi": "Banneri",
        "fr": "Bannière",
        "it": "Banner",
        "ja": "バナー",
        "ko": "배너",
        "nb": "Banner",
        "nl": "Banner",
        "pl": "Transparent",
        "pt-BR": "Bandeira",
        "pt-PT": "Bandeira",
        "sv": "Baner",
        "th": "แบนเนอร์",
        "tr": "afiş",
        "vi": "Ảnh bìa",
        "zh-CN": "横幅",
        "zh-TW": "橫幅"
      },
      "settings": [
        {
          "type": "radio",
          "id": "banner-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "cs": "Pouze mobilní zařízení",
                "da": "Kun mobil",
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fi": "Vain mobiililaite",
                "fr": "Mobile uniquement",
                "it": "Solo cellulare",
                "ja": "モバイルのみ",
                "ko": "모바일 전용",
                "nb": "Bare mobil",
                "nl": "Alleen mobiel",
                "pl": "Tylko telefon komórkowy",
                "pt-BR": "Apenas para celular",
                "pt-PT": "Apenas para celular",
                "sv": "Bare mobil",
                "th": "มือถือเท่านั้น",
                "tr": "Yalnızca mobil",
                "vi": "Chỉ di động",
                "zh-CN": "仅限手机",
                "zh-TW": "僅限手機"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "cs": "Pouze počítač",
                "da": "Kun computer",
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fi": "Vain tietokone",
                "fr": "Ordinateur uniquement",
                "it": "Solo computer",
                "ja": "コンピューターのみ",
                "ko": "컴퓨터 전용",
                "nb": "Bare datamaskin",
                "nl": "Alleen computer",
                "pl": "Tylko komputer",
                "pt-BR": "Apenas computador",
                "pt-PT": "Apenas computador",
                "sv": "Endast dator",
                "th": "คอมพิวเตอร์เท่านั้น",
                "tr": "sadece bilgisayar",
                "vi": "Chỉ máy tính",
                "zh-CN": "仅计算机",
                "zh-TW": "僅計算機"
              }
            },
            {
              "value": "showboth",
              "label": {
                "cs": "Oba",
                "da": "Begge",
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fi": "Molemmat",
                "fr": "Les deux",
                "it": "Tutti e due",
                "ja": "どちらも",
                "ko": "양자 모두",
                "nb": "Både",
                "nl": "Beide",
                "pl": "Obie",
                "pt-BR": "Ambos",
                "pt-PT": "Ambos",
                "sv": "Både",
                "th": "ทั้งคู่",
                "tr": "Her ikisi de",
                "vi": "Cả hai",
                "zh-CN": "两个都",
                "zh-TW": "兩個都"
              }
            }
          ],
          "label": {
            "cs": "Viditelnost",
            "da": "Sigtbarhed",
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fi": "Näkyvyys",
            "fr": "Visibilité",
            "it": "Visibilità",
            "ja": "可視性",
            "ko": "시계",
            "nb": "Synlighet",
            "nl": "Zichtbaarheid",
            "pl": "Widoczność",
            "pt-BR": "Visibilidade",
            "pt-PT": "Visibilidade",
            "sv": "Synlighet",
            "th": "ทัศนวิสัย",
            "tr": "görünürlük",
            "vi": "Hiển thị",
            "zh-CN": "能见度",
            "zh-TW": "能見度"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "banner-on-hover",
          "label": {
            "cs": "Text při najetí myší",
            "da": "Tekst på markøren",
            "de": "Text beim Schweben",
            "en": "Text on hover",
            "es": "Texto al pasar el mouse",
            "fi": "Teksti hiirellä",
            "fr": "Texte au survol",
            "it": "Testo al passaggio del mouse",
            "ja": "ホバーに関するテキスト",
            "ko": "마우스 오버 시 텍스트",
            "nb": "Tekst på sveve",
            "nl": "Tekst op hover on",
            "pl": "Tekst po najechaniu",
            "pt-BR": "Texto ao pairar",
            "pt-PT": "Texto ao pairar",
            "sv": "Text på svävaren",
            "th": "ข้อความบนโฮเวอร์",
            "tr": "Üzerine gelindiğinde metin",
            "vi": "Văn bản khi di chuột",
            "zh-CN": "悬停文本",
            "zh-TW": "懸停文本"
          }
        },
        {
          "type": "image_picker",
          "id": "img_banner",
          "label": {
            "cs": "Obrázek",
            "da": "Billede",
            "de": "Foto",
            "en": "Image",
            "es": "Imagen",
            "fi": "Kuva",
            "fr": "Image",
            "it": "Immagine",
            "ja": "画像",
            "ko": "이미지",
            "nb": "Bilde",
            "nl": "Afbeelding",
            "pl": "Obraz",
            "pt-BR": "Imagem",
            "pt-PT": "Imagem",
            "sv": "Bild",
            "th": "รูปภาพ",
            "tr": "Görsel",
            "vi": "Hình ảnh",
            "zh-CN": "图片",
            "zh-TW": "圖片"
          }
        },
        {
          "type": "url",
          "id": "link",
          "label": {
            "cs": "Odkaz",
            "da": "Link",
            "de": "Link",
            "en": "Link",
            "es": "Enlace",
            "fi": "Linkki",
            "fr": "Lien",
            "it": "Link",
            "ja": "リンク",
            "ko": "링크",
            "nb": "Kobling",
            "nl": "Link",
            "pl": "Link",
            "pt-BR": "Link",
            "pt-PT": "Ligação",
            "sv": "Länk",
            "th": "ลิงก์",
            "tr": "Bağlantı",
            "vi": "Liên kết",
            "zh-CN": "链接",
            "zh-TW": "連結"
          }
        }
      ]
    },
    {
      "type": "newsletter",
      "limit": 1,
      "name": {
        "cs": "Novinky",
        "da": "Nyhedsbrev",
        "de": "Newsletter",
        "en": "Newsletter",
        "es": "Boletín",
        "fi": "Uutiskirje",
        "fr": "Newsletter",
        "it": "Newsletter",
        "ja": "ニュースレター",
        "ko": "뉴스레터",
        "nb": "Nyhetsbrev",
        "nl": "Nieuwsbrief",
        "pl": "Newsletter",
        "pt-BR": "Newsletter",
        "pt-PT": "Newsletter",
        "sv": "Nyhetsbrev",
        "th": "จดหมายข่าว",
        "tr": "Bülten",
        "vi": "Bản tin",
        "zh-CN": "新闻通讯",
        "zh-TW": "電子報"
      },
      "settings": [
        {
          "type": "radio",
          "id": "newsletter-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "cs": "Pouze mobilní zařízení",
                "da": "Kun mobil",
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fi": "Vain mobiililaite",
                "fr": "Mobile uniquement",
                "it": "Solo cellulare",
                "ja": "モバイルのみ",
                "ko": "모바일 전용",
                "nb": "Bare mobil",
                "nl": "Alleen mobiel",
                "pl": "Tylko telefon komórkowy",
                "pt-BR": "Apenas para celular",
                "pt-PT": "Apenas para celular",
                "sv": "Bare mobil",
                "th": "มือถือเท่านั้น",
                "tr": "Yalnızca mobil",
                "vi": "Chỉ di động",
                "zh-CN": "仅限手机",
                "zh-TW": "僅限手機"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "cs": "Pouze počítač",
                "da": "Kun computer",
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fi": "Vain tietokone",
                "fr": "Ordinateur uniquement",
                "it": "Solo computer",
                "ja": "コンピューターのみ",
                "ko": "컴퓨터 전용",
                "nb": "Bare datamaskin",
                "nl": "Alleen computer",
                "pl": "Tylko komputer",
                "pt-BR": "Apenas computador",
                "pt-PT": "Apenas computador",
                "sv": "Endast dator",
                "th": "คอมพิวเตอร์เท่านั้น",
                "tr": "sadece bilgisayar",
                "vi": "Chỉ máy tính",
                "zh-CN": "仅计算机",
                "zh-TW": "僅計算機"
              }
            },
            {
              "value": "showboth",
              "label": {
                "cs": "Oba",
                "da": "Begge",
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fi": "Molemmat",
                "fr": "Les deux",
                "it": "Tutti e due",
                "ja": "どちらも",
                "ko": "양자 모두",
                "nb": "Både",
                "nl": "Beide",
                "pl": "Obie",
                "pt-BR": "Ambos",
                "pt-PT": "Ambos",
                "sv": "Både",
                "th": "ทั้งคู่",
                "tr": "Her ikisi de",
                "vi": "Cả hai",
                "zh-CN": "两个都",
                "zh-TW": "兩個都"
              }
            }
          ],
          "label": {
            "cs": "Viditelnost",
            "da": "Sigtbarhed",
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fi": "Näkyvyys",
            "fr": "Visibilité",
            "it": "Visibilità",
            "ja": "可視性",
            "ko": "시계",
            "nb": "Synlighet",
            "nl": "Zichtbaarheid",
            "pl": "Widoczność",
            "pt-BR": "Visibilidade",
            "pt-PT": "Visibilidade",
            "sv": "Synlighet",
            "th": "ทัศนวิสัย",
            "tr": "görünürlük",
            "vi": "Hiển thị",
            "zh-CN": "能见度",
            "zh-TW": "能見度"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "newsletter_col-title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "info": {
            "de": "Abonnenten werden zu Ihrer \"akzeptiert Marketingmaterial\"-Liste hinzugefügt [Kundenliste.](/admin/customers?query=&accepts_marketing=1)",
            "en": "Subscribers will be added to your “accepts marketing” [customer list.](/admin/customers?query=&accepts_marketing=1)",
            "es": "Se añadirá los suscriptores a tu lista \"acepta marketing\"[lista de clients.](/admin/customers?query=&accepts_marketing=1)",
            "fr": "Les abonnés seront ajoutés à votre [liste de clients](/admin/customers?query=&accepts_marketing=1) « Accepte le marketing »."
          },
          "default": {
            "cs": "Novinky",
            "da": "Nyhedsbrev",
            "de": "Newsletter",
            "en": "Newsletter",
            "es": "Boletín",
            "fi": "Uutiskirje",
            "fr": "Newsletter",
            "it": "Newsletter",
            "ja": "ニュースレター",
            "ko": "뉴스레터",
            "nb": "Nyhetsbrev",
            "nl": "Nieuwsbrief",
            "pl": "Newsletter",
            "pt-BR": "Newsletter",
            "pt-PT": "Newsletter",
            "sv": "Nyhetsbrev",
            "th": "จดหมายข่าว",
            "tr": "Bülten",
            "vi": "Bản tin",
            "zh-CN": "新闻通讯",
            "zh-TW": "電子報"
          }
        }
      ]
    },
    {
      "type": "comments",
      "limit": 1,
      "name": {
        "cs": "Nedávné Komentáře",
        "da": "Seneste kommentarer",
        "de": "Letzte Kommentare",
        "en": "Recent comments",
        "es": "Comentarios Recientes",
        "fi": "Viimeaikaiset kommentit",
        "fr": "Commentaires récents",
        "it": "Commenti recenti",
        "ja": "最近のコメント",
        "ko": "최근 댓글",
        "nb": "Nylige kommentarer",
        "nl": "Recent commentaar",
        "pl": "Ostatnie komentarze",
        "pt-BR": "Comentários recentes",
        "pt-PT": "Comentários recentes",
        "sv": "Senaste kommentarerna",
        "th": "ความเห็นล่าสุด",
        "tr": "Son Yorumlar",
        "vi": "Những ý kiến gần đây",
        "zh-CN": "最近评论",
        "zh-TW": "最近評論"
      },
      "settings": [
        {
          "type": "radio",
          "id": "comments-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "cs": "Pouze mobilní zařízení",
                "da": "Kun mobil",
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fi": "Vain mobiililaite",
                "fr": "Mobile uniquement",
                "it": "Solo cellulare",
                "ja": "モバイルのみ",
                "ko": "모바일 전용",
                "nb": "Bare mobil",
                "nl": "Alleen mobiel",
                "pl": "Tylko telefon komórkowy",
                "pt-BR": "Apenas para celular",
                "pt-PT": "Apenas para celular",
                "sv": "Bare mobil",
                "th": "มือถือเท่านั้น",
                "tr": "Yalnızca mobil",
                "vi": "Chỉ di động",
                "zh-CN": "仅限手机",
                "zh-TW": "僅限手機"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "cs": "Pouze počítač",
                "da": "Kun computer",
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fi": "Vain tietokone",
                "fr": "Ordinateur uniquement",
                "it": "Solo computer",
                "ja": "コンピューターのみ",
                "ko": "컴퓨터 전용",
                "nb": "Bare datamaskin",
                "nl": "Alleen computer",
                "pl": "Tylko komputer",
                "pt-BR": "Apenas computador",
                "pt-PT": "Apenas computador",
                "sv": "Endast dator",
                "th": "คอมพิวเตอร์เท่านั้น",
                "tr": "sadece bilgisayar",
                "vi": "Chỉ máy tính",
                "zh-CN": "仅计算机",
                "zh-TW": "僅計算機"
              }
            },
            {
              "value": "showboth",
              "label": {
                "cs": "Oba",
                "da": "Begge",
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fi": "Molemmat",
                "fr": "Les deux",
                "it": "Tutti e due",
                "ja": "どちらも",
                "ko": "양자 모두",
                "nb": "Både",
                "nl": "Beide",
                "pl": "Obie",
                "pt-BR": "Ambos",
                "pt-PT": "Ambos",
                "sv": "Både",
                "th": "ทั้งคู่",
                "tr": "Her ikisi de",
                "vi": "Cả hai",
                "zh-CN": "两个都",
                "zh-TW": "兩個都"
              }
            }
          ],
          "label": {
            "cs": "Viditelnost",
            "da": "Sigtbarhed",
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fi": "Näkyvyys",
            "fr": "Visibilité",
            "it": "Visibilità",
            "ja": "可視性",
            "ko": "시계",
            "nb": "Synlighet",
            "nl": "Zichtbaarheid",
            "pl": "Widoczność",
            "pt-BR": "Visibilidade",
            "pt-PT": "Visibilidade",
            "sv": "Synlighet",
            "th": "ทัศนวิสัย",
            "tr": "görünürlük",
            "vi": "Hiển thị",
            "zh-CN": "能见度",
            "zh-TW": "能見度"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "recent_comment_title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": "Recent Comments"
        }
      ]
    },
    {
      "type": "tags",
      "limit": 1,
      "name": {
        "cs": "Filtr značek",
        "da": "Tagfilter",
        "de": "Filter nehmen",
        "en": "Tag filter",
        "es": "Tomar filtro",
        "fi": "Ota suodatin",
        "fr": "Filtre de balise",
        "it": "Prendi il filtro",
        "ja": "フィルターを取る",
        "ko": "필터를 가져 가라",
        "nb": "Ta filter",
        "nl": "Neem filter",
        "pl": "Weź filtr",
        "pt-BR": "Pegue o filtro",
        "pt-PT": "Pegue o filtro",
        "sv": "Ta filter",
        "th": "ใช้ตัวกรอง",
        "tr": "filtre al",
        "vi": "Lấy bộ lọc",
        "zh-CN": "取过滤器",
        "zh-TW": "取過濾器"
      },
      "settings": [
        {
          "type": "radio",
          "id": "tags-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "cs": "Pouze mobilní zařízení",
                "da": "Kun mobil",
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fi": "Vain mobiililaite",
                "fr": "Mobile uniquement",
                "it": "Solo cellulare",
                "ja": "モバイルのみ",
                "ko": "모바일 전용",
                "nb": "Bare mobil",
                "nl": "Alleen mobiel",
                "pl": "Tylko telefon komórkowy",
                "pt-BR": "Apenas para celular",
                "pt-PT": "Apenas para celular",
                "sv": "Bare mobil",
                "th": "มือถือเท่านั้น",
                "tr": "Yalnızca mobil",
                "vi": "Chỉ di động",
                "zh-CN": "仅限手机",
                "zh-TW": "僅限手機"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "cs": "Pouze počítač",
                "da": "Kun computer",
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fi": "Vain tietokone",
                "fr": "Ordinateur uniquement",
                "it": "Solo computer",
                "ja": "コンピューターのみ",
                "ko": "컴퓨터 전용",
                "nb": "Bare datamaskin",
                "nl": "Alleen computer",
                "pl": "Tylko komputer",
                "pt-BR": "Apenas computador",
                "pt-PT": "Apenas computador",
                "sv": "Endast dator",
                "th": "คอมพิวเตอร์เท่านั้น",
                "tr": "sadece bilgisayar",
                "vi": "Chỉ máy tính",
                "zh-CN": "仅计算机",
                "zh-TW": "僅計算機"
              }
            },
            {
              "value": "showboth",
              "label": {
                "cs": "Oba",
                "da": "Begge",
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fi": "Molemmat",
                "fr": "Les deux",
                "it": "Tutti e due",
                "ja": "どちらも",
                "ko": "양자 모두",
                "nb": "Både",
                "nl": "Beide",
                "pl": "Obie",
                "pt-BR": "Ambos",
                "pt-PT": "Ambos",
                "sv": "Både",
                "th": "ทั้งคู่",
                "tr": "Her ikisi de",
                "vi": "Cả hai",
                "zh-CN": "两个都",
                "zh-TW": "兩個都"
              }
            }
          ],
          "label": {
            "cs": "Viditelnost",
            "da": "Sigtbarhed",
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fi": "Näkyvyys",
            "fr": "Visibilité",
            "it": "Visibilità",
            "ja": "可視性",
            "ko": "시계",
            "nb": "Synlighet",
            "nl": "Zichtbaarheid",
            "pl": "Widoczność",
            "pt-BR": "Visibilidade",
            "pt-PT": "Visibilidade",
            "sv": "Synlighet",
            "th": "ทัศนวิสัย",
            "tr": "görünürlük",
            "vi": "Hiển thị",
            "zh-CN": "能见度",
            "zh-TW": "能見度"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "sidebar_tag_title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": "Filter by tags"
        }
      ]
    },
    {
      "type": "articles",
      "limit": 1,
      "name": {
        "cs": "Poslední články",
        "da": "Seneste artikler",
        "de": "Aktuelle Artikel",
        "en": "Recent articles",
        "es": "Artículos Recientes",
        "fi": "Viimeisimmät artikkelit",
        "fr": "Articles récents",
        "it": "Articoli recenti",
        "ja": "最近の記事",
        "ko": "최근 기사",
        "nb": "Nylige artikler",
        "nl": "Recente artikelen",
        "pl": "Ostatnie Artykuły",
        "pt-BR": "Artigos recentes",
        "pt-PT": "Artigos recentes",
        "sv": "Senaste artiklar",
        "th": "บทความล่าสุด",
        "tr": "Son Makaleler",
        "vi": "Bài viết gần đây",
        "zh-CN": "近期文章",
        "zh-TW": "近期文章"
      },
      "settings": [
        {
          "type": "radio",
          "id": "recent-articles-visibility",
          "options": [
            {
              "value": "medium-up--hide",
              "label": {
                "cs": "Pouze mobilní zařízení",
                "da": "Kun mobil",
                "de": "Nur mobil",
                "en": "Mobile only",
                "es": "Solo móvil",
                "fi": "Vain mobiililaite",
                "fr": "Mobile uniquement",
                "it": "Solo cellulare",
                "ja": "モバイルのみ",
                "ko": "모바일 전용",
                "nb": "Bare mobil",
                "nl": "Alleen mobiel",
                "pl": "Tylko telefon komórkowy",
                "pt-BR": "Apenas para celular",
                "pt-PT": "Apenas para celular",
                "sv": "Bare mobil",
                "th": "มือถือเท่านั้น",
                "tr": "Yalnızca mobil",
                "vi": "Chỉ di động",
                "zh-CN": "仅限手机",
                "zh-TW": "僅限手機"
              }
            },
            {
              "value": "small--hide",
              "label": {
                "cs": "Pouze počítač",
                "da": "Kun computer",
                "de": "Nur Computer",
                "en": "Desktop only",
                "es": "Solo computadora",
                "fi": "Vain tietokone",
                "fr": "Ordinateur uniquement",
                "it": "Solo computer",
                "ja": "コンピューターのみ",
                "ko": "컴퓨터 전용",
                "nb": "Bare datamaskin",
                "nl": "Alleen computer",
                "pl": "Tylko komputer",
                "pt-BR": "Apenas computador",
                "pt-PT": "Apenas computador",
                "sv": "Endast dator",
                "th": "คอมพิวเตอร์เท่านั้น",
                "tr": "sadece bilgisayar",
                "vi": "Chỉ máy tính",
                "zh-CN": "仅计算机",
                "zh-TW": "僅計算機"
              }
            },
            {
              "value": "showboth",
              "label": {
                "cs": "Oba",
                "da": "Begge",
                "de": "Beide",
                "en": "Both",
                "es": "Ambos",
                "fi": "Molemmat",
                "fr": "Les deux",
                "it": "Tutti e due",
                "ja": "どちらも",
                "ko": "양자 모두",
                "nb": "Både",
                "nl": "Beide",
                "pl": "Obie",
                "pt-BR": "Ambos",
                "pt-PT": "Ambos",
                "sv": "Både",
                "th": "ทั้งคู่",
                "tr": "Her ikisi de",
                "vi": "Cả hai",
                "zh-CN": "两个都",
                "zh-TW": "兩個都"
              }
            }
          ],
          "label": {
            "cs": "Viditelnost",
            "da": "Sigtbarhed",
            "de": "Sichtweite",
            "en": "Visibility",
            "es": "Visibilidad",
            "fi": "Näkyvyys",
            "fr": "Visibilité",
            "it": "Visibilità",
            "ja": "可視性",
            "ko": "시계",
            "nb": "Synlighet",
            "nl": "Zichtbaarheid",
            "pl": "Widoczność",
            "pt-BR": "Visibilidade",
            "pt-PT": "Visibilidade",
            "sv": "Synlighet",
            "th": "ทัศนวิสัย",
            "tr": "görünürlük",
            "vi": "Hiển thị",
            "zh-CN": "能见度",
            "zh-TW": "能見度"
          },
          "default": "showboth"
        },
        {
          "type": "text",
          "id": "sidebar_rc_title",
          "label": {
            "cs": "Nadpis",
            "da": "Overskrift",
            "de": "Titel",
            "en": "Heading",
            "es": "Título",
            "fi": "Otsake",
            "fr": "En-tête",
            "it": "Heading",
            "ja": "見出し",
            "ko": "제목",
            "nb": "Overskrift",
            "nl": "Kop",
            "pl": "Nagłówek",
            "pt-BR": "Título",
            "pt-PT": "Título",
            "sv": "Rubrik",
            "th": "ส่วนหัว",
            "tr": "Başlık",
            "vi": "Tiêu đề",
            "zh-CN": "标题",
            "zh-TW": "標題"
          },
          "default": "Recent articles"
        },
        {
          "type": "checkbox",
          "id": "blog_sd_show_image",
          "label": {
            "cs": "Zobrazit obrázek",
            "da": "Vis billede",
            "de": "Bild anzeigen",
            "en": "Show image",
            "es": "Mostrar imagen",
            "fi": "Näytä kuva",
            "fr": "Afficher l'image",
            "it": "Mostra immagine",
            "ja": "画像を表示",
            "ko": "이미지 표시",
            "nb": "Vis bilde",
            "nl": "Toon afbeelding",
            "pl": "Pokaż obraz",
            "pt-BR": "Mostrar imagem",
            "pt-PT": "Mostrar imagem",
            "sv": "Visa bild",
            "th": "แสดงภาพ",
            "tr": "Resmi göster",
            "vi": "Hiển thị hình ảnh",
            "zh-CN": "显示图片",
            "zh-TW": "顯示圖片"
          },
          "default": true
        },
        {
          "type": "checkbox",
          "id": "blog_sd__show_author",
          "label": {
            "cs": "Zobrazit autora",
            "da": "Vis forfatter",
            "de": "Autor anzeigen",
            "en": "Show author",
            "es": "Mostrar autor",
            "fi": "Näytä tekijä",
            "fr": "Afficher l'auteur",
            "it": "Mostra autore",
            "ja": "執筆者を表示する",
            "ko": "작성자 표시",
            "nb": "Vis forfatter",
            "nl": "Auteur weergeven",
            "pl": "Pokaż autora",
            "pt-BR": "Exibir autor",
            "pt-PT": "Mostrar autor",
            "sv": "Visa författare",
            "th": "แสดงผู้เขียน",
            "tr": "Yazarı göster",
            "vi": "Hiển thị tác giả",
            "zh-CN": "显示作者",
            "zh-TW": "顯示作者"
          },
          "default": true
        },
        {
          "type": "checkbox",
          "id": "blog_sd_show_date",
          "label": {
            "cs": "Zobrazit datum",
            "da": "Vis dato",
            "de": "Datum anzeigen",
            "en": "Show date",
            "es": "Mostrar fecha",
            "fi": "Näytä päivämäärä",
            "fr": "Afficher la date",
            "it": "Mostra data",
            "ja": "日付を表示する",
            "ko": "날짜 표시",
            "nb": "Vis dato",
            "nl": "Datum weergeven",
            "pl": "Pokaż datę",
            "pt-BR": "Exibir data",
            "pt-PT": "Mostrar data",
            "sv": "Visa datum",
            "th": "แสดงวันที่",
            "tr": "Tarihi göster",
            "vi": "Hiển thị ngày",
            "zh-CN": "显示日期",
            "zh-TW": "顯示日期"
          },
          "default": true
        }
      ]
    }
  ]
}
{% endschema %}