<style>.grid--blog{margin-bottom:-30px;overflow:auto}.article__grid-tag{margin-right:10px;font-size:var(--font-size-base) -2px}.article__grid-meta{margin-bottom:30px}@media only screen and (max-width:749px){.article__grid-meta--has-image{float:left;padding-left:var(--gutter-site-mobile)}}.article__grid-excerpt{margin-bottom:13px}.article__grid-image-wrapper{margin:0 auto;position:relative;width:100%;overflow:hidden}.article__grid-image-wrapper img{max-width:100%;display:block;width:100%;height:auto}@media only screen and (min-width:768px){.article__grid-image-wrapper img{-webkit-transition:var(--anim-duration) ease;transition:var(--anim-duration) ease;transform:scale(1)}.article__grid-image-wrapper img:hover{transform:scale(1.2)!important}}.article__grid-image-container{display:block;clear:both;position:relative;margin:0 auto 15px 0;min-height:1px;width:100%;height:100%}@media only screen and (max-width:749px){.article__grid-image-container{float:left;margin:0 0 30px 0}}.article__grid-image-container img{display:block}.article__grid-image{margin:0 auto;width:100%}.js .article__grid-image{position:absolute;top:0}.article__title{margin-bottom:11px;margin-top:11px;font-size:33px;font-weight:900;line-height:bold;text-transform:uppercase;letter-spacing:1px}.article__title-featured{margin-bottom:11px;font-family:BebasNeue;text-transform:uppercase}@media only screen and (max-width:749px){.article__title--has-image{padding-left:22px}}.article__grid-meta .list--inline>li{margin:5px}.article__tags{margin-bottom:15px}.article__tags--list{font-style:italic}.article__link{display:block}@media only screen and (max-width:749px){.article__link{display:-webkit-flex;display:-ms-flexbox;display:flex;width:100%;flex-direction:column}}.article__meta-buttons li+li{margin-left:1.5rem}</style>  
<div class="page-width {{section.settings.feature-blog-visibility}}">
   {% if section.settings.title != blank %}
   <header class="section-header text-center">
      <h2>{{ section.settings.title | escape }}</h2>
   </header>
   {% endif %}
   {%- assign blog = blogs[section.settings.blog] -%}
   {% unless blog.articles_count == 0 %}
   <ul class="grid grid--uniform grid--blog">
      {% for article in blog.articles limit: section.settings.post_limit %}
      <li class="grid__item medium-up--one-third">
         <a href="{{ article.url }}" class="article__link" title="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
            {% if article.image %}
            {% capture img_id %}ArticleImage-{{ article.image.id }}{% endcapture %}
            {% capture img_wrapper_id %}ArticleImageWrapper-{{ article.image.id }}{% endcapture %}
            {%- assign img_url = article.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            {% include 'image-style' with image: article.image, small_style: true, width: 345, height: 345, wrapper_id: img_wrapper_id, img_id: img_id %}
            <div id="{{ img_wrapper_id }}" class="article__grid-image-wrapper js">
               <div class="article__grid-image-container" style="padding-top:{{ 1 | divided_by: article.image.aspect_ratio | times: 100}}%;">
                  <img id="{{ img_id }}"
                     class="article__grid-image lazyload animation--{{settings.lazyloading-effect}}"
                     data-src="{{ img_url }}"
                     data-aspectratio="{{ article.image.aspect_ratio }}"
                     data-sizes="auto"
                     alt="{{ article.image.alt | escape }}" data-expand="-20">
               </div>
            </div>
            {% endif %}
            <h3 class="article__title-featured{% if article.image %} article__title--has-image{% endif %}">
               {{ article.title }}
            </h3>
         </a>
         <div class="article__grid-meta{% if article.image %} article__grid-meta--has-image{% endif %}">
            {% if section.settings.blog_show_author %}
            <i class="fa fa-user"></i>
            <span class="article__author">{{ 'blogs.article.by_author' | t: author: article.author }}</span>
            {% endif %}
            {% if section.settings.blog_show_date %}
            <i class="fa fa-calendar" aria-hidden="true"></i>
            <span class="article__date">
            {{ article.published_at | time_tag: format: 'date' }}
            </span>
            {% endif %}
            {% if article.tags.size > 0 and section.settings.blog_featured_tags %}
            <div class="article__tags rte">
               <ul class="list--inline" aria-label="{{ 'blogs.article.tags' | t }}">
                  <li> <i class="fa fa-tag" aria-hidden="true"></i> </li>
                  {% for tag in article.tags %}
                  <li>                     
                     <a href="{{ blog.url }}/tagged/{{ tag | handle }}" class="article__grid-tag" title="{{ tag }}">{{ tag }}</a>
                  </li>
                  {% endfor %}
               </ul>
            </div>
            {% endif %}
            <div class="rte article__grid-excerpt">
               {% if article.excerpt.size > 0 %}
               {{ article.excerpt }}
               {% else %}
               {{ article.content | strip_html | truncate: 150 }}
               {% endif %}
            </div>
            <ul class="list--inline article__meta-buttons">
               <li>
                  <a href="{{ article.url }}" class="btn btn--tertiary btn--small" aria-label="{{ 'blogs.article.read_more_title' | t: title: article.title }}" title="{{ 'blogs.article.read_more_title' | t: title: article.title }}">
                  {{ 'blogs.article.read_more' | t }}
                  </a>
               </li>
               {% if blog.comments_enabled? and article.comments_count > 0 %}
               <li>
                  <a href="{{ article.url }}#comments" class="article__comment-count btn btn--tertiary btn--small" title="{{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}">
                  {{ 'blogs.comments.comments_with_count' | t: count: article.comments_count }}
                  </a>
               </li>
               {% endif %}
            </ul>
         </div>
      </li>
      {% endfor %}
   </ul>
   {% else %}
   <div class="grid grid--uniform grid--blog">
      {% for i in (1..section.settings.post_limit) %}
      <div class="grid__item medium-up--one-third">
         <div class="article__grid-meta">
            <h3 class="article__title">
               <a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a>
            </h3>
            {% if section.settings.blog_show_author %}
            <span class="article__author">{{ 'homepage.onboarding.blog_author' | t }}</span>
            {% endif %}
            <div class="rte article__grid-excerpt">
               {{ 'homepage.onboarding.blog_excerpt' | t }}
            </div>
            <ul class="list--inline article__meta-buttons">
               <li>
                  <a href="{{ article.url }}" class="btn btn--tertiary btn--small">
                  {{ 'blogs.article.read_more' | t }}
                  </a>
               </li>
            </ul>
         </div>
      </div>
      {% endfor %}
   </div>
   {% endunless %}
   {% if section.settings.show_view_all %}
   <hr class="hr--invisible" aria-hidden="true">
   <div class="text-center">
      <a href="{{ blog.url }}" class="btn" aria-label="{{ 'blogs.article.view_all_blogs' | t }}" title="{{blog.title}}">
      {{ 'blogs.article.view_all' | t }}
      </a>
   </div>
   {% endif %}
</div>
{% schema %}
{
"name": {
    "cs": "Příspěvky na blogu",
    "da": "Blogopslag",
    "de": "Blogposts",
    "en": "Blog posts",
    "es": "Entradas del blog",
    "fi": "Blogijulkaisut",
    "fr": "Articles de blog",
    "it": "Articoli del blog",
    "ja": "ブログ記事",
    "ko": "블로그 게시물",
    "nb": "Blogginnlegg",
    "nl": "Blogberichten",
    "pl": "Posty na blogu",
    "pt-BR": "Posts do blog",
    "pt-PT": "Publicações no blogue",
    "sv": "Blogginlägg",
    "th": "โพสต์บล็อก",
    "tr": "Blog gönderileri",
    "vi": "Bài viết blog",
    "zh-CN": "博客文章",
    "zh-TW": "網誌文章"
},
"class": "index-section",
"settings": [
{
   "type": "radio",
   "id": "feature-blog-visibility",
   "options": [
      { "value": "medium-up--hide", 
        "label": {
        "cs": "Pouze mobilní zařízení",
        "da": "Kun mobil",
        "de": "Nur mobil",
        "en": "Mobile only",
        "es": "Solo móvil",
        "fi": "Vain mobiililaite",
        "fr": "Mobile uniquement",
        "it": "Solo cellulare",
        "ja": "モバイルのみ",
        "ko": "모바일 전용",
        "nb": "Bare mobil",
        "nl": "Alleen mobiel",
        "pl": "Tylko telefon komórkowy",
        "pt-BR": "Apenas para celular",
        "pt-PT": "Apenas para celular",
        "sv": "Bare mobil",
        "th": "มือถือเท่านั้น",
        "tr": "Yalnızca mobil",
        "vi": "Chỉ di động",
        "zh-CN": "仅限手机",
        "zh-TW": "僅限手機"
        }
        },
      { "value": "small--hide", 
        "label": {
        "cs": "Pouze počítač",
        "da": "Kun computer",
        "de": "Nur Computer",
        "en": "Desktop only",
        "es": "Solo computadora",
        "fi": "Vain tietokone",
        "fr": "Ordinateur uniquement",
        "it": "Solo computer",
        "ja": "コンピューターのみ",
        "ko": "컴퓨터 전용",
        "nb": "Bare datamaskin",
        "nl": "Alleen computer",
        "pl": "Tylko komputer",
        "pt-BR": "Apenas computador",
        "pt-PT": "Apenas computador",
        "sv": "Endast dator",
        "th": "คอมพิวเตอร์เท่านั้น",
        "tr": "sadece bilgisayar",
        "vi": "Chỉ máy tính",
        "zh-CN": "仅计算机",
        "zh-TW": "僅計算機"
        }
      },
      { "value": "showboth",
                "label": {
        "cs": "Oba",
        "da": "Begge",
        "de": "Beide",
        "en": "Both",
        "es": "Ambos",
        "fi": "Molemmat",
        "fr": "Les deux",
        "it": "Tutti e due",
        "ja": "どちらも",
        "ko": "양자 모두",
        "nb": "Både",
        "nl": "Beide",
        "pl": "Obie",
        "pt-BR": "Ambos",
        "pt-PT": "Ambos",
        "sv": "Både",
        "th": "ทั้งคู่",
        "tr": "Her ikisi de",
        "vi": "Cả hai",
        "zh-CN": "两个都",
        "zh-TW": "兩個都"
        }
      }
   ],
          "label": {
        "cs": "Viditelnost",
        "da": "Sigtbarhed",
        "de": "Sichtweite",
        "en": "Visibility",
        "es": "Visibilidad",
        "fi": "Näkyvyys",
        "fr": "Visibilité",
        "it": "Visibilità",
        "ja": "可視性",
        "ko": "시계",
        "nb": "Synlighet",
        "nl": "Zichtbaarheid",
        "pl": "Widoczność",
        "pt-BR": "Visibilidade",
        "pt-PT": "Visibilidade",
        "sv": "Synlighet",
        "th": "ทัศนวิสัย",
        "tr": "görünürlük",
        "vi": "Hiển thị",
        "zh-CN": "能见度",
        "zh-TW": "能見度"
        },
"default":   "showboth"
},
{
"type": "text",
"id": "title",
"label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
},
"default": {
    "cs": "Příspěvky na blogu",
    "da": "Blogopslag",
    "de": "Blogposts",
    "en": "Blog posts",
    "es": "Entradas del blog",
    "fi": "Blogijulkaisut",
    "fr": "Articles de blog",
    "it": "Articoli del blog",
    "ja": "ブログ記事",
    "ko": "블로그 게시물",
    "nb": "Blogginnlegg",
    "nl": "Blogberichten",
    "pl": "Posty na blogu",
    "pt-BR": "Posts do blog",
    "pt-PT": "Publicações no blogue",
    "sv": "Blogginlägg",
    "th": "โพสต์บล็อก",
    "tr": "Blog gönderileri",
    "vi": "Bài viết blog",
    "zh-CN": "博客文章",
    "zh-TW": "網誌文章"
}
},
{
"id": "blog",
"type": "blog",
"label": {
        "cs": "Blog",
        "da": "Blog",
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fi": "Blogi",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "ko": "블로그",
        "nb": "Blogg",
        "nl": "Blog",
        "pl": "Blog",
        "pt-BR": "Blog",
        "pt-PT": "Blogue",
        "sv": "Blogg",
        "th": "บล็อก",
        "tr": "Blog",
        "vi": "Blog",
        "zh-CN": "博客",
        "zh-TW": "網誌"
}
},
{
"type": "range",
"id": "post_limit",
"label": {
        "cs": "Příspěvky",
        "da": "Opslag",
        "de": "Posts",
        "en": "Posts",
        "es": "Publicaciones",
        "fi": "Julkaisut",
        "fr": "Articles",
        "it": "Articoli",
        "ja": "投稿",
        "ko": "게시물",
        "nb": "Innlegg",
        "nl": "Berichten",
        "pl": "Posty",
        "pt-BR": "Posts",
        "pt-PT": "Publicações",
        "sv": "Inlägg",
        "th": "โพสต์",
        "tr": "Gönderiler",
        "vi": "Bài viết",
        "zh-CN": "文章",
        "zh-TW": "貼文"
},
"min": 3,
"max": 12,
"step": 3,
"default": 3
},
{
"type": "checkbox",
"id": "blog_show_author",
"label": {
        "cs": "Zobrazit autora",
        "da": "Vis forfatter",
        "de": "Autor anzeigen",
        "en": "Show author",
        "es": "Mostrar autor",
        "fi": "Näytä tekijä",
        "fr": "Afficher l'auteur",
        "it": "Mostra autore",
        "ja": "執筆者を表示する",
        "ko": "작성자 표시",
        "nb": "Vis forfatter",
        "nl": "Auteur weergeven",
        "pl": "Pokaż autora",
        "pt-BR": "Exibir autor",
        "pt-PT": "Mostrar autor",
        "sv": "Visa författare",
        "th": "แสดงผู้เขียน",
        "tr": "Yazarı göster",
        "vi": "Hiển thị tác giả",
        "zh-CN": "显示作者",
        "zh-TW": "顯示作者"
},
"default": false
},
{
"type": "checkbox",
"id": "blog_show_date",
"label": {
        "cs": "Zobrazit datum",
        "da": "Vis dato",
        "de": "Datum anzeigen",
        "en": "Show date",
        "es": "Mostrar fecha",
        "fi": "Näytä päivämäärä",
        "fr": "Afficher la date",
        "it": "Mostra data",
        "ja": "日付を表示する",
        "ko": "날짜 표시",
        "nb": "Vis dato",
        "nl": "Datum weergeven",
        "pl": "Pokaż datę",
        "pt-BR": "Exibir data",
        "pt-PT": "Mostrar data",
        "sv": "Visa datum",
        "th": "แสดงวันที่",
        "tr": "Tarihi göster",
        "vi": "Hiển thị ngày",
        "zh-CN": "显示日期",
        "zh-TW": "顯示日期"
},
"default": true
},
    {
      "type": "checkbox",
      "id": "blog_featured_tags",
      "label": {
        "cs": "Zobrazit značky",
        "da": "Vis tags",
        "de": "Tags anzeigen",
        "en": "Show tags",
        "es": "Mostrar las etiquetas",
        "fi": "Näytä tageja",
        "fr": "Afficher les balises",
        "it": "Mostra tag",
        "ja": "タグを表示する",
        "ko": "태그 표시",
        "nb": "Vis koder",
        "nl": "Toon labels",
        "pl": "Pokaż tagi",
        "pt-BR": "Mostrar tags",
        "pt-PT": "Mostrar tags",
        "sv": "Visa taggar",
        "th": "แสดงแท็ก",
        "tr": "Etiketleri göster",
        "vi": "Hiển thị thẻ",
        "zh-CN": "显示标签",
        "zh-TW": "顯示標籤"
      },
      "default": true
    },
{
"type": "checkbox",
"id": "show_view_all",
"label": {
        "cs": "Zobrazit tlačítko Zobrazit vše",
        "da": "Vis knappen \"Se flere\"",
        "de": "'Alle anzeigen' Button anzeigen",
        "en": "Show 'View all' button",
        "es": "Mostrar el botón 'Ver todo'",
        "fi": "Näytä \"Näytä kaikki\" -painike",
        "fr": "Afficher le bouton “Voir tout”",
        "it": "Mostra il pulsante \"Visualizza tutto\"",
        "ja": "「すべて表示」ボタンを表示する",
        "ko": "'모두 보기' 버튼 표시",
        "nb": "Vis «Se alle»-knapp",
        "nl": "Knop 'Alles weergeven' weergeven",
        "pl": "Pokaż przycisk „Wyświetl wszystkie”",
        "pt-BR": "Exibir botão \"Ver tudo\"",
        "pt-PT": "Mostrar botão 'Ver tudo'",
        "sv": "Visa \"Visa alla\"-knappen",
        "th": "แสดงปุ่ม 'ดูทั้งหมด'",
        "tr": "\"Tümünü görüntüle\" düğmesini göster",
        "vi": "Hiển thị nút \"Xem tất cả\"",
        "zh-CN": "显示“查看全部”按钮",
        "zh-TW": "顯示「檢視全部」按鈕"
},
"default": false
}
],
"presets": [
{
"name": {
    "cs": "Příspěvky na blogu",
    "da": "Blogopslag",
    "de": "Blogposts",
    "en": "Blog posts",
    "es": "Entradas del blog",
    "fi": "Blogijulkaisut",
    "fr": "Articles de blog",
    "it": "Articoli del blog",
    "ja": "ブログ記事",
    "ko": "블로그 게시물",
    "nb": "Blogginnlegg",
    "nl": "Blogberichten",
    "pl": "Posty na blogu",
    "pt-BR": "Posts do blog",
    "pt-PT": "Publicações no blogue",
    "sv": "Blogginlägg",
    "th": "โพสต์บล็อก",
    "tr": "Blog gönderileri",
    "vi": "Bài viết blog",
    "zh-CN": "博客文章",
    "zh-TW": "網誌文章"
},
"category": {
        "cs": "Blog",
        "da": "Blog",
        "de": "Blog",
        "en": "Blog",
        "es": "Blog",
        "fi": "Blogi",
        "fr": "Blog",
        "it": "Blog",
        "ja": "ブログ",
        "ko": "블로그",
        "nb": "Blogg",
        "nl": "Blog",
        "pl": "Blog",
        "pt-BR": "Blog",
        "pt-PT": "Blogue",
        "sv": "Blogg",
        "th": "บล็อก",
        "tr": "Blog",
        "vi": "Blog",
        "zh-CN": "博客",
        "zh-TW": "網誌"
},
"settings": {
"blog": "News",
"post_limit": 3
}
}
]
}
{% endschema %}