<style>.responsive-map-{{ section.id }}{overflow: hidden;padding-bottom:56.25%;position:relative;height:0;}.responsive-map-{{ section.id }} iframe{left:0;top:0;height:100%;width:100%;position:absolute;}</style>  
<div class="{% if section.settings.map-full == blank %} page-width {% endif %} {{section.settings.map-visibility}}">
  {% if section.settings.map-heading != blank %}  
          {% if section.settings.map-h == 'h1'%}
        <h1 class="section-header text-center">{{ section.settings.map-heading | escape }}</h1>
      {% elsif section.settings.map-h == 'h2' %}
        <h2 class="section-header text-center">{{ section.settings.map-heading | escape }}</h2>      
      {% else %}
        <h3 class="section-header text-center">{{ section.settings.map-heading | escape }}</h3>      
      {% endif %} 
  {% endif %}    
<div class="responsive-map-{{ section.id }}"> {{section.settings.map_address}}</div> 
</div>
{% schema %}
{
  "name": {
    "cs": "Mapa",
    "da": "Kort",
    "de": "Karte",
    "en": "Map",
    "es": "Mapa",
    "fi": "Kartta",
    "fr": "Carte",
    "it": "Mappa",
    "ja": "マップ",
    "ko": "지도",
    "nb": "Kart",
    "nl": "Kaart",
    "pl": "Mapa",
    "pt-BR": "Mapa",
    "pt-PT": "Mapa",
    "sv": "Karta",
    "th": "แผนที่",
    "tr": "Harita",
    "vi": "Bản đồ",
    "zh-CN": "地图",
    "zh-TW": "地圖"
  },
  "class": "index-section index-section--flush-medium-up",
  "settings": [
{
"type": "checkbox",
"id": "map-full",
"label": {
            "cs": "Plná šířka",
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pl": "Pełna szerokość",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura total",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "tr": "Tam genişlik",
            "vi": "Độ rộng đầy đủ",
            "zh-CN": "全宽",
            "zh-TW": "全寬度"
},
"default": true
},   
{
   "type": "radio",
   "id": "map-visibility",
   "options": [
      { "value": "medium-up--hide", 
        "label": {
        "cs": "Pouze mobilní zařízení",
        "da": "Kun mobil",
        "de": "Nur mobil",
        "en": "Mobile only",
        "es": "Solo móvil",
        "fi": "Vain mobiililaite",
        "fr": "Mobile uniquement",
        "it": "Solo cellulare",
        "ja": "モバイルのみ",
        "ko": "모바일 전용",
        "nb": "Bare mobil",
        "nl": "Alleen mobiel",
        "pl": "Tylko telefon komórkowy",
        "pt-BR": "Apenas para celular",
        "pt-PT": "Apenas para celular",
        "sv": "Bare mobil",
        "th": "มือถือเท่านั้น",
        "tr": "Yalnızca mobil",
        "vi": "Chỉ di động",
        "zh-CN": "仅限手机",
        "zh-TW": "僅限手機"
        }
        },
      { "value": "small--hide", 
        "label": {
        "cs": "Pouze počítač",
        "da": "Kun computer",
        "de": "Nur Computer",
        "en": "Desktop only",
        "es": "Solo computadora",
        "fi": "Vain tietokone",
        "fr": "Ordinateur uniquement",
        "it": "Solo computer",
        "ja": "コンピューターのみ",
        "ko": "컴퓨터 전용",
        "nb": "Bare datamaskin",
        "nl": "Alleen computer",
        "pl": "Tylko komputer",
        "pt-BR": "Apenas computador",
        "pt-PT": "Apenas computador",
        "sv": "Endast dator",
        "th": "คอมพิวเตอร์เท่านั้น",
        "tr": "sadece bilgisayar",
        "vi": "Chỉ máy tính",
        "zh-CN": "仅计算机",
        "zh-TW": "僅計算機"
        }
      },
      { "value": "showboth",
                "label": {
        "cs": "Oba",
        "da": "Begge",
        "de": "Beide",
        "en": "Both",
        "es": "Ambos",
        "fi": "Molemmat",
        "fr": "Les deux",
        "it": "Tutti e due",
        "ja": "どちらも",
        "ko": "양자 모두",
        "nb": "Både",
        "nl": "Beide",
        "pl": "Obie",
        "pt-BR": "Ambos",
        "pt-PT": "Ambos",
        "sv": "Både",
        "th": "ทั้งคู่",
        "tr": "Her ikisi de",
        "vi": "Cả hai",
        "zh-CN": "两个都",
        "zh-TW": "兩個都"
        }
      }
   ],
          "label": {
        "cs": "Viditelnost",
        "da": "Sigtbarhed",
        "de": "Sichtweite",
        "en": "Visibility",
        "es": "Visibilidad",
        "fi": "Näkyvyys",
        "fr": "Visibilité",
        "it": "Visibilità",
        "ja": "可視性",
        "ko": "시계",
        "nb": "Synlighet",
        "nl": "Zichtbaarheid",
        "pl": "Widoczność",
        "pt-BR": "Visibilidade",
        "pt-PT": "Visibilidade",
        "sv": "Synlighet",
        "th": "ทัศนวิสัย",
        "tr": "görünürlük",
        "vi": "Hiển thị",
        "zh-CN": "能见度",
        "zh-TW": "能見度"
        },
"default":   "showboth"
},
    {
      "id": "map-heading",
      "type": "text",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Our store",
        "da": "Our store",
        "de": "Unser Laden",
        "en": "Our store",
        "es": "Nuestra tienda",
        "fi": "Our store",
        "fr": "Notre boutique",
        "it": "Our store",
        "ja": "Our store",
        "ko": "Our store",
        "nb": "Our store",
        "nl": "Our store",
        "pl": "Our store",
        "pt-BR": "Our store",
        "pt-PT": "Our store",
        "sv": "Our store",
        "th": "Our store",
        "tr": "Our store",
        "vi": "Our store",
        "zh-CN": "Our store",
        "zh-TW": "Our store"  
      }
    },
      {
        "type": "select",
        "id": "map-h",
        "label": {
        "cs": "Značka nadpisu",
        "da": "Overskriftskode",
        "de": "Überschrift-Tag",
        "en": "Heading tag",
        "es": "Etiqueta de encabezado",
        "fi": "Otsikkotunniste",
        "fr": "Balise d'en-tête",
        "it": "Etichetta di intestazione",
        "ja": "見出しタグ",
        "ko": "제목 태그",
        "nb": "Overskrift",
        "nl": "Koptekst",
        "pl": "Tag nagłówka",
        "pt-BR": "Tag de cabeçalho",
        "pt-PT": "Tag de cabeçalho",
        "sv": "Rubrikmärke",
        "th": "แท็กหัวเรื่อง",
        "tr": "başlık etiketi",
        "vi": "Thẻ tiêu đề",
        "zh-CN": "标题标签",
        "zh-TW": "標題標籤"
        },
        "options": [
          {
            "value": "h1",
            "label": {
        "cs": "h1",
        "da": "h1",
        "de": "h1",
        "en": "h1",
        "es": "h1",
        "fi": "h1",
        "fr": "h1",
        "it": "h1",
        "ja": "h1",
        "ko": "h1",
        "nb": "h1",
        "nl": "h1",
        "pl": "h1",
        "pt-BR": "h1",
        "pt-PT": "h1",
        "sv": "h1",
        "th": "h1",
        "tr": "h1",
        "vi": "h1",
        "zh-CN": "h1",
        "zh-TW": "h1"
            }
          },
          {
            "value": "h2",
            "label": {
        "cs": "h2",
        "da": "h2",
        "de": "h2",
        "en": "h2",
        "es": "h2",
        "fi": "h2",
        "fr": "h2",
        "it": "h2",
        "ja": "h2",
        "ko": "h2",
        "nb": "h2",
        "nl": "h2",
        "pl": "h2",
        "pt-BR": "h2",
        "pt-PT": "h2",
        "sv": "h2",
        "th": "h2",
        "tr": "h2",
        "vi": "h2",
        "zh-CN": "h2",
        "zh-TW": "h2"
            }
          },
          {
            "value": "h3",
            "label": {
        "cs": "h3",
        "da": "h3",
        "de": "h3",
        "en": "h3",
        "es": "h3",
        "fi": "h3",
        "fr": "h3",
        "it": "h3",
        "ja": "h3",
        "ko": "h3",
        "nb": "h3",
        "nl": "h3",
        "pl": "h3",
        "pt-BR": "h3",
        "pt-PT": "h3",
        "sv": "h3",
        "th": "h3",
        "tr": "h3",
        "vi": "h3",
        "zh-CN": "h3",
        "zh-TW": "h3"
            }
          }
        ],
        "default": "h2"
      },  
    {
      "type": "html",
      "id": "map_address",
      "label": {
        "cs": "Najít adresu na mapě",
        "da": "Kortadresse",
        "de": "Adresse",
        "en": "Map address",
        "es": "Dirección en el mapa",
        "fi": "Määritä osoite",
        "fr": "Adresse de la carte",
        "it": "Indirizzo su mappa",
        "ja": "マップアドレス",
        "ko": "지도 주소",
        "nb": "Kartadresse",
        "nl": "Adres op kaart",
        "pl": "Adres na mapie",
        "pt-BR": "Endereço no mapa",
        "pt-PT": "Endereço no mapa",
        "sv": "Kartadress",
        "th": "ที่อยู่แผนที่",
        "tr": "Adresi haritada görüntüle",
        "vi": "Địa chỉ bản đồ",
        "zh-CN": "地图地址",
        "zh-TW": "地圖地址"
      },
      "info": {
          "cs": " [Potřebovat pomoc?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "da": " [Brug for hjælp?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "de": " [Hulp nodig?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "en": " [Need help?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "es": " [Necesitas ayuda?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "fi": " [Tarvitsetko apua?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "fr": " [Besoin d'aide?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "it": " [Ho bisogno di aiuto?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "ja": " [助けが必要?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "ko": " [도움이 필요하다?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "nb": " [Trenger hjelp?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "nl": " [Hulp nodig?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "pl": " [Potrzebuję pomocy?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "pt-BR": " [Preciso de ajuda?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "pt-PT": " [Preciso de ajuda?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "sv": " [Behövs hjälp?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "th": " [ต้องการความช่วยเหลือ?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "tr": " [yardıma ihtiyacım var?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "vi": " [Cần giúp đỡ?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "zh-CN": " [需要帮忙?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)",
          "zh-TW": " [需要幫忙?](https:\/\/plaktheme.com\/knowledge-base\/map-section-plak/)"
      },
"default": "<p>iframe code here</p>"
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Mapa",
        "da": "Kort",
        "de": "Karte",
        "en": "Map",
        "es": "Mapa",
        "fi": "Kartta",
        "fr": "Carte",
        "it": "Mappa",
        "ja": "マップ",
        "ko": "지도",
        "nb": "Kart",
        "nl": "Kaart",
        "pl": "Mapa",
        "pt-BR": "Mapa",
        "pt-PT": "Mapa",
        "sv": "Karta",
        "th": "แผนที่",
        "tr": "Harita",
        "vi": "Bản đồ",
        "zh-CN": "地图",
        "zh-TW": "地圖"
      },
      "category": {
        "cs": "Informace o obchodu",
        "da": "Butiksoplysninger",
        "de": "Laden-Info",
        "en": "Store information",
        "es": "Información sobre tu tienda",
        "fi": "Kaupan tiedot",
        "fr": "Renseignements sur votre boutique",
        "it": "Informazioni del negozio",
        "ja": "ストア情報",
        "ko": "스토어 정보",
        "nb": "Butikkinformasjon",
        "nl": "Winkelinformatie",
        "pl": "Informacje o sklepie",
        "pt-BR": "Informações sobre a loja",
        "pt-PT": "Informações da loja",
        "sv": "Butiksinformation",
        "th": "ข้อมูลร้านค้า",
        "tr": "Mağaza bilgileri",
        "vi": "Thông tin cửa hàng",
        "zh-CN": "商店信息",
        "zh-TW": "商店資訊"
      }
    }
  ]
}
{% endschema %}
