<style>@media only screen and (min-width: 768px) {.txt-par1-hd{font-size: {{section.settings.par_hd_sz}}px;letter-spacing: {{section.settings.par_letter_sp}}px; font-weight : bold;}.txt-par1-subhd{font-size: {{section.settings.par_subhd_sz}}px;letter-spacing: {{section.settings.par_letter_sp}}px;}.parallax a {font-size:{{section.settings.par_button_sz}}px;letter-spacing: {{section.settings.par_letter_sp}}px;}.parallax{position: relative;z-index: 1;height:{{section.settings.par_img_sz}}px;}.parallax-over::before{content: '';position: absolute;top: 0;right: 0;bottom: 0;left: 0;background-color: {{section.settings.color_over}};opacity: {{section.settings.par_opacity}}%;}.text-block {position: absolute;text-align : {{section.settings.par_txt_align}};top: {{section.settings.par_txt_top_pos}}%;left: 50%;transform: translate(-50%, -50%);display: inline-block;width : 90%;}}.txt-par1-hd{color: {{ section.settings.color_par1_hd_clr }};}.txt-par1-subhd{color:{{ section.settings.color_par1_subhd_clr }};}.par1_button{border-color: {{ section.settings.color_par1_but_txt }}; !important;background : transparent;    color: {{ section.settings.color_par1_but_txt }}; !important;  }</style>
<div class="small--hide {% if section.settings.paral-full == blank %} page-width {% endif %}">
   {% for block in section.blocks limit: section.blocks.size %} 
   <div class="parallax {% if section.settings.par-en-over %} parallax-over {% endif %} lazyload animation--{{settings.lazyloading-effect}}" 
      style="    
      background-repeat: no-repeat;
        background-attachment: fixed;       
      background-position: center top;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;"     
      data-expand="-40"
        data-bgset="{{block.settings.image | img_url:''}}";
        title="{{block.settings.image.alt | escape }}">
      <div class="text-block">
         {% if block.settings.txt1-hd1 != blank %}         
        {% if block.settings.parallax-h == 'h1'%}
        <h1 class="txt-par1-hd {{block.settings.par1_hd}}"> {{block.settings.txt1-hd1}}</h1>
      {% elsif section.settings.parallax-h == 'h2' %}
        <h2 class="txt-par1-hd {{block.settings.par1_hd}}"> {{block.settings.txt1-hd1}}</h2>      
      {% else %}
        <h3 class="txt-par1-hd {{block.settings.par1_hd}}"> {{block.settings.txt1-hd1}}</h3>      
      {% endif %}                                           
        {% endif %}
         {% if block.settings.txt1-hd2 != blank %}
        {% if section.settings.parallax-subh == 'h2'%}
        <h2 class="txt-par1-subhd {{block.settings.par1_subhd}}"> {{block.settings.txt1-hd2}} </h2>      
      {% else %}
        <h3 class="txt-par1-subhd {{block.settings.par1_subhd}}"> {{block.settings.txt1-hd2}} </h3>      
      {% endif %}                          
        {% endif %}
         {% if block.settings.par1_showbutton %}   
            <a class="par1_button btn btn--tertiary btn--small {{block.settings.par1_button_pos}}" href="{{ block.settings.par1_button_link }}" title="{{ block.settings.par1_button_link | truncate: 22 }}">
            {{ block.settings.par1_button_label | escape }}
            </a> 
         {% endif %}
      </div>
   </div>
   {% endfor %}
</div>
{% schema %}
{
"name": {
        "cs": "Paralaxa",
        "da": "Parallaks",
        "de": "Parallaxe",
        "en": "Parallax",
        "es": "Paralaje",
        "fi": "Parallaksi",
        "fr": "Parallaxe",
        "it": "Parallasse",
        "ja": "視差",
        "ko": "시차",
        "nb": "Parallaks",
        "nl": "Parallax",
        "pl": "Paralaksa",
        "pt-BR": "Paralaxe",
        "pt-PT": "Paralaxe",
        "sv": "Parallax",
        "th": "พารัลแลกซ์",
        "tr": "Paralaks",
        "vi": "Thị sai",
        "zh-CN": "视差",
        "zh-TW": "視差"
},
"settings": [
{
"type": "paragraph",
"content": {
        "cs": "Paralaxa je ve výchozím nastavení skrytá v mobilních zařízeních, protože na některých mobilních zařízeních nebude fungovat",
        "da": "Parallax er som standard skjult på mobilenheder, fordi det ikke fungerer på nogle mobile enheder",
        "de": "Parallax ist auf Mobilgeräten standardmäßig ausgeblendet, da es auf einigen Mobilgeräten nicht funktioniert",
        "en": "Parallax is hidden on mobile by default, because it won't work on some mobile devices ",
        "es": "Parallax está oculto en el móvil de forma predeterminada, porque no funcionará en algunos dispositivos móviles",
        "fi": "Parallaksi on oletusarvoisesti piilotettu matkapuhelimessa, koska se ei toimi joissakin mobiililaitteissa",
        "fr": "La parallaxe est masquée sur mobile par défaut, car elle ne fonctionnera pas sur certains appareils mobiles",
        "it": "Parallax è nascosto sui dispositivi mobili per impostazione predefinita, perché non funzionerà su alcuni dispositivi mobili",
        "ja": "視差は、一部のモバイルデバイスでは機能しないため、デフォルトではモバイルでは非表示になっています",
        "ko": "시차는 일부 모바일 장치에서 작동하지 않기 때문에 기본적으로 모바일에서 숨겨져 있습니다.",
        "nb": "Parallax er skjult på mobil som standard, fordi det ikke fungerer på noen mobile enheter",
        "nl": "Parallax is standaard verborgen op mobiel, omdat het op sommige mobiele apparaten niet werkt",
        "pl": "Paralaksa jest domyślnie ukryta na urządzeniach mobilnych, ponieważ nie będzie działać na niektórych urządzeniach mobilnych mobile",
        "pt-BR": "Parallax está oculto no celular por padrão, porque não funciona em alguns dispositivos móveis",
        "pt-PT": "Parallax está oculto no celular por padrão, porque não funciona em alguns dispositivos móveis",
        "sv": "Parallax är dolt på mobilen som standard, eftersom det inte fungerar på vissa mobila enheter",
        "th": "Parallax ถูกซ่อนไว้บนมือถือโดยค่าเริ่มต้น เนื่องจากจะไม่ทำงานบนอุปกรณ์เคลื่อนที่บางรุ่น",
        "tr": "Paralaks, bazı mobil cihazlarda çalışmadığından varsayılan olarak mobil cihazlarda gizlidir.",
        "vi": "Thị sai bị ẩn trên thiết bị di động theo mặc định vì nó sẽ không hoạt động trên một số thiết bị di động",
        "zh-CN": "默认情况下，视差在移动设备上是隐藏的，因为它在某些移动设备上不起作用",
        "zh-TW": "默認情況下，視差在移動設備上是隱藏的，因為它在某些移動設備上不起作用"
}
},
{
"type": "checkbox",
"id": "paral-full",
"label": {
            "cs": "Plná šířka",
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pl": "Pełna szerokość",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura total",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "tr": "Tam genişlik",
            "vi": "Độ rộng đầy đủ",
            "zh-CN": "全宽",
            "zh-TW": "全寬度"
},
"default": true
},
{
"type": "text",
"id": "par_img_sz",
"label": {
        "cs": "Výška obrazu",
        "da": "Billedhøjde",
        "de": "Bildhöhe",
        "en": "Image height",
        "es": "Altura de imagen",
        "fi": "Kuvan korkeus",
        "fr": "Hauteur de l'image",
        "it": "Altezza immagine",
        "ja": "画像の高さ",
        "ko": "이미지 높이",
        "nb": "Bildens høyde",
        "nl": "Hoogte afbeelding",
        "pl": "Wysokość obrazu",
        "pt-BR": "Altura da imagem",
        "pt-PT": "Altura da imagem",
        "sv": "Bildhöjd",
        "th": "ความสูงของภาพ",
        "tr": "Görüntü yüksekliği",
        "vi": "Chiều cao hình ảnh",
        "zh-CN": "图片高度",
        "zh-TW": "圖片高度"
},
"default": "400"
},
{
"type": "text",
"id": "par_hd_sz",
"label": {
        "cs": "Velikost názvu",
        "da": "Titelstørrelse",
        "de": "Größe des Titels",
        "en": "Header text size",
        "es": "Tamaño del título",
        "fi": "Otsikon koko",
        "fr": "Taille du titre",
        "it": "Dimensione del titolo",
        "ja": "タイトルサイズ",
        "ko": "제목 크기",
        "nb": "Tittelstørrelse",
        "nl": "Titel grootte",
        "pl": "Rozmiar tytułu",
        "pt-BR": "Tamanho do título",
        "pt-PT": "Tamanho do título",
        "sv": "Titelstorlek",
        "th": "ขนาดชื่อเรื่อง",
        "tr": "Başlık boyutu",
        "vi": "Kích thước tiêu đề",
        "zh-CN": "标题大小",
        "zh-TW": "標題大小"
},
"default": "55"
},
{
"type": "text",
"id": "par_subhd_sz",
"label": {
        "cs": "Velikost titulků",
        "da": "Undertekststørrelse",
        "de": "Subheader-Größe",
        "en": "Subheader size",
        "es": "Tamaño del subtítulo",
        "fi": "Tekstityksen koko",
        "fr": "Taille du sous-titre",
        "it": "Dimensione dei sottotitoli",
        "ja": "字幕サイズ",
        "ko": "자막 크기",
        "nb": "Tekststørrelse",
        "nl": "Ondertitel grootte",
        "pl": "Rozmiar napisów",
        "pt-BR": "Tamanho da legenda",
        "pt-PT": "Tamanho da legenda",
        "sv": "Undertextstorlek",
        "th": "ขนาดคำบรรยาย",
        "tr": "altyazı boyutu",
        "vi": "Kích thước phụ đề",
        "zh-CN": "字幕大小",
        "zh-TW": "字幕大小"
},
"default": "25"
},
{
"type": "text",
"id": "par_button_sz",
"label": {
        "cs": "velikost textu tlačítka",
        "da": "knaptekststørrelse",
        "de": "Textgröße der Schaltfläche",
        "en": "button text size",
        "es": "Tamaño del texto del botón",
        "fi": "painikkeen tekstin koko",
        "fr": "Taille du texte du bouton",
        "it": "dimensione del testo del pulsante",
        "ja": "ボタンのテキストサイズ",
        "ko": "버튼 텍스트 크기",
        "nb": "knappestørrelse på knappen",
        "nl": "tekstgrootte knop",
        "pl": "rozmiar tekstu przycisku",
        "pt-BR": "tamanho do texto do botão",
        "pt-PT": "tamanho do texto do botão",
        "sv": "knappens textstorlek",
        "th": "ขนาดตัวอักษรของปุ่ม",
        "tr": "düğme metin boyutu",
        "vi": "kích thước văn bản nút",
        "zh-CN": "按钮文字大小",
        "zh-TW": "按鈕文字大小"
},
"default": "25"
},
{
"type": "text",
"id": "par_letter_sp",
"label": {
        "cs": "Mezery mezi písmeny",
        "da": "Mellemrum mellem bogstaver",
        "de": "Buchstabenabstand",
        "en": "Letter spacing",
        "es": "Espaciado entre letras ",
        "fi": "Kirjainväli",
        "fr": "Espacement des lettres",
        "it": "Spaziatura del carattere",
        "ja": "文字間隔",
        "ko": "문자 간격",
        "nb": "Avstand mellom bokstavene",
        "nl": "Letterafstand",
        "pl": "Odstępy między literami",
        "pt-BR": "Espaçamento entre letras",
        "pt-PT": "Espaçamento entre letras",
        "sv": "Teckenavstånd",
        "th": "ระยะห่างระหว่างตัวอักษร",
        "tr": "Harf boşluğu",
        "vi": "Khoảng cách giữa các chữ cái",
        "zh-CN": "字母间距",
        "zh-TW": "字母間距"
},
"default": "1"
},
{
"type": "radio",
"id": "par_txt_align",
"options": [
{ "value": "right", 
"label": {
                "cs": "Doprava",
                "da": "Højre",
                "de": "Rechts",
                "en": "Right",
                "es": "Derecha",
                "fi": "Oikea",
                "fr": "Droite",
                "it": "Destra",
                "ja": "右",
                "ko": "오른쪽",
                "nb": "Høyre",
                "nl": "Rechts",
                "pl": "Do prawej",
                "pt-BR": "Direita",
                "pt-PT": "Direita",
                "sv": "Höger",
                "th": "ด้านขวา",
                "tr": "Sağ",
                "vi": "Bên phải",
                "zh-CN": "右侧",
                "zh-TW": "右方"
}
},
{ "value": "left", 
"label": {
            "cs": "Doleva",
            "da": "Venstre",
            "de": "Links",
            "en": "Left",
            "es": "Izquierda",
            "fi": "Vasen",
            "fr": "Gauche",
            "it": "Sinistra",
            "ja": "左",
            "ko": "왼쪽",
            "nb": "Venstre",
            "nl": "Links",
            "pl": "Do lewej",
            "pt-BR": "Esquerda",
            "pt-PT": "Esquerda",
            "sv": "Vänster",
            "th": "ด้านซ้าย",
            "tr": "Sol",
            "vi": "Bên trái",
            "zh-CN": "左侧",
            "zh-TW": "左方"
}
},
{ "value": "center",
"label": {
            "cs": "Na střed",
            "da": "Centreret",
            "de": "Mittig",
            "en": "Centered",
            "es": "Centrada",
            "fi": "Keskitetty",
            "fr": "Centré",
            "it": "Centrato",
            "ja": "中央揃え",
            "ko": "센터 맞추기",
            "nb": "Sentrert",
            "nl": "Gecentreerd",
            "pl": "Wyśrodkowane",
            "pt-BR": "Centralizado",
            "pt-PT": "Centrado",
            "sv": "Centrera",
            "th": "ตรงกลาง",
            "tr": "Orta",
            "vi": "Giữa",
            "zh-CN": "居中",
            "zh-TW": "置中"
}
}
],
"label": {
        "cs": "Zarovnání textu",
        "da": "Tekstjustering",
        "de": "Textausrichtung",
        "en": "Text alignment",
        "es": "Alineación de texto",
        "fi": "Tekstin tasaus",
        "fr": "Alignement du texte",
        "it": "Allineamento del testo",
        "ja": "テキストアラインメント",
        "ko": "텍스트 정렬",
        "nb": "Tekstjustering",
        "nl": "Tekstuitlijning",
        "pl": "Wyrównanie tekstu",
        "pt-BR": "Alinhamento de texto",
        "pt-PT": "Alinhamento de texto",
        "sv": "Textjustering",
        "th": "การจัดตำแหน่งข้อความ",
        "tr": "Metin hizalaması",
        "vi": "Căn chỉnh văn bản",
        "zh-CN": "文本对齐方式",
        "zh-TW": "文字對齊"
},
"default":   "left"
},
{
"type": "text",
"id": "par_txt_top_pos",
"label": {
        "cs": "Pozice textu v%",
        "da": "Tekstposition i%",
        "de": "Textposition in %",
        "en": "Text position in %",
        "es": "Posición del texto en%",
        "fi": "Tekstin sijainti prosentteina",
        "fr": "Position du texte en %",
        "it": "Posizione del testo in %",
        "ja": "％単位のテキスト位置",
        "ko": "%의 텍스트 위치",
        "nb": "Tekstposisjon i%",
        "nl": "Tekstpositie in %",
        "pl": "Pozycja tekstu w %",
        "pt-BR": "Posição do texto em%",
        "pt-PT": "Posição do texto em%",
        "sv": "Textposition i%",
        "th": "ตำแหน่งข้อความใน%",
        "tr": "% olarak metin konumu",
        "vi": "Vị trí văn bản trong%",
        "zh-CN": "以 % 为单位的文本位置",
        "zh-TW": "以 % 為單位的文本位置"
},
"default": "50"
},
{
"type": "checkbox",
"id": "par-en-over",
"label": {
        "cs": "Povolit překrytí",
        "da": "Aktivér overlay",
        "de": "Overlay aktivieren",
        "en": "Enable overlay",
        "es": "Habilitar superposición",
        "fi": "Ota peittokuva käyttöön",
        "fr": "Activer la superposition",
        "it": "Abilita sovrapposizione",
        "ja": "オーバーレイを有効にする",
        "ko": "오버레이 활성화",
        "nb": "Aktiver overlegg",
        "nl": "Overlay inschakelen",
        "pl": "Włącz nakładkę",
        "pt-BR": "Habilitar sobreposição",
        "pt-PT": "Habilitar sobreposição",
        "sv": "Aktivera överlägg",
        "th": "เปิดใช้งานการวางซ้อน",
        "tr": "Yer paylaşımını etkinleştir",
        "vi": "Bật lớp phủ",
        "zh-CN": "启用叠加",
        "zh-TW": "啟用疊加"
},
"default": true
},
      {
        "type": "color",
        "id": "color_over",
        "label": {
        "cs": "Barva překrytí",
        "da": "Overlay farve",
        "de": "Überlagerungsfarbe",
        "en": "Overlay color",
        "es": "Color de superposición",
        "fi": "Peitteen väri",
        "fr": "Couleur de superposition",
        "it": "Colore della sovrapposizione",
        "ja": "オーバーレイカラー",
        "ko": "오버레이 색상",
        "nb": "Overleggsfarge",
        "nl": "Overlaykleur",
        "pl": "Kolor nakładki",
        "pt-BR": "Cor de sobreposição",
        "pt-PT": "Cor de sobreposição",
        "sv": "Överläggsfärg",
        "th": "สีซ้อนทับ",
        "tr": "Kaplama rengi",
        "vi": "Lớp phủ màu",
        "zh-CN": "叠加颜色",
        "zh-TW": "疊加顏色"
        },
        "default": "#000000"
      },
      {
        "type": "range",
        "id": "par_opacity",
        "label": {
          "cs": "Neprůhlednost",
          "da": "Uigennemsigtighed",
          "de": "Opazität",
          "en": "Opacity",
          "es": "Opacidad",
          "fi": "Sameus",
          "fr": "Opacité",
          "it": "Opacità",
          "ja": "不透過率",
          "ko": "불투명도",
          "nb": "Gjennomsiktighet",
          "nl": "Doorschijnendheid",
          "pl": "Nieprzezroczystość",
          "pt-BR": "Opacidade",
          "pt-PT": "Opacidade",
          "sv": "Opacitet",
          "th": "ความทึบ",
          "tr": "Opaklık",
          "vi": "Độ chắn sáng",
          "zh-CN": "不透明度",
          "zh-TW": "透明度"
        },
        "min": 1,
        "max": 100,
        "step": 1,
        "unit": {
        "cs": "%",
        "da": "%",
        "de": "%",
        "en": "%",
        "es": "%",
        "fi": "%",
        "fr": "%",
        "it": "%",
        "ja": "%",
        "ko": "%",
        "nb": "%",
        "nl": "%",
        "pl": "%",
        "pt-BR": "%",
        "pt-PT": "%",
        "sv": "%",
        "th": "%",
        "tr": "%",
        "vi": "%",
        "zh-CN": "%",
        "zh-TW": "%"
        },
        "default": 50
      },
      {
        "type": "color",
        "id": "color_par1_hd_clr",
        "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
        },
        "default": "#000000"
      },
      {
        "type": "color",
        "id": "color_par1_subhd_clr",
        "label": {
            "cs": "Podnadpis",
            "da": "Underoverskrift",
            "de": "Untertitel",
            "en": "Subheading",
            "es": "Subtítulo",
            "fi": "Alaotsikko",
            "fr": "Sous-titre",
            "it": "Sottotitolo",
            "ja": "小見出し",
            "ko": "소제목",
            "nb": "Underoverskrift",
            "nl": "Subkop",
            "pl": "Nagłówek podrzędny",
            "pt-BR": "Subtítulo",
            "pt-PT": "Subtítulo",
            "sv": "Underrubrik",
            "th": "หัวเรื่องย่อย",
            "tr": "Alt başlık",
            "vi": "Tiêu đề phụ",
            "zh-CN": "副标题",
            "zh-TW": "子標題"
        },
        "default": "#ccc"
      },
      {
        "type": "color",
        "id": "color_par1_but_txt",
        "label": {
        "cs": "Text tlačítka",
        "da": "Knaptekst",
        "de": "Schaltflächentext",
        "en": "Button text",
        "es": "Botón de texto",
        "fi": "Painikkeen teksti",
        "fr": "Texte du bouton",
        "it": "Testo del pulsante",
        "ja": "ボタンテキスト",
        "ko": "버튼 텍스트",
        "nb": "Knappetekst",
        "nl": "Knop tekst",
        "pl": "Przycisk tekstowy",
        "pt-BR": "Botão de texto",
        "pt-PT": "Botão de texto",
        "sv": "Knapp-text",
        "th": "ข้อความปุ่ม",
        "tr": "Düğme metni",
        "vi": "Nút văn bản",
        "zh-CN": "按钮文字",
        "zh-TW": "按鈕文字"
        },
        "default": "#FFFFFF"
      }
],
"max_blocks": 5,
"blocks": [
{
"type": "text",
"name": {
        "cs": "Paralaxa",
        "da": "Parallaks",
        "de": "Parallaxe",
        "en": "Parallax",
        "es": "Paralaje",
        "fi": "Parallaksi",
        "fr": "Parallaxe",
        "it": "Parallasse",
        "ja": "視差",
        "ko": "시차",
        "nb": "Parallaks",
        "nl": "Parallax",
        "pl": "Paralaksa",
        "pt-BR": "Paralaxe",
        "pt-PT": "Paralaxe",
        "sv": "Parallax",
        "th": "พารัลแลกซ์",
        "tr": "Paralaks",
        "vi": "Thị sai",
        "zh-CN": "视差",
        "zh-TW": "視差"
},
"settings": [
{
"type": "image_picker",
"id": "image",
"label": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
}
},
{
"type": "text",
"id": "txt1-hd1",
"label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
}
},
      {
        "type": "select",
        "id": "parallax-h",
        "label": {
        "cs": "Značka nadpisu",
        "da": "Overskriftskode",
        "de": "Überschrift-Tag",
        "en": "Heading tag",
        "es": "Etiqueta de encabezado",
        "fi": "Otsikkotunniste",
        "fr": "Balise d'en-tête",
        "it": "Etichetta di intestazione",
        "ja": "見出しタグ",
        "ko": "제목 태그",
        "nb": "Overskrift",
        "nl": "Koptekst",
        "pl": "Tag nagłówka",
        "pt-BR": "Tag de cabeçalho",
        "pt-PT": "Tag de cabeçalho",
        "sv": "Rubrikmärke",
        "th": "แท็กหัวเรื่อง",
        "tr": "başlık etiketi",
        "vi": "Thẻ tiêu đề",
        "zh-CN": "标题标签",
        "zh-TW": "標題標籤"
        },
        "options": [
          {
            "value": "h1",
            "label": {
        "cs": "h1",
        "da": "h1",
        "de": "h1",
        "en": "h1",
        "es": "h1",
        "fi": "h1",
        "fr": "h1",
        "it": "h1",
        "ja": "h1",
        "ko": "h1",
        "nb": "h1",
        "nl": "h1",
        "pl": "h1",
        "pt-BR": "h1",
        "pt-PT": "h1",
        "sv": "h1",
        "th": "h1",
        "tr": "h1",
        "vi": "h1",
        "zh-CN": "h1",
        "zh-TW": "h1"
            }
          },
          {
            "value": "h2",
            "label": {
        "cs": "h2",
        "da": "h2",
        "de": "h2",
        "en": "h2",
        "es": "h2",
        "fi": "h2",
        "fr": "h2",
        "it": "h2",
        "ja": "h2",
        "ko": "h2",
        "nb": "h2",
        "nl": "h2",
        "pl": "h2",
        "pt-BR": "h2",
        "pt-PT": "h2",
        "sv": "h2",
        "th": "h2",
        "tr": "h2",
        "vi": "h2",
        "zh-CN": "h2",
        "zh-TW": "h2"
            }
          },
          {
            "value": "h3",
            "label": {
        "cs": "h3",
        "da": "h3",
        "de": "h3",
        "en": "h3",
        "es": "h3",
        "fi": "h3",
        "fr": "h3",
        "it": "h3",
        "ja": "h3",
        "ko": "h3",
        "nb": "h3",
        "nl": "h3",
        "pl": "h3",
        "pt-BR": "h3",
        "pt-PT": "h3",
        "sv": "h3",
        "th": "h3",
        "tr": "h3",
        "vi": "h3",
        "zh-CN": "h3",
        "zh-TW": "h3"
            }
          }
        ],
        "default": "h2"
      },
{
"type": "text",
"id": "txt1-hd2",
"label": {
            "cs": "Podnadpis",
            "da": "Underoverskrift",
            "de": "Untertitel",
            "en": "Subheading",
            "es": "Subtítulo",
            "fi": "Alaotsikko",
            "fr": "Sous-titre",
            "it": "Sottotitolo",
            "ja": "小見出し",
            "ko": "소제목",
            "nb": "Underoverskrift",
            "nl": "Subkop",
            "pl": "Nagłówek podrzędny",
            "pt-BR": "Subtítulo",
            "pt-PT": "Subtítulo",
            "sv": "Underrubrik",
            "th": "หัวเรื่องย่อย",
            "tr": "Alt başlık",
            "vi": "Tiêu đề phụ",
            "zh-CN": "副标题",
            "zh-TW": "子標題"
}
},
      {
        "type": "select",
        "id": "parallax-subh",
        "label": {
        "cs": "Značka podnadpisu",
        "da": "Underoverskrift tag",
        "de": "Untertitel-Tag",
        "en": "Subheading tag",
        "es": "Etiqueta de subtítulo",
        "fi": "Alaotsikkotunniste",
        "fr": "Balise de sous-titre",
        "it": "Tag sottotitolo",
        "ja": "小見出しタグ",
        "ko": "부제목 태그",
        "nb": "Underoverskrift",
        "nl": "Ondertitel tag",
        "pl": "Tag podtytułu",
        "pt-BR": "Tag de subtítulo",
        "pt-PT": "Tag de subtítulo",
        "sv": "Underrubrikstagg",
        "th": "แท็กหัวข้อย่อย",
        "tr": "alt başlık etiketi",
        "vi": "Thẻ tiêu đề phụ",
        "zh-CN": "副标题标签",
        "zh-TW": "副標題標籤"
        },
        "options": [
          {
            "value": "h2",
            "label": {
        "cs": "h2",
        "da": "h2",
        "de": "h2",
        "en": "h2",
        "es": "h2",
        "fi": "h2",
        "fr": "h2",
        "it": "h2",
        "ja": "h2",
        "ko": "h2",
        "nb": "h2",
        "nl": "h2",
        "pl": "h2",
        "pt-BR": "h2",
        "pt-PT": "h2",
        "sv": "h2",
        "th": "h2",
        "tr": "h2",
        "vi": "h2",
        "zh-CN": "h2",
        "zh-TW": "h2"
            }
          },
          {
            "value": "h3",
            "label": {
        "cs": "h3",
        "da": "h3",
        "de": "h3",
        "en": "h3",
        "es": "h3",
        "fi": "h3",
        "fr": "h3",
        "it": "h3",
        "ja": "h3",
        "ko": "h3",
        "nb": "h3",
        "nl": "h3",
        "pl": "h3",
        "pt-BR": "h3",
        "pt-PT": "h3",
        "sv": "h3",
        "th": "h3",
        "tr": "h3",
        "vi": "h3",
        "zh-CN": "h3",
        "zh-TW": "h3"
            }
          }
        ],
        "default": "h3"
      },
{
"type": "checkbox",
"id": "par1_showbutton",
"label": {
        "cs": "Tlačítko Zobrazit",
        "da": "Vis-knap",
        "de": "Zeigen Sie die Schaltfläche",
        "en": "Show button",
        "es": "Mostrar botón",
        "fi": "Näytä-painike",
        "fr": "Afficher le button",
        "it": "Mostra pulsante",
        "ja": "表示ボタン",
        "ko": "버튼 표시",
        "nb": "Vis-knapp",
        "nl": "Toon knop",
        "pl": "Pokaż przycisk",
        "pt-BR": "Mostrar botão",
        "pt-PT": "Mostrar botão",
        "sv": "Visa-knapp",
        "th": "แสดงปุ่ม",
        "tr": "Düğmeyi göster",
        "vi": "Hiển thị nút",
        "zh-CN": "显示按钮",
        "zh-TW": "顯示按鈕"
},
"default": true
},

{
"type": "text",
"id": "par1_button_label",
"label": {
            "cs": "Text tlačítka",
            "da": "Knaptekst",
            "de": "Button-Name",
            "en": "Button label",
            "es": "Etiqueta de botón",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pl": "Przycisk z etykietą",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "tr": "Düğme etiketi",
            "vi": "Nhãn nút",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
}
},
{
"type": "url",
"id": "par1_button_link",
"label": {
            "cs": "Tlačítkový odkaz",
            "da": "Knaplink",
            "de": "Button-Link",
            "en": "Button link",
            "es": "Enlace de la diapositiva",
            "fi": "Painikelinkki",
            "fr": "Lien du bouton",
            "it": "Link slide",
            "ja": "ボタンのリンク",
            "ko": "버튼 링크",
            "nb": "Kobling for knapp",
            "nl": "Knoplink",
            "pl": "Link przycisku",
            "pt-BR": "Link do slide",
            "pt-PT": "Ligação do botão",
            "sv": "Knapplänk",
            "th": "ลิงก์ปุ่ม",
            "tr": "Düğme bağlantısı",
            "vi": "Liên kết trên nút",
            "zh-CN": "按钮链接",
            "zh-TW": "按鈕連結"
}
}
]
}
],
"presets": [
{
"name": {
        "cs": "Paralaxa",
        "da": "Parallaks",
        "de": "Parallaxe",
        "en": "Parallax",
        "es": "Paralaje",
        "fi": "Parallaksi",
        "fr": "Parallaxe",
        "it": "Parallasse",
        "ja": "視差",
        "ko": "시차",
        "nb": "Parallaks",
        "nl": "Parallax",
        "pl": "Paralaksa",
        "pt-BR": "Paralaxe",
        "pt-PT": "Paralaxe",
        "sv": "Parallax",
        "th": "พารัลแลกซ์",
        "tr": "Paralaks",
        "vi": "Thị sai",
        "zh-CN": "视差",
        "zh-TW": "視差"
},
"category": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"    
}
}
]
}
{% endschema %}