{% include 'prod-template1' %}
{% if collection %}
  <div class="text-center return-link-wrapper page-width">
    <a href="{{ collection.url }}" class="btn btn--secondary return-link" title="{{ 'products.product.back_to_collection' | t: title: collection.title }}">
<i class="fa fa-angle-left" aria-hidden="true"></i>
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}
<script>
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  }
</script>
{% assign current_variant = product.selected_or_first_available_variant %}
<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": {{ product.title | json }},
  "url": {{ shop.url | append: product.url | json }},
  {%- if product.featured_media -%}
    {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}
    "image": [
      {{ product.featured_media | img_url: media_size | prepend: "https:" | json }}
    ],
  {%- endif -%}
  "description": {{ product.description | strip_html | json }},
  {%- if current_variant.sku != blank -%}
    "sku": {{ current_variant.sku | json }},
  {%- endif -%}
  "brand": {
    "@type": "Thing",
    "name": {{ product.vendor | json }}
  },
  "offers": [
    {%- for variant in product.variants -%}
      {
        "@type" : "Offer",
        {%- if variant.sku != blank -%}
          "sku": {{ variant.sku | json }},
        {%- endif -%}
        "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
        "price" : {{ variant.price | divided_by: 100.00 | json }},
        "priceCurrency" : {{ cart.currency.iso_code | json }},
        "url" : {{ shop.url | append: variant.url | json }}
      }{% unless forloop.last %},{% endunless %}
    {%- endfor -%}
  ]
}
</script>
{% schema %}
{
  "name": {
    "cs": "Stránky produktů",
    "da": "Produktsider",
    "de": "Produktseiten",
    "en": "Product pages",
    "es": "Páginas de productos",
    "fi": "Tuotesivut",
    "fr": "Pages de produits",
    "it": "Pagine del prodotto",
    "ja": "商品ページ",
    "ko": "제품 페이지",
    "nb": "Produktsider",
    "nl": "Productpagina's",
    "pl": "Strony produktu",
    "pt-BR": "Páginas de produtos",
    "pt-PT": "Páginas de produtos",
    "sv": "Produktsidor",
    "th": "หน้าสินค้า",
    "tr": "Ürün sayfaları",
    "vi": "Trang sản phẩm",
    "zh-CN": "产品页面",
    "zh-TW": "產品頁面"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_inventory_quant",
      "label": {
        "cs": "Zobrazit množství inventáře",
        "da": "Vis beholdningsmængde",
        "de": "Inventarmenge anzeigen",
        "en": "Show inventory level",
        "es": "Mostrar cantidad de inventario",
        "fi": "Näytä varastomäärä",
        "fr": "Afficher la quantité d'inventaire",
        "it": "Mostra la quantità di inventario",
        "ja": "在庫数量を表示する",
        "ko": "재고 수량 표시",
        "nb": "Vis varemengde",
        "nl": "Toon voorraadhoeveelheid",
        "pl": "Pokaż ilość zapasów",
        "pt-BR": "Exibir quantidade de estoque",
        "pt-PT": "Exibir quantidade de estoque",
        "sv": "Visa lagerantal",
        "th": "แสดงปริมาณสินค้าคงคลัง",
        "tr": "Envanter miktarını göster",
        "vi": "Hiển thị số lượng hàng tồn kho",
        "zh-CN": "显示库存数量",
        "zh-TW": "顯示庫存數量"
      },
      "default": true
    },
      {
        "type": "checkbox",
        "id": "enable_ship-estim",
    "label": {
        "cs": "Povolit odhad poštovného",
        "da": "Aktiver forsendelsesestimator",
        "de": "Versandkostenrechner",
        "en": "Enable shipping estimator",
        "es": "Estimador de envío",
        "fi": "Ota toimitusarviointi käyttöön",
        "fr": "Activer l'estimateur d'expédition",
        "it": "Abilita la stima della spedizione",
        "ja": "出荷見積もりを有効にする",
        "ko": "배송 견적 도구 사용",
        "nb": "Aktiver forsendelsesestimator",
        "nl": "Verzendschatter inschakelen",
        "pl": "Włącz szacowanie kosztów wysyłki",
        "pt-BR": "Habilitar estimador de frete",
        "pt-PT": "Habilitar estimador de frete",
        "sv": "Aktivera leveransberäknare",
        "th": "เปิดใช้งานตัวประมาณการการจัดส่ง",
        "tr": "Gönderim tahmincisini etkinleştir",
        "vi": "Bật công cụ ước tính vận chuyển",
        "zh-CN": "启用运费估算器",
        "zh-TW": "啟用運費估算器"
    },
        "default": true,
       "info": {
        "cs": "Přizpůsobte v nastavení motivu",
        "da": "Tilpas i temaindstillinger",
        "de": "Anpassen in den Designeinstellungen",
        "en": "Customize in theme settings",
        "es": "Personalizar en la configuración del tema",
        "fi": "Mukauta teema -asetuksissa",
        "fr": "Personnaliser dans les paramètres du thème",
        "it": "Personalizza nelle impostazioni del tema",
        "ja": "テーマ設定でカスタマイズ",
        "ko": "테마 설정에서 사용자 지정",
        "nb": "Tilpass i temainnstillinger",
        "nl": "Aanpassen in thema-instellingen",
        "pl": "Dostosuj w ustawieniach motywu",
        "pt-BR": "Personalizar nas configurações do tema",
        "pt-PT": "Personalizar nas configurações do tema",
        "sv": "Anpassa i temainställningar",
        "th": "ปรับแต่งในการตั้งค่าธีม",
        "tr": "Tema ayarlarında özelleştirin",
        "vi": "Tùy chỉnh trong cài đặt chủ đề",
        "zh-CN": "在主题设置中自定义",
        "zh-TW": "在主題設置中自定義"
    }

      },
    {
      "type": "checkbox",
      "id": "show_quantity_selector",
      "label": {
        "cs": "Zobrazit výběr množství",
        "da": "Vis antalsvælger",
        "de": "Mengenauswahl anzeigen",
        "en": "Show quantity selector",
        "es": "Mostrar selector de cantidad",
        "fi": "Näytä määrän valitsin",
        "fr": "Afficher le sélecteur de quantité",
        "it": "Mostra selettore quantità",
        "ja": "数量セレクターを表示する",
        "ko": "수량 선택기 표시",
        "nb": "Vis mengdevelger",
        "nl": "Hoeveelheidskiezer weergeven",
        "pl": "Pokaż selektor ilości",
        "pt-BR": "Exibir seletor de quantidade",
        "pt-PT": "Mostrar um seletor de quantidade",
        "sv": "Visa kvantitetsväljare",
        "th": "แสดงตัวเลือกจำนวน",
        "tr": "Adet seçiciyi göster",
        "vi": "Hiển thị hộp chọn số lượng",
        "zh-CN": "显示数量选择器",
        "zh-TW": "顯示數量選擇器"
      },
      "default": false
    },
      {
        "type": "checkbox",
        "id": "enable_trust",
    "label": {
        "cs": "Odznak důvěry",
        "da": "Tillidsmærke",
        "de": "Vertrauensabzeichen",
        "en": "Enable trust badge",
        "es": "insignia de confianza",
        "fi": "Luottamusmerkki",
        "fr": "Badge de confiance",
        "it": "Distintivo di fiducia",
        "ja": "トラストバッジ",
        "ko": "신뢰 배지",
        "nb": "Tillitsmerke",
        "nl": "Vertrouwensbadge",
        "pl": "Odznaka zaufania",
        "pt-BR": "Selo de confiança",
        "pt-PT": "Selo de confiança",
        "sv": "Lita på märket",
        "th": "ป้ายความน่าเชื่อถือ",
        "tr": "güven rozeti",
        "vi": "Huy hiệu tin cậy",
        "zh-CN": "信任徽章",
        "zh-TW": "信任徽章"
    },
        "default": true,
"info":      "Customize in Theme settings"
      },
    {
      "type": "checkbox",
      "id": "disc-percent",
      "label": {
        "cs": "Zobrazit text slevy",
        "da": "Vis rabattekst",
        "de": "Rabatt-Label aktivieren",
        "en": "Show discount text",
        "es": "Activar etiqueta de descuento",
        "fi": "Näytä alennusteksti",
        "fr": "Activer l'étiquette de réduction",
        "it": "Mostra testo sconto discount",
        "ja": "割引テキストを表示する",
        "ko": "할인 텍스트 표시",
        "nb": "Vis rabatttekst",
        "nl": "Toon kortingstekst",
        "pl": "Pokaż tekst rabatu",
        "pt-BR": "Mostrar texto de desconto",
        "pt-PT": "Mostrar texto de desconto",
        "sv": "Visa rabatttext",
        "th": "แสดงข้อความส่วนลด",
        "tr": "İndirim metnini göster",
        "vi": "Hiển thị văn bản giảm giá",
        "zh-CN": "显示折扣文字",
        "zh-TW": "顯示折扣文字"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "disc-badge",
      "label": {
        "cs": "Zobrazit slevový odznak",
        "da": "Vis rabatmærke",
        "de": "Aktivieren Sie den Rabattausweis",
        "en": "Show discount badge",
        "es": "Activa la insignia de descuento",
        "fi": "Näytä alennusmerkki",
        "fr": "Activer le labdge de réduction",
        "it": "Mostra badge sconto",
        "ja": "割引バッジを表示する",
        "ko": "할인 배지 표시",
        "nb": "Vis rabattmerke",
        "nl": "Toon kortingsbadge",
        "pl": "Pokaż odznakę rabatową",
        "pt-BR": "Mostrar crachá de desconto",
        "pt-PT": "Mostrar crachá de desconto",
        "sv": "Visa rabattmärke",
        "th": "แสดงป้ายส่วนลด",
        "tr": "İndirim rozetini göster",
        "vi": "Hiển thị huy hiệu giảm giá",
        "zh-CN": "显示折扣徽章",
        "zh-TW": "顯示折扣徽章"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "ctdn-enable",
      "label": {
        "cs": "Rozmazaný kupón",
        "da": "Sløret kupon",
        "de": "Verschwommener Gutschein",
        "en": "Blurry coupon",
        "es": "Cupón borroso",
        "fi": "Epäselvä kuponki",
        "fr": "Coupon flou",
        "it": "Buono sfocato",
        "ja": "ぼやけたクーポン",
        "ko": "흐릿한 쿠폰",
        "nb": "Uklar kupong",
        "nl": "Wazige coupon",
        "pl": "Niewyraźny kupon",
        "pt-BR": "Cupom desfocado",
        "pt-PT": "Cupom desfocado",
        "sv": "Suddig kupong",
        "th": "คูปองเบลอ",
        "tr": "Bulanık kupon",
        "vi": "Phiếu giảm giá mờ",
        "zh-CN": "模糊的优惠券",
        "zh-TW": "模糊的優惠券"
      },
      "default": false,
  "info":      "Customize in Theme settings"
    },
      {
        "type": "text",
        "id": "sku-txt",
        "label": {
        "cs": "SKU",
        "da": "SKU",
        "de": "SKU",
        "en": "SKU",
        "es": "SKU",
        "fi": "SKU",
        "fr": "SKU",
        "it": "SKU",
        "ja": "SKU",
        "ko": "SKU",
        "nb": "SKU",
        "nl": "SKU",
        "pl": "SKU",
        "pt-BR": "SKU",
        "pt-PT": "SKU",
        "sv": "SKU",
        "th": "SKU",
        "tr": "SKU",
        "vi": "SKU",
        "zh-CN": "SKU",
        "zh-TW": "SKU"
        },
         "default": "SKU:"
},
      {
        "type": "text",
        "id": "barcode-txt",
        "label": {
        "cs": "ISBN",
        "da": "ISBN",
        "de": "ISBN",
        "en": "ISBN",
        "es": "ISBN",
        "fi": "ISBN",
        "fr": "ISBN",
        "it": "ISBN",
        "ja": "ISBN",
        "ko": "ISBN",
        "nb": "ISBN",
        "nl": "ISBN",
        "pl": "ISBN",
        "pt-BR": "ISBN",
        "pt-PT": "ISBN",
        "sv": "ISBN",
        "th": "ISBN",
        "tr": "ISBN",
        "vi": "ISBN",
        "zh-CN": "ISBN",
        "zh-TW": "ISBN"
        },
         "default": "ISBN:"
},
      {
         "type": "select",
         "id": "varianttype",
         "options": [
            {
            "value": "swatch",
      "label": {
        "cs": "Swatch",
        "da": "Swatch",
        "de": "Swatch",
        "en": "Swatch",
        "es": "Swatch",
        "fi": "Swatch",
        "fr": "Swatch",
        "it": "Swatch",
        "ja": "Swatch",
        "ko": "Swatch",
        "nb": "Swatch",
        "nl": "Swatch",
        "pl": "Swatch",
        "pt-BR": "Swatch",
        "pt-PT": "Swatch",
        "sv": "Swatch",
        "th": "Swatch",
        "tr": "Swatch",
        "vi": "Swatch",
        "zh-CN": "Swatch",
        "zh-TW": "Swatch"
      }
},
            {
"value": "dropdown",
      "label": {
        "cs": "Rozevírací seznam",
        "da": "Dropdown",
        "de": "Dropdown-Liste",
        "en": "Dropdown",
        "es": "Desplegable",
        "fi": "Pudota alas",
        "fr": "Menu déroulant",
        "it": "Cadere in picchiata",
        "ja": "落ちる",
        "ko": "쓰러지 다",
        "nb": "Fall ned",
        "nl": "Laten vallen",
        "pl": "Upuścić",
        "pt-BR": "Suspensa",
        "pt-PT": "Suspensa",
        "sv": "Falla ner",
        "th": "หล่นลง",
        "tr": "Yıkılmak",
        "vi": "Trình đơn thả xuống",
        "zh-CN": "Dropdown",
        "zh-TW": "Dropdown"
      }
}
         ],
      "label": {
        "cs": "Zobrazit varianty",
        "da": "Vis varianter",
        "de": "Varianten anzeigen",
        "en": "Show variants as",
        "es": "Mostrar variantes",
        "fi": "Näytä vaihtoehdot",
        "fr": "Afficher les variantes",
        "it": "Mostra varianti",
        "ja": "バリエーションを表示",
        "ko": "변형 표시",
        "nb": "Vis varianter",
        "nl": "Varianten weergeven",
        "pl": "Pokaż warianty",
        "pt-BR": "Mostrar variantes",
        "pt-PT": "Mostrar variantes",
        "sv": "Visa varianter",
        "th": "แสดงรายละเอียดปลีกย่อย",
        "tr": "Varyantları göster",
        "vi": "Hiển thị các biến thể",
        "zh-CN": "显示变体",
        "zh-TW": "顯示變體"
      }
      },
    {
      "type": "checkbox",
      "id": "show_shaky_addtocart",
      "label": {
        "cs": "Animujte přidání do košíku",
        "da": "Animer tilføjelsen til kurven",
        "de": "In den Warenkorb legen",
        "en": "Enable shaky add to cart",
        "es": "Animar añadir al carrito",
        "fi": "Animoi lisäys ostoskoriin",
        "fr": "Animer ajout au panier",
        "it": "Anima l'aggiunta al carrello",
        "ja": "カートに追加をアニメーション化する",
        "ko": "장바구니에 추가 애니메이션",
        "nb": "Animer i handlekurven",
        "nl": "Animeer de toevoeging aan winkelwagen",
        "pl": "Animuj dodanie do koszyka",
        "pt-BR": "Anime a adição ao carrinho",
        "pt-PT": "Anime a adição ao carrinho",
        "sv": "Animera lägg i varukorgen",
        "th": "เคลื่อนไหวการหยิบใส่ตะกร้า",
        "tr": "Sepete eklemeyi canlandırın",
        "vi": "Tạo hiệu ứng cho việc thêm vào giỏ hàng",
        "zh-CN": "动画添加到购物车",
        "zh-TW": "動畫添加到購物車"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": {
        "cs": "Zobrazit dodavatele",
        "da": "Vis leverandør",
        "de": "Lieferanten anzeigen",
        "en": "Show vendor",
        "es": "Mostrar proveedor",
        "fi": "Näytä myyjä",
        "fr": "Afficher les vendeurs",
        "it": "Mostra fornitore",
        "ja": "販売元を表示する",
        "ko": "공급업체 표시",
        "nb": "Vis leverandør",
        "nl": "Leverancier weergeven",
        "pl": "Pokaż dostawcę",
        "pt-BR": "Exibir fabricante",
        "pt-PT": "Mostrar fornecedor",
        "sv": "Visa säljare",
        "th": "แสดงผู้ขาย",
        "tr": "Satıcıyı göster",
        "vi": "Hiển thị nhà cung cấp",
        "zh-CN": "显示厂商",
        "zh-TW": "顯示廠商"
      },
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_sizechart",
      "label": {
        "cs": "Povolit tlačítko sizechart",
        "da": "Aktiver knappen til størrelsesoversigt",
        "de": "Größentabelle aktivieren",
        "en": "Enable sizechart button",
        "es": "Activar tabla de tallas",
        "fi": "Ota kokotaulukko käyttöön -painike",
        "fr": "Activer le tableau des tailles",
        "it": "Attiva pulsante tabella taglie",
        "ja": "サイズチャートボタンを有効にする",
        "ko": "사이즈 차트 버튼 활성화",
        "nb": "Aktiver størrelsestabellknapp",
        "nl": "Knop maattabel inschakelen",
        "pl": "Włącz przycisk tabeli rozmiarów",
        "pt-BR": "Habilitar botão de gráfico de tamanho",
        "pt-PT": "Habilitar botão de gráfico de tamanho",
        "sv": "Aktivera storlekstangentknapp",
        "th": "เปิดใช้งานปุ่มแผนภูมิขนาด",
        "tr": "Boyut grafiğini etkinleştir düğmesini",
        "vi": "Bật nút sizechart",
        "zh-CN": "启用 sizechart 按钮",
        "zh-TW": "啟用 sizechart 按鈕"
      },
        "info":
      {
          "cs": " [Potřebovat pomoc?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "da": " [Brug for hjælp?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "de": " [Hulp nodig?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "en": " [Need help?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "es": " [Necesitas ayuda?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "fi": " [Tarvitsetko apua?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "fr": " [Besoin d'aide?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "it": " [Ho bisogno di aiuto?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "ja": " [助けが必要?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "ko": " [도움이 필요하다?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "nb": " [Trenger hjelp?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "nl": " [Hulp nodig?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "pl": " [Potrzebuję pomocy?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "pt-BR": " [Preciso de ajuda?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "pt-PT": " [Preciso de ajuda?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "sv": " [Behövs hjälp?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "th": " [ต้องการความช่วยเหลือ?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "tr": " [yardıma ihtiyacım var?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "vi": " [Cần giúp đỡ?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "zh-CN": " [需要帮忙?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)",
          "zh-TW": " [需要幫忙?](https:\/\/plaktheme.com\/knowledge-base\/how-to-enable-sizechart-in-plak-theme/)"
      },
      "default": true
    },
{
   "type":      "page",
   "id":        "sizechart-pg",
   "label": {
        "cs": "Vyberte stránku sizechart",
        "da": "Vælg størrelsesdiagram",
        "de": "Größentabelle auswählen",
        "en": "Select sizechart page",
        "es": "Seleccionar página de tabla de tallas",
        "fi": "Valitse kokotaulukkosivu",
        "fr": "Sélectionnez la page du tableau des tailles",
        "it": "Seleziona la pagina della tabella delle taglie",
        "ja": "サイズチャートページを選択",
        "ko": "사이즈 차트 페이지 선택",
        "nb": "Velg størrelsesdiagram",
        "nl": "Selecteer maattabel pagina",
        "pl": "Wybierz stronę z tabelą rozmiarów",
        "pt-BR": "Selecione a página do gráfico de tamanho",
        "pt-PT": "Selecione a página do gráfico de tamanho",
        "sv": "Välj storleksdiagram",
        "th": "เลือกหน้าแผนภูมิขนาด",
        "tr": "Boyut tablosu sayfasını seçin",
        "vi": "Chọn trang sizechart",
        "zh-CN": "选择尺寸图表页面",
        "zh-TW": "選擇尺寸圖表頁面"
        }
},
    {
      "type": "checkbox",
      "id": "enable_zoom",
      "label": {
        "cs": "Povolit zvětšení obrázku",
        "da": "Aktivér billedzoom",
        "de": "Foto-Zoom zulassen",
        "en": "Enable image zoom",
        "es": "Habilitar zoom de imagen",
        "fi": "Ota kuvan zoomaus käyttöön",
        "fr": "Activer le zoom d'image",
        "it": "Abilita lo zoom dell'immagine",
        "ja": "画像ズームを有効にする",
        "ko": "이미지 확대 사용",
        "nb": "Aktiver bildezoom",
        "nl": "Inzoomen op afbeelding inschakelen",
        "pl": "Włącz powiększenie obrazu",
        "pt-BR": "Habilitar o zoom da imagem",
        "pt-PT": "Ativar o zoom da imagem",
        "sv": "Aktivera bildzoom",
        "th": "เปิดใช้การซูมภาพ",
        "tr": "Görsel yakınlaştırmayı etkinleştir",
        "vi": "Bật thu phóng hình ảnh",
        "zh-CN": "启用图片缩放",
        "zh-TW": "啟用圖片縮放"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_payment_button",
      "label": {
        "cs": "Zobrazit dynamické tlačítko pokladny",
        "da": "Vis dynamisk betalingsknap",
        "de": "Dynamischen Checkout Button anzeigen",
        "en": "Show dynamic checkout button",
        "es": "Mostrar botón de pago dinámico",
        "fi": "Näytä dynaaminen kassapainike",
        "fr": "Afficher le bouton de paiement dynamique",
        "it": "Mostra pulsante di check-out dinamico",
        "ja": "動的チェックアウトボタンを表示する",
        "ko": "동적 결제 버튼 표시",
        "nb": "Vis dynamisk knapp for å gå til kassen",
        "nl": "Dynamische checkoutknop weergeven",
        "pl": "Pokaż dynamiczny przycisk realizacji zakupu",
        "pt-BR": "Exibir botão de checkout dinâmico",
        "pt-PT": "Mostrar o botão dinâmico de finalização da compra",
        "sv": "Visa dynamiska utcheckningsknappar",
        "th": "แสดงปุ่มชำระเงินแบบไดนามิก",
        "tr": "Dinamik ödeme düğmesini göster",
        "vi": "Hiển thị nút thanh toán nhanh",
        "zh-CN": "显示动态结账按钮",
        "zh-TW": "顯示動態結帳按鈕"
      },
      "info": {
        "cs": "Každý zákazník uvidí platební metodu, kterou ze všech metod dostupných v obchodě (například PayPal nebo Apple Pay) nejvíce preferuje. [Další informace](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "da": "Den enkelte kunde vil se sin foretrukne betalingsmetode blandt dem, der er tilgængelige i din butik, f.eks. PayPal eller Apple Pay. [Få mere at vide](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "de": "Jeder Kunde sieht seine bevorzugte Zahlungsmethode aus den in deinem Shop verfügbaren Zahlungsmethoden wie PayPal oder Apple Pay. [Mehr Informationen](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "en": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "es": "Cada cliente verá su forma de pago preferida entre las disponibles en tu tienda, como PayPal o Apple Pay. [Más información](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fi": "Kukin asiakas näkee ensisijaisen valintansa kauppasi tarjoamista maksutavoista, esim. PayPal tai Apple Pay. [Lisätietoja](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "fr": "Chaque client verra son moyen de paiement préféré parmi ceux qui sont proposés sur votre boutique, tels que PayPal ou Apple Pay. [En savoir plus](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "it": "Ogni cliente vedrà il suo metodo di pagamento preferito tra quelli disponibili nel tuo negozio, come PayPal o Apple Pay. [Maggiori informazioni](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ja": "PayPalやApple Payなど、ストアで利用可能な希望の決済方法がお客様に表示されます。[詳しくはこちら](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "ko": "각 고객은 PayPal 또는 Apple Pay와 같이 스토어에서 사용 가능한 지불 방법을 확인할 수 있습니다. [자세히 알아보기](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nb": "Hver enkelt kunde vil se sin foretrukne betalingsmåte blant de som er tilgjengelig i butikken din, som PayPal eller Apple Pay. [Finn ut mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "nl": "Elke klant ziet zijn of haar beschikbare voorkeursmethode om af te rekenen, zoals PayPal of Apple Pay. [Meer informatie](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pl": "Każdy klient zobaczy swoją preferowaną metodę płatności wśród metod dostępnych w Twoim sklepie, np. PayPal lub Apple Pay. [Dowiedz się więcej](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-BR": "Cada cliente verá a forma de pagamento preferencial dele dentre as disponíveis na loja, como PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "pt-PT": "Cada cliente irá ver o seu método de pagamento preferido entre os disponíveis na loja, como o PayPal ou Apple Pay. [Saiba mais](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "sv": "Varje kund kommer att se den föredragna betalningsmetoden från de som finns tillgängliga i din butik, till exempel PayPal eller Apple Pay. [Läs mer](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "th": "ลูกค้าแต่ละรายจะเห็นวิธีการชำระเงินที่ต้องการจากวิธีที่ใช้ได้ในร้านค้าของคุณ เช่น PayPal หรือ Apple Pay [ดูข้อมูลเพิ่มเติม](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "tr": "Her müşteri, mağazanız sunulanlar arasından tercih ettikleri ödeme yöntemini görür (ör. PayPal veya Apple Pay). [Daha fazla bilgi edinin](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "vi": "Mỗi khách hàng sẽ thấy phương thức thanh toán ưu tiên trong những phương thức thanh toán được hỗ trợ tại cửa hàng như PayPal hoặc Apple Pay. [Tìm hiểu thêm](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-CN": "每位客户都可在您商店提供的付款方式中看到他们的首选付款方式，例如 PayPal 或 Apple Pay。[了解详细信息](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
        "zh-TW": "每位顧客都可以在您商店內開放使用的付款方式中看見他們偏好使用的方式，如 PayPal、Apple Pay 等。[深入瞭解](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
      },
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "cs": "Zobrazit tlačítka pro sdílení na sociálních sítích",
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Affichez les boutons de partage sur les médias sociaux",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pl": "Pokaż przyciski udostępniania w mediach społecznościowych",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "tr": "Sosyal medya paylaşım düğmelerini göster",
        "vi": "Hiển thị nút chia sẻ qua mạng xã hội",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "header",
      "content": "shipping info"
    },
    {
      "type": "html",
      "id": "shipping_interval",
      "label": "Shipping text"
    },
    {
      "type": "html",
      "id": "shipping_subtext",
      "label": "Shipping subtext"
    },
    {
      "type": "header",
      "content": "Return policy"
    },
    {
      "type" : "textarea",
      "id" : "return_policy_hide_on_collections",
      "label" : "Hide from these collections",
      "default" : "mattresses,furniture-covers,bed-sheets,bed-linen,quilt-cover-sets,mattress-topper-underlays,mattress-pillow-protectors,pillows"
    },
    {
      "type": "html",
      "id": "return_policy_icon",
      "label": "Icon"
    },
    {
      "type": "text",
      "id": "return_policy_heading",
      "label": "Heading",
      "default" : "Risk Free 14 Day Returns"
    },
    {
      "type": "richtext",
      "id": "return_policy_content",
      "label": "Content",
      "default" : "<p>If you change your mind, return it to us within 14 days of the date you received it, no questions asked. <a>T&Cs apply</a></p>"
    }
  ],
  "blocks": [
    {
      "type": "text",
      "name": {
        "cs": "Tab",
        "da": "Tab",
        "de": "Tab",
        "en": "Tab",
        "es": "pestaña",
        "fi": "Välilehti",
        "fr": "Onglet",
        "it": "tab",
        "ja": "タブ",
        "ko": "탭",
        "nb": "Tab",
        "nl": "Tab",
        "pl": "Patka",
        "pt-BR": "Aba",
        "pt-PT": "Aba",
        "sv": "Flik",
        "th": "แท็บ",
        "tr": "Sekme",
        "vi": "Chuyển hướng",
        "zh-CN": "标签",
        "zh-TW": "標籤"
      },
      "settings": [
      {
        "type": "text",
        "id": "tab-name",
        "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
        },
        "default": "Shipping"
      },
      {
        "type": "textarea",
        "id": "description-tab",
        "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
        }
      }
    ]
},
      {
        "type": "paragraph",
        "name": {
        "cs": "možnosti (text)",
        "da": "indstillinger (tekst)",
        "de": "Optionen (Text)",
        "en": "options (text)",
        "es": "opciones (texto)",
        "fi": "vaihtoehdot (teksti)",
        "fr": "options (texte)",
        "it": "opzioni (testo)",
        "ja": "オプション（テキスト）",
        "ko": "옵션(텍스트)",
        "nb": "alternativer (tekst)",
        "nl": "opties (tekst)",
        "pl": "opcje (tekst)",
        "pt-BR": "opções (texto)",
        "pt-PT": "opções (texto)",
        "sv": "alternativ (text)",
        "th": "ตัวเลือก (ข้อความ)",
        "tr": "seçenekler (metin)",
        "vi": "tùy chọn (văn bản)",
        "zh-CN": "选项（文本）",
        "zh-TW": "選項（文本）"
        },
        "settings": [
{
   "type": "radio",
   "id": "product-options-visibility",
   "options": [
      { "value": "medium-up--hide",
        "label": {
        "cs": "Pouze mobilní zařízení",
        "da": "Kun mobil",
        "de": "Nur mobil",
        "en": "Mobile only",
        "es": "Solo móvil",
        "fi": "Vain mobiililaite",
        "fr": "Mobile uniquement",
        "it": "Solo cellulare",
        "ja": "モバイルのみ",
        "ko": "모바일 전용",
        "nb": "Bare mobil",
        "nl": "Alleen mobiel",
        "pl": "Tylko telefon komórkowy",
        "pt-BR": "Apenas para celular",
        "pt-PT": "Apenas para celular",
        "sv": "Bare mobil",
        "th": "มือถือเท่านั้น",
        "tr": "Yalnızca mobil",
        "vi": "Chỉ di động",
        "zh-CN": "仅限手机",
        "zh-TW": "僅限手機"
        }
        },
      { "value": "small--hide",
        "label": {
        "cs": "Pouze počítač",
        "da": "Kun computer",
        "de": "Nur Computer",
        "en": "Desktop only",
        "es": "Solo computadora",
        "fi": "Vain tietokone",
        "fr": "Ordinateur uniquement",
        "it": "Solo computer",
        "ja": "コンピューターのみ",
        "ko": "컴퓨터 전용",
        "nb": "Bare datamaskin",
        "nl": "Alleen computer",
        "pl": "Tylko komputer",
        "pt-BR": "Apenas computador",
        "pt-PT": "Apenas computador",
        "sv": "Endast dator",
        "th": "คอมพิวเตอร์เท่านั้น",
        "tr": "sadece bilgisayar",
        "vi": "Chỉ máy tính",
        "zh-CN": "仅计算机",
        "zh-TW": "僅計算機"
        }
      },
      { "value": "showboth",
                "label": {
        "cs": "Oba",
        "da": "Begge",
        "de": "Beide",
        "en": "Both",
        "es": "Ambos",
        "fi": "Molemmat",
        "fr": "Les deux",
        "it": "Tutti e due",
        "ja": "どちらも",
        "ko": "양자 모두",
        "nb": "Både",
        "nl": "Beide",
        "pl": "Obie",
        "pt-BR": "Ambos",
        "pt-PT": "Ambos",
        "sv": "Både",
        "th": "ทั้งคู่",
        "tr": "Her ikisi de",
        "vi": "Cả hai",
        "zh-CN": "两个都",
        "zh-TW": "兩個都"
        }
      }
   ],
          "label": {
        "cs": "Viditelnost",
        "da": "Sigtbarhed",
        "de": "Sichtweite",
        "en": "Visibility",
        "es": "Visibilidad",
        "fi": "Näkyvyys",
        "fr": "Visibilité",
        "it": "Visibilità",
        "ja": "可視性",
        "ko": "시계",
        "nb": "Synlighet",
        "nl": "Zichtbaarheid",
        "pl": "Widoczność",
        "pt-BR": "Visibilidade",
        "pt-PT": "Visibilidade",
        "sv": "Synlighet",
        "th": "ทัศนวิสัย",
        "tr": "görünürlük",
        "vi": "Hiển thị",
        "zh-CN": "能见度",
        "zh-TW": "能見度"
        },
"default":   "showboth"
},
    {
      "type": "checkbox",
      "id": "text-required",
      "label": {
        "cs": "Požadované",
        "da": "krævet",
        "de": "erforderlich",
        "en": "required",
        "es": "necesario",
        "fi": "vaaditaan",
        "fr": "obligatoire",
        "it": "necessaria",
        "ja": "必要",
        "ko": "필수의",
        "nb": "kreves",
        "nl": "vereist",
        "pl": "wymagany",
        "pt-BR": "requeridas",
        "pt-PT": "requeridas",
        "sv": "nödvändig",
        "th": "ที่จำเป็น",
        "tr": "gereklidir",
        "vi": "cần thiết",
        "zh-CN": "必需的",
        "zh-TW": "必需的"
      },
      "default": false
    },
      {
        "type": "text",
        "id": "note_seller_txt",
        "label": {
        "cs": "Poznámka k textu prodejce",
        "da": "Bemærkning til sælgertekst",
        "de": "Hinweis zum Verkäufertext",
        "en": "Note to seller text",
        "es": "Nota al texto del vendedor",
        "fi": "Huomautus myyjän tekstille",
        "fr": "Texte note au vendeur",
        "it": "Nota al testo del venditore",
        "ja": "売り手のテキストへの注記",
        "ko": "판매자 텍스트 참고",
        "nb": "Merknad til selgertekst",
        "nl": "Opmerking aan verkoper tekst",
        "pl": "Uwaga do tekstu sprzedawcy",
        "pt-BR": "Nota para o texto do vendedor",
        "pt-PT": "Nota para o texto do vendedor",
        "sv": "Anmärkning till säljarens text",
        "th": "หมายเหตุถึงผู้ขายข้อความ",
        "tr": "Satıcı metnine not",
        "vi": "Ghi chú cho văn bản người bán",
        "zh-CN": "卖家文字说明",
        "zh-TW": "賣家文字說明"
        },
         "default": {
        "cs": "Poznámka pro prodejce",
        "da": "Bemærkning til sælger",
        "de": "Notiz an den Verkäufer",
        "en": "Note to seller",
        "es": "Nota al vendedor",
        "fi": "Huomautus myyjälle",
        "fr": "Note au vendeur",
        "it": "nota al venditore",
        "ja": "販売者への注意",
        "ko": "판매자 참고 사항",
        "nb": "Merknad til selger",
        "nl": "Opmerking aan verkoper",
        "pl": "Uwaga dla sprzedawcy",
        "pt-BR": "Nota ao vendedor",
        "pt-PT": "Nota ao vendedor",
        "sv": "anteckning till säljaren",
        "th": "หมายเหตุถึงผู้ขาย",
        "tr": "satıcıya not",
        "vi": "Lưu ý cho người bán",
        "zh-CN": "卖家注意事项",
        "zh-TW": "賣家注意事項"
}
},
      {
        "type": "text",
        "id": "note_seller_placeholder",
        "label": {
        "cs": "zástupný symbol",
        "da": "pladsholder",
        "de": "Platzhalter",
        "en": "placeholder",
        "es": "marcador de posición",
        "fi": "paikanpitäjä",
        "fr": "Le placeholder",
        "it": "segnaposto",
        "ja": "プレースホルダー",
        "ko": "자리 표시자",
        "nb": "plassholder",
        "nl": "tijdelijke aanduiding",
        "pl": "symbol zastępczy",
        "pt-BR": "marcador de posição",
        "pt-PT": "marcador de posição",
        "sv": "Platshållare",
        "th": "ตัวยึดตำแหน่ง",
        "tr": "Yer tutucu",
        "vi": "trình giữ chỗ",
        "zh-CN": "占位符",
        "zh-TW": "佔位符"
        },
         "default": {
        "cs": "Řekněte nám něco o tomto produktu ...",
        "da": "Fortæl os noget om dette produkt ...",
        "de": "Erzählen Sie uns etwas über dieses Produkt ...",
        "en": "Tell us something about this product ...",
        "es": "Cuéntanos algo sobre este producto ...",
        "fi": "Kerro meille jotain tästä tuotteesta ...",
        "fr": "Parlez-nous de ce produit...",
        "it": "Raccontaci qualcosa su questo prodotto...",
        "ja": "この商品について教えてください...",
        "ko": "이 제품에 대해 알려주십시오 ...",
        "nb": "Fortell oss noe om dette produktet ...",
        "nl": "Vertel ons iets over dit product...",
        "pl": "Powiedz nam coś o tym produkcie...",
        "pt-BR": "Conte-nos algo sobre este produto ...",
        "pt-PT": "Conte-nos algo sobre este produto ...",
        "sv": "Berätta något om den här produkten ...",
        "th": "บอกเราบางอย่างเกี่ยวกับผลิตภัณฑ์นี้ ...",
        "tr": "Bize bu ürün hakkında bir şeyler söyleyin ...",
        "vi": "Hãy cho chúng tôi biết điều gì đó về sản phẩm này ...",
        "zh-CN": "告诉我们一些关于这个产品的事情......",
        "zh-TW": "告訴我們一些關於這個產品的事情......"
}
}
        ]
      },
      {
        "type": "richtext",
        "name": {
        "cs": "možnosti (radio)",
        "da": "indstillinger (radio)",
        "de": "Optionen (radio)",
        "en": "options (radio)",
        "es": "opciones (radio)",
        "fi": "vaihtoehdot (radio)",
        "fr": "options (radio)",
        "it": "opzioni (radio)",
        "ja": "オプション（radio）",
        "ko": "옵션(radio)",
        "nb": "alternativer (radio)",
        "nl": "opties (radio)",
        "pl": "opcje (radio)",
        "pt-BR": "opções (radio)",
        "pt-PT": "opções (radio)",
        "sv": "alternativ (radio)",
        "th": "ตัวเลือก (radio)",
        "tr": "seçenekler (radio)",
        "vi": "tùy chọn (radio)",
        "zh-CN": "选项（radio）",
        "zh-TW": "選項（radio）"
        },
        "settings": [
{
   "type": "radio",
   "id": "product-option-radio-visibility",
   "options": [
      { "value": "medium-up--hide",
        "label": {
        "cs": "Pouze mobilní zařízení",
        "da": "Kun mobil",
        "de": "Nur mobil",
        "en": "Mobile only",
        "es": "Solo móvil",
        "fi": "Vain mobiililaite",
        "fr": "Mobile uniquement",
        "it": "Solo cellulare",
        "ja": "モバイルのみ",
        "ko": "모바일 전용",
        "nb": "Bare mobil",
        "nl": "Alleen mobiel",
        "pl": "Tylko telefon komórkowy",
        "pt-BR": "Apenas para celular",
        "pt-PT": "Apenas para celular",
        "sv": "Bare mobil",
        "th": "มือถือเท่านั้น",
        "tr": "Yalnızca mobil",
        "vi": "Chỉ di động",
        "zh-CN": "仅限手机",
        "zh-TW": "僅限手機"
        }
        },
      { "value": "small--hide",
        "label": {
        "cs": "Pouze počítač",
        "da": "Kun computer",
        "de": "Nur Computer",
        "en": "Desktop only",
        "es": "Solo computadora",
        "fi": "Vain tietokone",
        "fr": "Ordinateur uniquement",
        "it": "Solo computer",
        "ja": "コンピューターのみ",
        "ko": "컴퓨터 전용",
        "nb": "Bare datamaskin",
        "nl": "Alleen computer",
        "pl": "Tylko komputer",
        "pt-BR": "Apenas computador",
        "pt-PT": "Apenas computador",
        "sv": "Endast dator",
        "th": "คอมพิวเตอร์เท่านั้น",
        "tr": "sadece bilgisayar",
        "vi": "Chỉ máy tính",
        "zh-CN": "仅计算机",
        "zh-TW": "僅計算機"
        }
      },
      { "value": "showboth",
                "label": {
        "cs": "Oba",
        "da": "Begge",
        "de": "Beide",
        "en": "Both",
        "es": "Ambos",
        "fi": "Molemmat",
        "fr": "Les deux",
        "it": "Tutti e due",
        "ja": "どちらも",
        "ko": "양자 모두",
        "nb": "Både",
        "nl": "Beide",
        "pl": "Obie",
        "pt-BR": "Ambos",
        "pt-PT": "Ambos",
        "sv": "Både",
        "th": "ทั้งคู่",
        "tr": "Her ikisi de",
        "vi": "Cả hai",
        "zh-CN": "两个都",
        "zh-TW": "兩個都"
        }
      }
   ],
          "label": {
        "cs": "Viditelnost",
        "da": "Sigtbarhed",
        "de": "Sichtweite",
        "en": "Visibility",
        "es": "Visibilidad",
        "fi": "Näkyvyys",
        "fr": "Visibilité",
        "it": "Visibilità",
        "ja": "可視性",
        "ko": "시계",
        "nb": "Synlighet",
        "nl": "Zichtbaarheid",
        "pl": "Widoczność",
        "pt-BR": "Visibilidade",
        "pt-PT": "Visibilidade",
        "sv": "Synlighet",
        "th": "ทัศนวิสัย",
        "tr": "görünürlük",
        "vi": "Hiển thị",
        "zh-CN": "能见度",
        "zh-TW": "能見度"
        },
"default":   "showboth"
},
      {
        "type": "radio",
        "id": "radio-display",
        "label": {
        "cs": "Zobrazit",
        "da": "At vise",
        "de": "Anzeige",
        "en": "Display",
        "es": "monitor",
        "fi": "Näyttää",
        "fr": "Afficher",
        "it": "Per visualizzare",
        "ja": "表示する",
        "ko": "표시하려면",
        "nb": "Å vise",
        "nl": "Weergeven",
        "pl": "Do wyświetlenia",
        "pt-BR": "Mostrar",
        "pt-PT": "Mostrar",
        "sv": "Att ",
        "th": "ที่จะแสดง",
        "tr": "Göstermek",
        "vi": "Để hiển thị",
        "zh-CN": "显示",
        "zh-TW": "顯示"
        },
        "options": [
          {
            "value": "radio-input-block",
                    "label": {
        "cs": "Bloky",
        "da": "Blokke",
        "de": "Blöcke",
        "en": "Blocks",
        "es": "Bloques",
        "fi": "Lohkot",
        "fr": "Blocs",
        "it": "blocchi",
        "ja": "ブロック",
        "ko": "블록",
        "nb": "Blokker",
        "nl": "Blokken",
        "pl": "Bloki",
        "pt-BR": "Blocos",
        "pt-PT": "Blocos",
        "sv": "Block",
        "th": "บล็อก",
        "tr": "Bloklar",
        "vi": "Khối",
        "zh-CN": "块",
        "zh-TW": "塊"
        }
          },
          {
            "value": "radio-input-inline-block",
          "label": {
        "cs": "Vložené bloky",
        "da": "Inline blokke",
        "de": "Inline-Blöcke",
        "en": "Inline blocks",
        "es": "Bloques en línea",
        "fi": "Upotetut lohkot",
        "fr": "Blocs en ligne",
        "it": "Blocchi in linea",
        "ja": "インラインブロック",
        "ko": "인라인 블록",
        "nb": "Inline blokker",
        "nl": "Inline blokken",
        "pl": "Bloki wbudowane",
        "pt-BR": "Blocos embutidos",
        "pt-PT": "Blocos embutidos",
        "sv": "Inbyggda block",
        "th": "บล็อคอินไลน์",
        "tr": "satır içi bloklar",
        "vi": "Khối nội tuyến",
        "zh-CN": "内联块",
        "zh-TW": "內聯塊"
        }
          }
        ],
        "default": "radio-input-inline-block"
},
      {
        "type": "text",
        "id": "radio-header",
        "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
        }
},
      {
        "type": "text",
        "id": "radio-tooltip",
        "label": {
        "cs": "Popisek",
        "da": "Værktøjstip",
        "de": "Tooltip",
        "en": "Tooltip",
        "es": "Descripción emergente",
        "fi": "Työkaluvinkki",
        "fr": "Info-bulle",
        "it": "Descrizione comando",
        "ja": "ツールチップ",
        "ko": "툴팁",
        "nb": "Verktøytips",
        "nl": "Knopinfo",
        "pl": "Etykietka",
        "pt-BR": "Dica de ferramenta",
        "pt-PT": "Dica de ferramenta",
        "sv": "Verktygstips",
        "th": "เคล็ดลับเครื่องมือ",
        "tr": "Araç ipucu",
        "vi": "Chú giải công cụ",
        "zh-CN": "工具提示",
        "zh-TW": "工具提示"
        }
},
      {
        "type": "text",
        "id": "radio-buttons",
        "label": {
        "cs": "Oddělte své možnosti čárkou.",
        "da": "Adskil dine muligheder med et komma.",
        "de": "Trennen Sie Ihre Optionen durch ein Komma",
        "en": "Separate your options with a comma.",
        "es": "Separe sus opciones con una coma",
        "fi": "Erota vaihtoehdot pilkulla.",
        "fr": "Séparez vos options par une virgule",
        "it": "Separa le tue opzioni con una virgola.",
        "ja": "オプションはコンマで区切ります。",
        "ko": "옵션을 쉼표로 구분하십시오.",
        "nb": "Separer alternativene dine med komma.",
        "nl": "Scheid uw opties met een komma.",
        "pl": "Oddziel opcje przecinkiem.",
        "pt-BR": "Separe suas opções com uma vírgula.",
        "pt-PT": "Separe suas opções com uma vírgula.",
        "sv": "Separera dina alternativ med ett komma.",
        "th": "แยกตัวเลือกของคุณด้วยเครื่องหมายจุลภาค",
        "tr": "Seçeneklerinizi virgülle ayırın.",
        "vi": "แยกตัวเลือกของคุณด้วยเครื่องหมายจุลภาค",
        "zh-CN": "用逗号分隔您的选项。",
        "zh-TW": "用逗號分隔您的選項。"
        },
         "default": "option1, option2"
}
        ]
      },
      {
        "type": "textarea",
        "name": {
        "cs": "Možnosti (zaškrtávací políčko)",
        "da": "Indstillinger (afkrydsningsfelt)",
        "de": "Optionen (Kontrollkästchen)",
        "en": "Options (checkbox)",
        "es": "Opciones (casilla de verificación)",
        "fi": "Asetukset (valintaruutu)",
        "fr": "Options (case à cocher)",
        "it": "Opzioni (casella di controllo)",
        "ja": "オプション（チェックボックス）",
        "ko": "옵션(확인란)",
        "nb": "Alternativer (avkrysningsrute)",
        "nl": "Opties (selectievakje)",
        "pl": "Opcje (pole wyboru)",
        "pt-BR": "Opções (caixa de seleção)",
        "pt-PT": "Opções (caixa de seleção)",
        "sv": "Alternativ (kryssruta)",
        "th": "ตัวเลือก (ช่องทำเครื่องหมาย)",
        "tr": "Seçenekler (onay kutusu)",
        "vi": "Tùy chọn (hộp kiểm)",
        "zh-CN": "选项（复选框）",
        "zh-TW": "選項（複選框）"
        },
        "settings": [
{
   "type": "radio",
   "id": "product-option-checkbox-visibility",
   "options": [
      { "value": "medium-up--hide",
        "label": {
        "cs": "Pouze mobilní zařízení",
        "da": "Kun mobil",
        "de": "Nur mobil",
        "en": "Mobile only",
        "es": "Solo móvil",
        "fi": "Vain mobiililaite",
        "fr": "Mobile uniquement",
        "it": "Solo cellulare",
        "ja": "モバイルのみ",
        "ko": "모바일 전용",
        "nb": "Bare mobil",
        "nl": "Alleen mobiel",
        "pl": "Tylko telefon komórkowy",
        "pt-BR": "Apenas para celular",
        "pt-PT": "Apenas para celular",
        "sv": "Bare mobil",
        "th": "มือถือเท่านั้น",
        "tr": "Yalnızca mobil",
        "vi": "Chỉ di động",
        "zh-CN": "仅限手机",
        "zh-TW": "僅限手機"
        }
        },
      { "value": "small--hide",
        "label": {
        "cs": "Pouze počítač",
        "da": "Kun computer",
        "de": "Nur Computer",
        "en": "Desktop only",
        "es": "Solo computadora",
        "fi": "Vain tietokone",
        "fr": "Ordinateur uniquement",
        "it": "Solo computer",
        "ja": "コンピューターのみ",
        "ko": "컴퓨터 전용",
        "nb": "Bare datamaskin",
        "nl": "Alleen computer",
        "pl": "Tylko komputer",
        "pt-BR": "Apenas computador",
        "pt-PT": "Apenas computador",
        "sv": "Endast dator",
        "th": "คอมพิวเตอร์เท่านั้น",
        "tr": "sadece bilgisayar",
        "vi": "Chỉ máy tính",
        "zh-CN": "仅计算机",
        "zh-TW": "僅計算機"
        }
      },
      { "value": "showboth",
                "label": {
        "cs": "Oba",
        "da": "Begge",
        "de": "Beide",
        "en": "Both",
        "es": "Ambos",
        "fi": "Molemmat",
        "fr": "Les deux",
        "it": "Tutti e due",
        "ja": "どちらも",
        "ko": "양자 모두",
        "nb": "Både",
        "nl": "Beide",
        "pl": "Obie",
        "pt-BR": "Ambos",
        "pt-PT": "Ambos",
        "sv": "Både",
        "th": "ทั้งคู่",
        "tr": "Her ikisi de",
        "vi": "Cả hai",
        "zh-CN": "两个都",
        "zh-TW": "兩個都"
        }
      }
   ],
          "label": {
        "cs": "Viditelnost",
        "da": "Sigtbarhed",
        "de": "Sichtweite",
        "en": "Visibility",
        "es": "Visibilidad",
        "fi": "Näkyvyys",
        "fr": "Visibilité",
        "it": "Visibilità",
        "ja": "可視性",
        "ko": "시계",
        "nb": "Synlighet",
        "nl": "Zichtbaarheid",
        "pl": "Widoczność",
        "pt-BR": "Visibilidade",
        "pt-PT": "Visibilidade",
        "sv": "Synlighet",
        "th": "ทัศนวิสัย",
        "tr": "görünürlük",
        "vi": "Hiển thị",
        "zh-CN": "能见度",
        "zh-TW": "能見度"
        },
"default":   "showboth"
},
    {
      "type": "checkbox",
      "id": "checkbox-required",
      "label": {
        "cs": "Požadované",
        "da": "krævet",
        "de": "erforderlich",
        "en": "required",
        "es": "necesario",
        "fi": "vaaditaan",
        "fr": "obligatoire",
        "it": "necessaria",
        "ja": "必要",
        "ko": "필수의",
        "nb": "kreves",
        "nl": "vereist",
        "pl": "wymagany",
        "pt-BR": "requeridas",
        "pt-PT": "requeridas",
        "sv": "nödvändig",
        "th": "ที่จำเป็น",
        "tr": "gereklidir",
        "vi": "cần thiết",
        "zh-CN": "必需的",
        "zh-TW": "必需的"
      },
      "default": false
    },
      {
        "type": "radio",
        "id": "checkbox-display",
        "label": {
        "cs": "Zobrazit",
        "da": "At vise",
        "de": "Anzeige",
        "en": "Display",
        "es": "monitor",
        "fi": "Näyttää",
        "fr": "Afficher",
        "it": "Per visualizzare",
        "ja": "表示する",
        "ko": "표시하려면",
        "nb": "Å vise",
        "nl": "Weergeven",
        "pl": "Do wyświetlenia",
        "pt-BR": "Mostrar",
        "pt-PT": "Mostrar",
        "sv": "Att ",
        "th": "ที่จะแสดง",
        "tr": "Göstermek",
        "vi": "Để hiển thị",
        "zh-CN": "显示",
        "zh-TW": "顯示"
        },
        "options": [
          {
            "value": "radio-input-block",
            "label": {
        "cs": "Bloky",
        "da": "Blokke",
        "de": "Blöcke",
        "en": "Blocks",
        "es": "Bloques",
        "fi": "Lohkot",
        "fr": "Blocs",
        "it": "blocchi",
        "ja": "ブロック",
        "ko": "블록",
        "nb": "Blokker",
        "nl": "Blokken",
        "pl": "Bloki",
        "pt-BR": "Blocos",
        "pt-PT": "Blocos",
        "sv": "Block",
        "th": "บล็อก",
        "tr": "Bloklar",
        "vi": "Khối",
        "zh-CN": "块",
        "zh-TW": "塊"
}
          },
          {
            "value": "radio-input-inline-block",
            "label": {
        "cs": "Vložené bloky",
        "da": "Inline blokke",
        "de": "Inline-Blöcke",
        "en": "Inline blocks",
        "es": "Bloques en línea",
        "fi": "Upotetut lohkot",
        "fr": "Blocs en ligne",
        "it": "Blocchi in linea",
        "ja": "インラインブロック",
        "ko": "인라인 블록",
        "nb": "Inline blokker",
        "nl": "Inline blokken",
        "pl": "Bloki wbudowane",
        "pt-BR": "Blocos embutidos",
        "pt-PT": "Blocos embutidos",
        "sv": "Inbyggda block",
        "th": "บล็อคอินไลน์",
        "tr": "satır içi bloklar",
        "vi": "Khối nội tuyến",
        "zh-CN": "内联块",
        "zh-TW": "內聯塊"
}
          }
        ],
        "default": "radio-input-inline-block"
},
      {
        "type": "text",
        "id": "checkbox-header",
        "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
        }
},
      {
        "type": "text",
        "id": "checkbox-tooltip",
        "label": {
        "cs": "Popisek",
        "da": "Værktøjstip",
        "de": "Tooltip",
        "en": "Tooltip",
        "es": "Descripción emergente",
        "fi": "Työkaluvinkki",
        "fr": "Info-bulle",
        "it": "Descrizione comando",
        "ja": "ツールチップ",
        "ko": "툴팁",
        "nb": "Verktøytips",
        "nl": "Knopinfo",
        "pl": "Etykietka",
        "pt-BR": "Dica de ferramenta",
        "pt-PT": "Dica de ferramenta",
        "sv": "Verktygstips",
        "th": "เคล็ดลับเครื่องมือ",
        "tr": "Araç ipucu",
        "vi": "Chú giải công cụ",
        "zh-CN": "工具提示",
        "zh-TW": "工具提示"
        }
},
      {
        "type": "text",
        "id": "checkbox-buttons",
        "label": {
        "cs": "Oddělte své možnosti čárkou.",
        "da": "Adskil dine muligheder med et komma.",
        "de": "Trennen Sie Ihre Optionen durch ein Komma",
        "en": "Separate your options with a comma.",
        "es": "Separe sus opciones con una coma",
        "fi": "Erota vaihtoehdot pilkulla.",
        "fr": "Séparez vos options par une virgule",
        "it": "Separa le tue opzioni con una virgola.",
        "ja": "オプションはコンマで区切ります。",
        "ko": "옵션을 쉼표로 구분하십시오.",
        "nb": "Separer alternativene dine med komma.",
        "nl": "Scheid uw opties met een komma.",
        "pl": "Oddziel opcje przecinkiem.",
        "pt-BR": "Separe suas opções com uma vírgula.",
        "pt-PT": "Separe suas opções com uma vírgula.",
        "sv": "Separera dina alternativ med ett komma.",
        "th": "แยกตัวเลือกของคุณด้วยเครื่องหมายจุลภาค",
        "tr": "Seçeneklerinizi virgülle ayırın.",
        "vi": "แยกตัวเลือกของคุณด้วยเครื่องหมายจุลภาค",
        "zh-CN": "用逗号分隔您的选项。",
        "zh-TW": "用逗號分隔您的選項。"
        },
         "default": "option1, option2"
}
        ]
      },
      {
        "type": "html",
        "name": {
        "cs": "Možnosti (nahrání souboru)",
        "da": "Valgmuligheder (upload af fil)",
        "de": "Optionen (Datei-Upload)",
        "en": "Options (file upload)",
        "es": "Opciones (carga de archivos)",
        "fi": "Asetukset (tiedoston lataus)",
        "fr": "Options (téléchargement de fichier)",
        "it": "Opzioni (caricamento file)",
        "ja": "オプション（ファイルアップロード）",
        "ko": "옵션(파일 업로드)",
        "nb": "Alternativer (filopplasting)",
        "nl": "Opties (bestand uploaden)",
        "pl": "Opcje (przesyłanie plików)",
        "pt-BR": "Opções (upload de arquivo)",
        "pt-PT": "Opções (upload de arquivo)",
        "sv": "Alternativ (filöverföring)",
        "th": "ตัวเลือก (อัพโหลดไฟล์)",
        "tr": "Seçenekler (dosya yükleme)",
        "vi": "Tùy chọn (tải lên tệp)",
        "zh-CN": "选项（文件上传）",
        "zh-TW": "選項（文件上傳）"
        },
        "settings": [
{
   "type": "radio",
   "id": "product-option-file-visibility",
   "options": [
      { "value": "medium-up--hide",
        "label": {
        "cs": "Pouze mobilní zařízení",
        "da": "Kun mobil",
        "de": "Nur mobil",
        "en": "Mobile only",
        "es": "Solo móvil",
        "fi": "Vain mobiililaite",
        "fr": "Mobile uniquement",
        "it": "Solo cellulare",
        "ja": "モバイルのみ",
        "ko": "모바일 전용",
        "nb": "Bare mobil",
        "nl": "Alleen mobiel",
        "pl": "Tylko telefon komórkowy",
        "pt-BR": "Apenas para celular",
        "pt-PT": "Apenas para celular",
        "sv": "Bare mobil",
        "th": "มือถือเท่านั้น",
        "tr": "Yalnızca mobil",
        "vi": "Chỉ di động",
        "zh-CN": "仅限手机",
        "zh-TW": "僅限手機"
        }
        },
      { "value": "small--hide",
        "label": {
        "cs": "Pouze počítač",
        "da": "Kun computer",
        "de": "Nur Computer",
        "en": "Desktop only",
        "es": "Solo computadora",
        "fi": "Vain tietokone",
        "fr": "Ordinateur uniquement",
        "it": "Solo computer",
        "ja": "コンピューターのみ",
        "ko": "컴퓨터 전용",
        "nb": "Bare datamaskin",
        "nl": "Alleen computer",
        "pl": "Tylko komputer",
        "pt-BR": "Apenas computador",
        "pt-PT": "Apenas computador",
        "sv": "Endast dator",
        "th": "คอมพิวเตอร์เท่านั้น",
        "tr": "sadece bilgisayar",
        "vi": "Chỉ máy tính",
        "zh-CN": "仅计算机",
        "zh-TW": "僅計算機"
        }
      },
      { "value": "showboth",
                "label": {
        "cs": "Oba",
        "da": "Begge",
        "de": "Beide",
        "en": "Both",
        "es": "Ambos",
        "fi": "Molemmat",
        "fr": "Les deux",
        "it": "Tutti e due",
        "ja": "どちらも",
        "ko": "양자 모두",
        "nb": "Både",
        "nl": "Beide",
        "pl": "Obie",
        "pt-BR": "Ambos",
        "pt-PT": "Ambos",
        "sv": "Både",
        "th": "ทั้งคู่",
        "tr": "Her ikisi de",
        "vi": "Cả hai",
        "zh-CN": "两个都",
        "zh-TW": "兩個都"
        }
      }
   ],
          "label": {
        "cs": "Viditelnost",
        "da": "Sigtbarhed",
        "de": "Sichtweite",
        "en": "Visibility",
        "es": "Visibilidad",
        "fi": "Näkyvyys",
        "fr": "Visibilité",
        "it": "Visibilità",
        "ja": "可視性",
        "ko": "시계",
        "nb": "Synlighet",
        "nl": "Zichtbaarheid",
        "pl": "Widoczność",
        "pt-BR": "Visibilidade",
        "pt-PT": "Visibilidade",
        "sv": "Synlighet",
        "th": "ทัศนวิสัย",
        "tr": "görünürlük",
        "vi": "Hiển thị",
        "zh-CN": "能见度",
        "zh-TW": "能見度"
        },
"default":   "showboth"
},
    {
      "type": "checkbox",
      "id": "file-required",
      "label": {
        "cs": "Požadované",
        "da": "krævet",
        "de": "erforderlich",
        "en": "required",
        "es": "necesario",
        "fi": "vaaditaan",
        "fr": "obligatoire",
        "it": "necessaria",
        "ja": "必要",
        "ko": "필수의",
        "nb": "kreves",
        "nl": "vereist",
        "pl": "wymagany",
        "pt-BR": "requeridas",
        "pt-PT": "requeridas",
        "sv": "nödvändig",
        "th": "ที่จำเป็น",
        "tr": "gereklidir",
        "vi": "cần thiết",
        "zh-CN": "必需的",
        "zh-TW": "必需的"
      },
      "default": false
    },
      {
        "type": "text",
        "id": "file-hd",
        "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
        },
         "default": "Upload a file"
}
        ]
      }
]
}
{% endschema %}