<style>#section6--{{section.id}} .gridd {flex-wrap: wrap;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;}#section6--{{section.id}} .quote-col {padding: 0;position: relative;background: {{section.settings.quotes-bk}};}#section6--{{section.id}} .quote-col:hover {background: {{section.settings.quote-hover-bk}};}#section6--{{section.id}} img {width: 100%;height: 100%;max-height :{{section.settings.quote_img_sz}}px;display: block;border-radius : {{section.settings.quote_img_border}}%;opacity: 1;object-fit : {{section.settings.image-quote-effect}};}#section6--{{section.id}} .quote-col:hover img {opacity: 0.1;filter: alpha(opacity=4);}#section6--{{section.id}} .testText p {position: absolute;top: 15%;left: 15%;right: 15%;bottom: 20%;opacity: 0;filter: alpha(opacity=0);color: {{section.settings.quotes_txt_clr}};-webkit-transition: all 0.5s ease;transition: all 0.5s ease;display: -webkit-flex;display: -ms-flexbox;display: -webkit-box;display: flex;-webkit-flex-direction: row;-ms-flex-direction: row;-webkit-box-orient: horizontal;-webkit-box-direction: normal;flex-direction: row;-webkit-align-items: center;-ms-flex-align: center;-webkit-box-align: center;align-items: center;-webkit-justify-content: center;-ms-flex-pack: center;-webkit-box-pack: center;justify-content: center;}#section6--{{section.id}} .testText .inner p {position: relative;line-height: 1.4em;}#section6--{{section.id}} .quote-col:hover .testText p {top: 5%;opacity: 1;filter: alpha(opacity=100);}#section6--{{section.id}} .testName {position: absolute;top: 80%;left: 5%;right: 5%;bottom: 5%;}#section6--{{section.id}} .testName {font-size: 1em;line-height: 2em;display: inline-block;text-transform: uppercase;text-align : center;}#section6--{{section.id}} .testName strong {color: {{section.settings.quotes_author_clr}};}#section6--{{section.id}} .quote-col:hover .testName strong {color: #1b1b1b;}.gridd {display: -webkit-flex;display: -ms-flexbox;display: -webkit-box;display: flex;-webkit-justify-content: space-between;-ms-flex-pack: justify;-webkit-box-pack: justify;justify-content: space-between;flex-wrap: wrap;-webkit-flex-wrap: wrap;-ms-flex-wrap: wrap;width: 100%;}.gridd .quote-col {padding: 10px;}.gridd.small-gutter .quote-col {padding: 5px;}.col-5 .quote-col {width: 20%;}.gridd .col-5 {width: 31.25%;}@media all and (max-width: 1400px) {.col-5 .quote-col {width: 33.33%;}}@media all and (max-width: 900px) {.col-5 .quote-col {width: 50%;}}@media all and (max-width: 600px) {.col-5 .quote-col {width: 100%;}}</style>  
<div class="page-width {{ section.settings.quote-visibility }}">
   {% if section.settings.title != blank %}
   <div class="section-header text-center">
      {% if section.settings.quotes-h == 'h1'%}
      <h1 class="h2">{{ section.settings.title | escape }}</h1>
      {% elsif section.settings.quotes-h == 'h2' %}
      <h2 class="h2">{{ section.settings.title | escape }}</h2>
      {% else %}
      <h3 class="h2">{{ section.settings.title | escape }}</h3>
      {% endif %}            
   </div>
   {% endif %}
   {% if section.blocks.size > 0 %}
   <div id="section6--{{section.id}}">
      <div class="gridd col-5">
         {% for block in section.blocks %}
         <div class="quote-col test">
            <img src="{{block.settings.quote_image | img_url: '1x1'}}" data-src="{{block.settings.quote_image | img_url: ''}}" class="quote-icon lazyload animation--{{settings.lazyloading-effect}}" alt="{{ block.settings.quote_image | escape }}" data-expand="-40">    
            <div class="testText">
               <p class="inner">{{ block.settings.quote }}</p>
            </div>
            <div class="testName">
               <div> <strong>{{ block.settings.author | escape }}</strong></div>
            </div>
         </div>
         {% endfor %}
      </div>
   </div>
   {% endif %}
   {% if section.blocks.size == 0 %}
   {% include 'no-blocks' %}
   {% endif %}
</div>
{% schema %}
{
  "name": {
        "cs": "Ohlasy",
        "da": "Vidnesbyrd",
        "de": "Testimonials",
        "en": "Testimonials",
        "es": "Testimonios",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "it": "Testimonianze",
        "ja": "お客様の声",
        "ko": "사용후기",
        "nb": "Attester",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Testemunhos",
        "pt-PT": "Testemunhos",
        "sv": "Vittnesmål",
        "th": "ข้อความรับรอง",
        "tr": "referanslar",
        "vi": "Lời chứng thực",
        "zh-CN": "感言",
        "zh-TW": "感言"
  },
  "class": "index-section",
  "max_blocks": 3,
  "settings": [
{
   "type": "radio",
   "id": "quote-visibility",
   "options": [
      { "value": "medium-up--hide", 
        "label": {
        "cs": "Pouze mobilní zařízení",
        "da": "Kun mobil",
        "de": "Nur mobil",
        "en": "Mobile only",
        "es": "Solo móvil",
        "fi": "Vain mobiililaite",
        "fr": "Mobile uniquement",
        "it": "Solo cellulare",
        "ja": "モバイルのみ",
        "ko": "모바일 전용",
        "nb": "Bare mobil",
        "nl": "Alleen mobiel",
        "pl": "Tylko telefon komórkowy",
        "pt-BR": "Apenas para celular",
        "pt-PT": "Apenas para celular",
        "sv": "Bare mobil",
        "th": "มือถือเท่านั้น",
        "tr": "Yalnızca mobil",
        "vi": "Chỉ di động",
        "zh-CN": "仅限手机",
        "zh-TW": "僅限手機"
        }
        },
      { "value": "small--hide", 
        "label": {
        "cs": "Pouze počítač",
        "da": "Kun computer",
        "de": "Nur Computer",
        "en": "Desktop only",
        "es": "Solo computadora",
        "fi": "Vain tietokone",
        "fr": "Ordinateur uniquement",
        "it": "Solo computer",
        "ja": "コンピューターのみ",
        "ko": "컴퓨터 전용",
        "nb": "Bare datamaskin",
        "nl": "Alleen computer",
        "pl": "Tylko komputer",
        "pt-BR": "Apenas computador",
        "pt-PT": "Apenas computador",
        "sv": "Endast dator",
        "th": "คอมพิวเตอร์เท่านั้น",
        "tr": "sadece bilgisayar",
        "vi": "Chỉ máy tính",
        "zh-CN": "仅计算机",
        "zh-TW": "僅計算機"
        }
      },
      { "value": "showboth",
                "label": {
        "cs": "Oba",
        "da": "Begge",
        "de": "Beide",
        "en": "Both",
        "es": "Ambos",
        "fi": "Molemmat",
        "fr": "Les deux",
        "it": "Tutti e due",
        "ja": "どちらも",
        "ko": "양자 모두",
        "nb": "Både",
        "nl": "Beide",
        "pl": "Obie",
        "pt-BR": "Ambos",
        "pt-PT": "Ambos",
        "sv": "Både",
        "th": "ทั้งคู่",
        "tr": "Her ikisi de",
        "vi": "Cả hai",
        "zh-CN": "两个都",
        "zh-TW": "兩個都"
        }
      }
   ],
          "label": {
        "cs": "Viditelnost",
        "da": "Sigtbarhed",
        "de": "Sichtweite",
        "en": "Visibility",
        "es": "Visibilidad",
        "fi": "Näkyvyys",
        "fr": "Visibilité",
        "it": "Visibilità",
        "ja": "可視性",
        "ko": "시계",
        "nb": "Synlighet",
        "nl": "Zichtbaarheid",
        "pl": "Widoczność",
        "pt-BR": "Visibilidade",
        "pt-PT": "Visibilidade",
        "sv": "Synlighet",
        "th": "ทัศนวิสัย",
        "tr": "görünürlük",
        "vi": "Hiển thị",
        "zh-CN": "能见度",
        "zh-TW": "能見度"
        },
"default":   "showboth"
},
    {
      "type": "text",
      "id": "title",
      "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
      },
      "default": {
        "cs": "Ohlasy",
        "da": "Vidnesbyrd",
        "de": "Testimonials",
        "en": "Testimonials",
        "es": "Testimonios",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "it": "Testimonianze",
        "ja": "お客様の声",
        "ko": "사용후기",
        "nb": "Attester",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Testemunhos",
        "pt-PT": "Testemunhos",
        "sv": "Vittnesmål",
        "th": "ข้อความรับรอง",
        "tr": "referanslar",
        "vi": "Lời chứng thực",
        "zh-CN": "感言",
        "zh-TW": "感言"
      }
    },
      {
        "type": "select",
        "id": "quotes-h",
        "label": {
        "cs": "Značka nadpisu",
        "da": "Overskriftskode",
        "de": "Überschrift-Tag",
        "en": "Heading tag",
        "es": "Etiqueta de encabezado",
        "fi": "Otsikkotunniste",
        "fr": "Balise d'en-tête",
        "it": "Etichetta di intestazione",
        "ja": "見出しタグ",
        "ko": "제목 태그",
        "nb": "Overskrift",
        "nl": "Koptekst",
        "pl": "Tag nagłówka",
        "pt-BR": "Tag de cabeçalho",
        "pt-PT": "Tag de cabeçalho",
        "sv": "Rubrikmärke",
        "th": "แท็กหัวเรื่อง",
        "tr": "başlık etiketi",
        "vi": "Thẻ tiêu đề",
        "zh-CN": "标题标签",
        "zh-TW": "標題標籤"
        },
        "options": [
          {
            "value": "h1",
            "label": {
        "cs": "h1",
        "da": "h1",
        "de": "h1",
        "en": "h1",
        "es": "h1",
        "fi": "h1",
        "fr": "h1",
        "it": "h1",
        "ja": "h1",
        "ko": "h1",
        "nb": "h1",
        "nl": "h1",
        "pl": "h1",
        "pt-BR": "h1",
        "pt-PT": "h1",
        "sv": "h1",
        "th": "h1",
        "tr": "h1",
        "vi": "h1",
        "zh-CN": "h1",
        "zh-TW": "h1"
            }
          },
          {
            "value": "h2",
            "label": {
        "cs": "h2",
        "da": "h2",
        "de": "h2",
        "en": "h2",
        "es": "h2",
        "fi": "h2",
        "fr": "h2",
        "it": "h2",
        "ja": "h2",
        "ko": "h2",
        "nb": "h2",
        "nl": "h2",
        "pl": "h2",
        "pt-BR": "h2",
        "pt-PT": "h2",
        "sv": "h2",
        "th": "h2",
        "tr": "h2",
        "vi": "h2",
        "zh-CN": "h2",
        "zh-TW": "h2"
            }
          },
          {
            "value": "h3",
            "label": {
        "cs": "h3",
        "da": "h3",
        "de": "h3",
        "en": "h3",
        "es": "h3",
        "fi": "h3",
        "fr": "h3",
        "it": "h3",
        "ja": "h3",
        "ko": "h3",
        "nb": "h3",
        "nl": "h3",
        "pl": "h3",
        "pt-BR": "h3",
        "pt-PT": "h3",
        "sv": "h3",
        "th": "h3",
        "tr": "h3",
        "vi": "h3",
        "zh-CN": "h3",
        "zh-TW": "h3"
            }
          }
        ],
        "default": "h2"
      },
      {
        "type": "range",
        "id": "quote_img_sz",
        "min": 200,
        "max": 600,
        "step": 10,
        "label": {
          "cs": "velikost obrázku",
          "da": "billedestørrelse",
          "de": "Bildgröße",
          "en": "image size",
          "es": "Tamaño de la imagen",
          "fi": "kuvan koko",
          "fr": "Taille de l'image",
          "it": "dimensione dell'immagine",
          "ja": "画像サイズ",
          "ko": "이미지 크기",
          "nb": "bildestørrelse",
          "nl": "afbeeldingsgrootte",
          "pl": "rozmiar obrazu",
          "pt-BR": "tamanho da imagem",
          "pt-PT": "tamanho da imagem",
          "sv": "bildstorlek",
          "th": "ขนาดรูปภาพ",
          "tr": "Görüntü boyutu",
          "vi": "kích thước ảnh",
          "zh-CN": "图片尺寸",
          "zh-TW": "圖片尺寸"
        },
        "default": 250
      },
      {
        "type": "range",
        "id": "quote_img_border",
        "min": 1,
        "max": 100,
        "step": 1,
        "label": {
          "cs": "poloměr obrazu",
          "da": "billedradius",
          "de": "Bildradius",
          "en": "image radius",
          "es": "radio de imagen",
          "fi": "kuvan säde",
          "fr": "rayon de l'image",
          "it": "raggio dell'immagine",
          "ja": "画像半径",
          "ko": "이미지 반경",
          "nb": "bilderadius",
          "nl": "afbeeldingsstraal",
          "pl": "promień obrazu",
          "pt-BR": "raio da imagem",
          "pt-PT": "raio da imagem",
          "sv": "bildradie",
          "th": "รัศมีภาพ",
          "tr": "görüntü yarıçapı",
          "vi": "bán kính hình ảnh",
          "zh-CN": "图像半径",
          "zh-TW": "圖像半徑"
        },
        "default": 100
      },
      {
        "type": "radio",
        "id": "image-quote-effect",
        "label": {
        "cs": "Vzhled obrázku",
        "da": "Billedets udseende",
        "de": "Bilddarstellung",
        "en": "Image appearance",
        "es": "Apariencia de la imagen",
        "fi": "Kuvan ulkonäkö",
        "fr": "Apparence de l'image",
        "it": "Aspetto dell'immagine",
        "ja": "画像の外観",
        "ko": "이미지 모양",
        "nb": "Bildeutseende",
        "nl": "Afbeelding uiterlijk",
        "pl": "Wygląd obrazu",
        "pt-BR": "Aparência da imagem",
        "pt-PT": "Aparência da imagem",
        "sv": "Bildens utseende",
        "th": "ลักษณะภาพ",
        "tr": "Görüntü görünümü",
        "vi": "Hình ảnh xuất hiện",
        "zh-CN": "图像外观",
        "zh-TW": "圖像外觀"
        },
        "options": [
          {
            "value": "none",
        "label": {
        "cs": "přiblížený",
        "da": "zoomet",
        "de": "ingezoomd",
        "en": "zoomed",
        "es": "ampliada",
        "fi": "zoomattu",
        "fr": "zoomée",
        "it": "ingrandito",
        "ja": "ズーム",
        "ko": "확대",
        "nb": "zoomet",
        "nl": "ingezoomd",
        "pl": "powiększony",
        "pt-BR": "ampliada",
        "pt-PT": "ampliada",
        "sv": "zoomat",
        "th": "ซูม",
        "tr": "yakınlaştırılmış",
        "vi": "phóng to",
        "zh-CN": "放大",
        "zh-TW": "放大"
        }
          },
          {
            "value": "fill",
        "label": {
        "cs": "Plněné",
        "da": "Fyldt op",
        "de": "gevulde",
        "en": "fill",
        "es": "llena",
        "fi": "Täytetty",
        "fr": "remplie",
        "it": "riempito",
        "ja": "いっぱい",
        "ko": "채우는",
        "nb": "Fylt",
        "nl": "Gevuld",
        "pl": "Wypełniony",
        "pt-BR": "Preenchido",
        "pt-PT": "Preenchido",
        "sv": "Fylld",
        "th": "เต็มแล้ว",
        "tr": "Dolu",
        "vi": "Điền",
        "zh-CN": "填充",
        "zh-TW": "填充"
        }
          },
          {
            "value": "contain",
        "label": {
        "cs": "Obsahovat",
        "da": "Indeholde",
        "de": "bevatten",
        "en": "contain",
        "es": "Contiene",
        "fi": "Sisältää",
        "fr": "contient",
        "it": "Contenere",
        "ja": "含む",
        "ko": "포함하다",
        "nb": "Inneholde",
        "nl": "Bevatten",
        "pl": "Zawierać",
        "pt-BR": "Conter",
        "pt-PT": "Conter",
        "sv": "Innehålla",
        "th": "บรรจุ",
        "tr": "İçermek",
        "vi": "Bao gồm",
        "zh-CN": "包含",
        "zh-TW": "包含"
        }
          },
          {
            "value": "scale-down",
        "label": {
        "cs": "utlumit",
        "da": "nedskalere",
        "de": "verkleinen",
        "en": "scale down",
        "es": "reducir proporcionalmente",
        "fi": "pienentää",
        "fr": "réduite",
        "it": "rimpicciolire",
        "ja": "スケールダウン",
        "ko": "축소",
        "nb": "nedskalere",
        "nl": "verkleinen",
        "pl": "pomniejszyć",
        "pt-BR": "diminuir gradativamente",
        "pt-PT": "diminuir gradativamente",
        "sv": "skala ner",
        "th": "ลดขนาดลง",
        "tr": "azaltmak",
        "vi": "giảm quy mô",
        "zh-CN": "缩小",
        "zh-TW": "縮小"
        }
          },
          {
            "value": "cover",
        "label": {
        "cs": "Pokrýt",
        "da": "dække over",
        "de": "Hoes",
        "en": "cover",
        "es": "cubrir",
        "fi": "peite",
        "fr": "couverture",
        "it": "copertina",
        "ja": "カバー",
        "ko": "덮",
        "nb": "dekke",
        "nl": "omslag",
        "pl": "pokrywa",
        "pt-BR": "cobrir",
        "pt-PT": "cobrir",
        "sv": "omslag",
        "th": "ปิดบัง",
        "tr": "örtmek",
        "vi": "trải ra",
        "zh-CN": "覆盖",
        "zh-TW": "覆蓋"
        }
          }
        ],
        "default": "none"
      },
      {
        "type": "color",
        "id": "quotes_txt_clr",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Text",
          "es": "Texto",
          "fi": "Teksti",
          "fr": "Texte",
          "it": "Testo",
          "ja": "テキスト",
          "ko": "텍스트",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "ข้อความ",
          "tr": "Metin",
          "vi": "Văn bản",
          "zh-CN": "文本",
          "zh-TW": "文字"
        },
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "quotes_author_clr",
        "label": {
          "cs": "Text",
          "da": "Tekst",
          "de": "Text",
          "en": "Text",
          "es": "Texto",
          "fi": "Teksti",
          "fr": "Texte",
          "it": "Testo",
          "ja": "テキスト",
          "ko": "텍스트",
          "nb": "Tekst",
          "nl": "Tekst",
          "pl": "Tekst",
          "pt-BR": "Texto",
          "pt-PT": "Texto",
          "sv": "Text",
          "th": "ข้อความ",
          "tr": "Metin",
          "vi": "Văn bản",
          "zh-CN": "文本",
          "zh-TW": "文字"
        },
        "default": "#cfa03a"
      },
      {
        "type": "color",
        "id": "quotes-bk",
        "label": {
          "cs": "Pozadí",
          "da": "Baggrund",
          "de": "Hintergrund",
          "en": "Background",
          "es": "Fondo",
          "fi": "Tausta",
          "fr": "Couleur de fond",
          "it": "Sfondo",
          "ja": "背景",
          "ko": "배경",
          "nb": "Bakgrunn",
          "nl": "Achtergrond",
          "pl": "Tło",
          "pt-BR": "Plano de fundo",
          "pt-PT": "Fundo",
          "sv": "Bakgrund",
          "th": "พื้นหลัง",
          "tr": "Arka plan",
          "vi": "Nền",
          "zh-CN": "背景",
          "zh-TW": "背景"
        },
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "quote-hover-bk",
        "label": {
          "cs": "Text nad textem",
          "da": "Hovered tekst",
          "de": "Text trab",
          "en": "Hovered text",
          "es": "Texto volado",
          "fi": "Siirretty teksti",
          "fr": "Texte survolé",
          "it": "Testo sospeso",
          "ja": "ホバーされたテキスト",
          "ko": "마우스오버된 텍스트",
          "nb": "Svevet tekst",
          "nl": "Zwevende tekst",
          "pl": "Najechany tekst",
          "pt-BR": "Texto pairado",
          "pt-PT": "Texto pairado",
          "sv": "Svävad text",
          "th": "โฮเวอร์ข้อความ",
          "tr": "üzerine gelinen metin",
          "vi": "Văn bản được di chuột qua",
          "zh-CN": "悬停文本",
          "zh-TW": "懸停文本"
        },
        "default": "#af8734"
      }
  ],
  "blocks": [
    {
      "type": "quote",
      "name": {
        "cs": "Ohlasy",
        "da": "Vidnesbyrd",
        "de": "Testimonials",
        "en": "Testimonials",
        "es": "Testimonios",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "it": "Testimonianze",
        "ja": "お客様の声",
        "ko": "사용후기",
        "nb": "Attester",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Testemunhos",
        "pt-PT": "Testemunhos",
        "sv": "Vittnesmål",
        "th": "ข้อความรับรอง",
        "tr": "referanslar",
        "vi": "Lời chứng thực",
        "zh-CN": "感言",
        "zh-TW": "感言"
      },
      "settings": [
      {
        "type": "image_picker",
        "id": "quote_image",
        "label": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
        },
        "info": {
        "cs": "Velikost můžete změnit v nastavení motivu",
        "da": "Du kan ændre størrelsen i temaindstillinger",
        "de": "Sie können die Größe in den Designeinstellungen ändern",
        "en": "You can change the size in theme settings",
        "es": "Puedes cambiar el tamaño en la configuración del tema",
        "fi": "Voit muuttaa kokoa teema -asetuksissa",
        "fr": "Vous pouvez changer la taille dans les paramètres du thème",
        "it": "Puoi modificare le dimensioni nelle impostazioni del tema",
        "ja": "テーマ設定でサイズを変更できます",
        "ko": "테마 설정에서 크기를 변경할 수 있습니다.",
        "nb": "Du kan endre størrelsen i temainnstillingene",
        "nl": "Je kunt de grootte wijzigen in de thema-instellingen",
        "pl": "Możesz zmienić rozmiar w ustawieniach motywu",
        "pt-BR": "Você pode alterar o tamanho nas configurações do tema",
        "pt-PT": "Você pode alterar o tamanho nas configurações do tema",
        "sv": "Du kan ändra storleken i temainställningarna",
        "th": "คุณสามารถเปลี่ยนขนาดได้ในการตั้งค่าธีม",
        "tr": "Boyutu tema ayarlarından değiştirebilirsiniz.",
        "vi": "Bạn có thể thay đổi kích thước trong cài đặt chủ đề",
        "zh-CN": "您可以在主题设置中更改大小",
        "zh-TW": "您可以在主題設置中更改大小"
        }
      },
        {
          "type": "richtext",
          "id": "quote",
          "label": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
          },
          "default": {
        "cs": "<p> Přidejte recenze a posudky zákazníků, abyste předvedli spokojené zákazníky svého obchodu. </p>",
        "da": "<p> Tilføj kundeanmeldelser og udtalelser for at vise din butiks tilfredse kunder. </p>",
        "de": "<p>Kunden-Reviews und Testimonials, die Kundenzufriedenheit beweisen.</p>",
        "en": "<p>Add customer reviews and testimonials to showcase your store’s happy customers.</p>",
        "es": "<p>Agrega las reseñas y los testimonios de los clientes para mostrar a los clientes satisfechos de tu tienda.</p>",
        "fi": "<p> Lisää asiakkaiden arvosteluja ja suosituksia, jotta voit esitellä kauppasi tyytyväisiä asiakkaita. </p>",
        "fr": "<p>Ajoutez des avis et témoignages pour mettre en avant vos clients satisfaits.</p>",
        "it": "<p>Aggiungi recensioni e testimonianze dei clienti per mostrare i clienti soddisfatti del tuo negozio.</p>",
        "ja": "<p>カスタマーレビューと紹介文を追加して、ストアの満足している顧客を紹介します。</ p>",
        "ko": "<p>고객 리뷰와 평가를 추가하여 매장의 행복한 고객을 보여주세요.</p>",
        "nb": "<p> Legg til kundeanmeldelser og attester for å vise frem butikkens fornøyde kunder. </p>",
        "nl": "<p>Voeg klantrecensies en getuigenissen toe om de tevreden klanten van uw winkel te laten zien.</p>",
        "pl": "<p>Dodaj recenzje klientów i referencje, aby zaprezentować zadowolonych klientów swojego sklepu.</p>",
        "pt-BR": "<p> Adicione comentários e depoimentos de clientes para mostrar os clientes satisfeitos de sua loja. </p>",
        "pt-PT": "<p> Adicione comentários e depoimentos de clientes para mostrar os clientes satisfeitos de sua loja. </p>",
        "sv": "<p> Lägg till kundrecensioner och vittnesmål för att visa din butiks nöjda kunder. </p>",
        "th": "<p>เพิ่มรีวิวและคำรับรองจากลูกค้าเพื่อแสดงให้ลูกค้าเห็นว่าร้านของคุณมีความสุข</p>",
        "tr": "<p>Mağazanızın mutlu müşterilerini sergilemek için müşteri yorumları ve referansları ekleyin.</p>",
        "vi": "<p> Thêm các bài đánh giá và lời chứng thực của khách hàng để giới thiệu những khách hàng hài lòng của cửa hàng bạn. </p>",
        "zh-CN": "<p>添加客户评论和推荐以展示您商店的满意客户。</p>",
        "zh-TW": "<p>添加客戶評論和推薦以展示您商店的滿意客戶。</p>"
          }
        },
        {
          "type": "text",
          "id": "author",
          "label": {
        "cs": "Autor",
        "da": "Forfatter",
        "de": "Autor",
        "en": "Author",
        "es": "Autor",
        "fi": "Kirjailija",
        "fr": "Auteur",
        "it": "Autore",
        "ja": "著者",
        "ko": "작가",
        "nb": "Forfatter",
        "nl": "Auteur",
        "pl": "Autor",
        "pt-BR": "Autor",
        "pt-PT": "Autor",
        "sv": "Författare",
        "th": "ผู้เขียน",
        "tr": "Yazar",
        "vi": "Tác giả",
        "zh-CN": "作者",
        "zh-TW": "作者"
          },
          "default": {
        "cs": "Jméno autora",
        "da": "Forfatterens navn",
        "de": "Name des Autors",
        "en": "Author's name",
        "es": "Nombre del autor",
        "fi": "Kirjoittajan nimi",
        "fr": "Nom de l'auteur",
        "it": "Nome dell'autore",
        "ja": "著者の名前",
        "ko": "저자 이름",
        "nb": "Forfatterens navn",
        "nl": "Auteursnaam",
        "pl": "Imię autora",
        "pt-BR": "Nome do autor",
        "pt-PT": "Nome do autor",
        "sv": "Författarens namn",
        "th": "ชื่อผู้แต่ง",
        "tr": "Yazarın ismi",
        "vi": "Tên tác giả",
        "zh-CN": "作者姓名",
        "zh-TW": "作者姓名"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
        "cs": "Ohlasy",
        "da": "Vidnesbyrd",
        "de": "Testimonials",
        "en": "Testimonials",
        "es": "Testimonios",
        "fi": "Suositukset",
        "fr": "Témoignages",
        "it": "Testimonianze",
        "ja": "お客様の声",
        "ko": "사용후기",
        "nb": "Attester",
        "nl": "Getuigenissen",
        "pl": "Referencje",
        "pt-BR": "Testemunhos",
        "pt-PT": "Testemunhos",
        "sv": "Vittnesmål",
        "th": "ข้อความรับรอง",
        "tr": "referanslar",
        "vi": "Lời chứng thực",
        "zh-CN": "感言",
        "zh-TW": "感言"
      },
      "category": {
        "cs": "Text",
        "da": "Tekst",
        "de": "Text",
        "en": "Text",
        "es": "Texto",
        "fi": "Teksti",
        "fr": "Texte",
        "it": "Testo",
        "ja": "テキスト",
        "ko": "텍스트",
        "nb": "Tekst",
        "nl": "Tekst",
        "pl": "Tekst",
        "pt-BR": "Texto",
        "pt-PT": "Texto",
        "sv": "Text",
        "th": "ข้อความ",
        "tr": "Metin",
        "vi": "Văn bản",
        "zh-CN": "文本",
        "zh-TW": "文字"
      },
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}
