<style>.slideshow-container {width: 100%;position: relative;margin: auto;height: auto; }.slideshow-container .mySlides img {max-height : {{section.settings.slide_img_sz}}px;width : 100%;  object-fit : cover;}.prevv,.nextt {cursor: pointer;position: absolute;top: 0;top: 50%;width: auto;margin-top: -22px;padding: 16px;color: white;font-weight: bold;font-size: 18px;transition: 0.6s ease;border-radius: 0 3px 3px 0;}.nextt {right: 0;border-radius: 3px 0 0 3px;}.prevv:hover,.nextt:hover {background-color: rgba(0, 0, 0, 0.8);}.mySlides .slide-text {font-size: 25px;padding: 8px 12px;position: absolute;width: auto;text-align: center;background : rgb({{section.settings.r_clr}}, {{section.settings.g_clr}}, {{section.settings.b_clr}},{{section.settings.slide_opacity}});}.mySlides .slide-text-mob {background : rgb({{section.settings.r_clr}}, {{section.settings.g_clr}}, {{section.settings.b_clr}},{{section.settings.slide_opacity}});}.mySlides .text_align--mid-center {top: 50%;left: 50%;transform: translate(-50%, -50%);}.mySlides .text_align--left-center {top: 50%;left: 20%;transform: translate(-20%, -50%);}.mySlides .text_align--right-center {top: 50%;left: 80%;transform: translate(-80%, -50%);}.mySlides .text_align--top-center {top: 20%;left: 50%;transform: translate(-50%, -20%);}.mySlides .text_align--bottom-center {top: 80%;left: 50%;transform: translate(-50%, -80%);} .mySlides .text_align--bottom-left {top: 80%;left: 20%;transform: translate(-20%, -80%);}.mySlides .text_align--top-left {top: 20%;left: 20%;transform: translate(-20%, -20%);}.mySlides .text_align--top-right {top: 20%;left: 80%;transform: translate(-80%, -20%);} .mySlides .text_align--bottom-right {top: 80%;left: 80%;transform: translate(-80%, -80%);}.dots-wrapper {text-align: center;display:inline-block;margin-left: auto;  margin-right: auto;width : 100%;  }.dot {cursor: pointer;height: 13px;width: 13px;margin: 0 2px;background-color: #bbb;border-radius: 50%;display: inline-block;transition: background-color 0.6s ease;}.active,.dot:hover {background-color: #717171;} .slideshow__title {font-size : {{section.settings.slid_hd_sz}}px;font-family: var(--font-stack-slideshow);color : {{section.settings.color_slid-txt-hd}};  }.slideshow__subtitle {font-size : {{section.settings.slid_subhd_sz}}px; font-family: var(--font-stack-slideshow);color : {{section.settings.color_slid-txt-txt}};}@media(max-width: 749px){.slideshow__title{font-size: 24px;}.slideshow__subtitle{font-size: 18px;line-height: 1.1;}}</style>  
<div class=" {% if section.settings.slide-full == blank %} page-width {% endif %} slideshow-s-container {{section.settings.slide-visibility}}">
   <div class="slideshow-container">
      {% for block in section.blocks %}
      <div class="mySlides">
         <img class="lazyload " 
            src="{{ block.settings.image | img_url: '1x1' }}"
            data-src="{{ block.settings.image | img_url: '' }}"
            data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
            data-sizes="auto"
            alt="{{ block.settings.image.alt | escape }}" >  
         <div class="small--hide ">
            <div class="slide-text text_align--{{block.settings.text_alignment}}">
               <div class="slideshow__title">{{block.settings.slide_title}}</div>
               <div class="slideshow__subtitle">{{block.settings.subheading}}</div>
               {% if block.settings.button_label != blank and block.settings.button_link != blank %}   
               <a class="small--hide btn btn--small" href="{{ block.settings.button_link }}" title="{{ block.settings.button_link | truncate: 22 }}">
               {{ block.settings.button_label | escape }}
               </a>
               {% endif %}
            </div>
         </div>
         <div class="medium-up--hide text-center slide-text-mob ">
            <div class="slideshow__title">{{block.settings.slide_title}}</div>
            <div class="slideshow__subtitle">{{block.settings.subheading}}</div>
            {% if block.settings.button_label != blank and block.settings.button_link != blank %}   
            <a class="btn btn--small" href="{{ block.settings.button_link }}" title="{{ block.settings.button_link | truncate: 22 }}">
            {{ block.settings.button_label | escape }}
            </a> 
            {% endif %}    
         </div>
      </div>
      {% endfor %}
      <a class="prevv" onclick="plusSlides(-1)">&#10094;</a>
      <a class="nextt" onclick="plusSlides(1)">&#10095;</a>
   </div>
   <br>
   <div class="dots-wrapper">
      {% for block in section.blocks %}
      <span class="dot" onclick="currentSlide({{forloop.index}})"></span>
      {% endfor %}
   </div>
</div>
<script>var slideIndex=1;function plusSlides(e){showSlides(slideIndex+=e)}function currentSlide(e){showSlides(slideIndex=e)}function showSlides(e){var s,l=document.getElementsByClassName("mySlides"),d=document.getElementsByClassName("dot");for(e>l.length&&(slideIndex=1),e<1&&(slideIndex=l.length),s=0;s<l.length;s++)l[s].style.display="none";for(s=0;s<d.length;s++)d[s].classList.remove("active");l[slideIndex-1].style.display="block",d[slideIndex-1].classList.add("active")}showSlides(slideIndex);</script>  
{% schema %}
{
  "name": {
    "cs": "Prezentace",
    "da": "Diasshow",
    "de": "Slideshow",
    "en": "Slideshow",
    "es": "Diapositivas",
    "fi": "Diaesitys",
    "fr": "Diaporama",
    "it": "Presentazione",
    "ja": "スライドショー",
    "ko": "슬라이드 쇼",
    "nb": "Lysbildefremvisning",
    "nl": "Diavoorstelling",
    "pl": "Pokaz slajdów",
    "pt-BR": "Apresentação de slides",
    "pt-PT": "Apresentação de diapositivos",
    "sv": "Bildspel",
    "th": "สไลด์โชว์",
    "tr": "Slayt gösterisi",
    "vi": "Bản trình chiếu",
    "zh-CN": "幻灯片",
    "zh-TW": "素材輪播"
  },
  "class": "index-section index-section--flush index-section--slideshow",
  "max_blocks": 6,
  "settings": [
{
"type": "header",
"content": {
    "cs": "Prezentace [Potřebovat pomoc?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "da": "Diasshow [Brug for hjælp?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "de": "Slideshow [Hulp nodig?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "en": "Slideshow [Need help?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "es": "Diapositivas [Necesitas ayuda?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "fi": "Diaesitys [Tarvitsetko apua?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "fr": "Diaporama [Besoin d'aide?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "it": "Presentazione [Ho bisogno di aiuto?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "ja": "スライドショー [助けが必要?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "ko": "슬라이드 쇼 [도움이 필요하다?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "nb": "Lysbildefremvisning [Trenger hjelp?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "nl": "Diavoorstelling [Hulp nodig?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "pl": "Pokaz slajdów [Potrzebuję pomocy?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "pt-BR": "Apresentação de slides [Preciso de ajuda?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "pt-PT": "Apresentação de diapositivos [Preciso de ajuda?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "sv": "Bildspel [Behövs hjälp?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "th": "สไลด์โชว์ [ต้องการความช่วยเหลือ?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "tr": "Slayt gösterisi [yardıma ihtiyacım var?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "vi": "Bản trình chiếu [Cần giúp đỡ?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "zh-CN": "幻灯片 [需要帮忙?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)",
    "zh-TW": "素材輪播 [需要幫忙?](https:\/\/plaktheme.com\/knowledge-base\/how-to-customize-the-slideshow/)"
}
},
{
   "type": "radio",
   "id": "slide-visibility",
   "options": [
      { "value": "medium-up--hide", 
        "label": {
        "cs": "Pouze mobilní zařízení",
        "da": "Kun mobil",
        "de": "Nur mobil",
        "en": "Mobile only",
        "es": "Solo móvil",
        "fi": "Vain mobiililaite",
        "fr": "Mobile uniquement",
        "it": "Solo cellulare",
        "ja": "モバイルのみ",
        "ko": "모바일 전용",
        "nb": "Bare mobil",
        "nl": "Alleen mobiel",
        "pl": "Tylko telefon komórkowy",
        "pt-BR": "Apenas para celular",
        "pt-PT": "Apenas para celular",
        "sv": "Bare mobil",
        "th": "มือถือเท่านั้น",
        "tr": "Yalnızca mobil",
        "vi": "Chỉ di động",
        "zh-CN": "仅限手机",
        "zh-TW": "僅限手機"
        }
        },
      { "value": "small--hide", 
        "label": {
        "cs": "Pouze počítač",
        "da": "Kun computer",
        "de": "Nur Computer",
        "en": "Desktop only",
        "es": "Solo computadora",
        "fi": "Vain tietokone",
        "fr": "Ordinateur uniquement",
        "it": "Solo computer",
        "ja": "コンピューターのみ",
        "ko": "컴퓨터 전용",
        "nb": "Bare datamaskin",
        "nl": "Alleen computer",
        "pl": "Tylko komputer",
        "pt-BR": "Apenas computador",
        "pt-PT": "Apenas computador",
        "sv": "Endast dator",
        "th": "คอมพิวเตอร์เท่านั้น",
        "tr": "sadece bilgisayar",
        "vi": "Chỉ máy tính",
        "zh-CN": "仅计算机",
        "zh-TW": "僅計算機"
        }
      },
      { "value": "showboth",
                "label": {
        "cs": "Oba",
        "da": "Begge",
        "de": "Beide",
        "en": "Both",
        "es": "Ambos",
        "fi": "Molemmat",
        "fr": "Les deux",
        "it": "Tutti e due",
        "ja": "どちらも",
        "ko": "양자 모두",
        "nb": "Både",
        "nl": "Beide",
        "pl": "Obie",
        "pt-BR": "Ambos",
        "pt-PT": "Ambos",
        "sv": "Både",
        "th": "ทั้งคู่",
        "tr": "Her ikisi de",
        "vi": "Cả hai",
        "zh-CN": "两个都",
        "zh-TW": "兩個都"
        }
      }
   ],
          "label": {
        "cs": "Viditelnost",
        "da": "Sigtbarhed",
        "de": "Sichtweite",
        "en": "Visibility",
        "es": "Visibilidad",
        "fi": "Näkyvyys",
        "fr": "Visibilité",
        "it": "Visibilità",
        "ja": "可視性",
        "ko": "시계",
        "nb": "Synlighet",
        "nl": "Zichtbaarheid",
        "pl": "Widoczność",
        "pt-BR": "Visibilidade",
        "pt-PT": "Visibilidade",
        "sv": "Synlighet",
        "th": "ทัศนวิสัย",
        "tr": "görünürlük",
        "vi": "Hiển thị",
        "zh-CN": "能见度",
        "zh-TW": "能見度"
        },
"default":   "showboth"
},
{
"type": "checkbox",
"id": "slide-full",
"label": {
            "cs": "Plná šířka",
            "da": "Fuld bredde",
            "de": "Volle Breite",
            "en": "Full width",
            "es": "Ancho completo",
            "fi": "Täysi leveys",
            "fr": "Pleine largeur",
            "it": "Intera larghezza",
            "ja": "全幅",
            "ko": "전체 폭",
            "nb": "Full bredde",
            "nl": "Volledige breedte",
            "pl": "Pełna szerokość",
            "pt-BR": "Largura completa",
            "pt-PT": "Largura total",
            "sv": "Full bredd",
            "th": "เต็มความกว้าง",
            "tr": "Tam genişlik",
            "vi": "Độ rộng đầy đủ",
            "zh-CN": "全宽",
            "zh-TW": "全寬度"
},
"default": true
},
{
"type": "text",
"id": "slide_img_sz",
"label": {
        "cs": "Výška obrazu",
        "da": "Billedhøjde",
        "de": "Bildhöhe",
        "en": "Image height",
        "es": "Altura de imagen",
        "fi": "Kuvan korkeus",
        "fr": "Hauteur de l'image",
        "it": "Altezza immagine",
        "ja": "画像の高さ",
        "ko": "이미지 높이",
        "nb": "Bildens høyde",
        "nl": "Hoogte afbeelding",
        "pl": "Wysokość obrazu",
        "pt-BR": "Altura da imagem",
        "pt-PT": "Altura da imagem",
        "sv": "Bildhöjd",
        "th": "ความสูงของภาพ",
        "tr": "Görüntü yüksekliği",
        "vi": "Chiều cao hình ảnh",
        "zh-CN": "图片高度",
        "zh-TW": "圖片高度"
},
"default": "400"
},
      {
        "type": "text",
        "id": "slid_hd_sz",
        "label": {
        "cs": "Velikost názvu",
        "da": "Titelstørrelse",
        "de": "Größe des Titels",
        "en": "Header text size",
        "es": "Tamaño del título",
        "fi": "Otsikon koko",
        "fr": "Taille du titre",
        "it": "Dimensione del titolo",
        "ja": "タイトルサイズ",
        "ko": "제목 크기",
        "nb": "Tittelstørrelse",
        "nl": "Titel grootte",
        "pl": "Rozmiar tytułu",
        "pt-BR": "Tamanho do título",
        "pt-PT": "Tamanho do título",
        "sv": "Titelstorlek",
        "th": "ขนาดชื่อเรื่อง",
        "tr": "Başlık boyutu",
        "vi": "Kích thước tiêu đề",
        "zh-CN": "标题大小",
        "zh-TW": "標題大小"
        },
  "default": "63"
},
      {
        "type": "text",
        "id": "slid_subhd_sz",
        "label": {
        "cs": "Velikost titulků",
        "da": "Undertekststørrelse",
        "de": "Subheader-Größe",
        "en": "Subheader size",
        "es": "Tamaño del subtítulo",
        "fi": "Tekstityksen koko",
        "fr": "Taille du sous-titre",
        "it": "Dimensione dei sottotitoli",
        "ja": "字幕サイズ",
        "ko": "자막 크기",
        "nb": "Tekststørrelse",
        "nl": "Ondertitel grootte",
        "pl": "Rozmiar napisów",
        "pt-BR": "Tamanho da legenda",
        "pt-PT": "Tamanho da legenda",
        "sv": "Undertextstorlek",
        "th": "ขนาดคำบรรยาย",
        "tr": "altyazı boyutu",
        "vi": "Kích thước phụ đề",
        "zh-CN": "字幕大小",
        "zh-TW": "字幕大小"
        },
  "default": "22"
},
      {
        "type": "color",
        "id": "color_slid-txt-hd",
        "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
        },
        "default": "#FFFFFF"
      },
      {
        "type": "color",
        "id": "color_slid-txt-txt",
        "label": {
        "cs": "Podnadpis",
        "da": "Underhoved",
        "de": "Untertiteltext",
        "en": "Subheader",
        "es": "Texto de encabezado secundario",
        "fi": "Alaotsikko",
        "fr": "Sous-titre",
        "it": "Sottotitolo",
        "ja": "サブヘッダー",
        "ko": "서브헤더",
        "nb": "Subheader",
        "nl": "Subkop",
        "pl": "Podtytuł",
        "pt-BR": "Subheader",
        "pt-PT": "Subheader",
        "sv": "Underhuvud",
        "th": "หัวข้อย่อย",
        "tr": "alt başlık",
        "vi": "Tiêu đề phụ",
        "zh-CN": "副标题",
        "zh-TW": "副標題"
        },
        "default": "#e5e5e5"
      },
      {
        "type": "header",
        "content": {
          "cs": "Pozadí",
          "da": "Baggrund",
          "de": "Hintergrund",
          "en": "Background",
          "es": "Fondo",
          "fi": "Tausta",
          "fr": "Couleur de fond",
          "it": "Sfondo",
          "ja": "背景",
          "ko": "배경",
          "nb": "Bakgrunn",
          "nl": "Achtergrond",
          "pl": "Tło",
          "pt-BR": "Plano de fundo",
          "pt-PT": "Fundo",
          "sv": "Bakgrund",
          "th": "พื้นหลัง",
          "tr": "Arka plan",
          "vi": "Nền",
          "zh-CN": "背景",
          "zh-TW": "背景"
        }
      },
{
"type": "text",
"id": "r_clr",
"label": {
        "cs": "R",
        "da": "R",
        "de": "R",
        "en": "R",
        "es": "R",
        "fi": "R",
        "fr": "R",
        "it": "R",
        "ja": "R",
        "ko": "R",
        "nb": "R",
        "nl": "R",
        "pl": "R",
        "pt-BR": "R",
        "pt-PT": "R",
        "sv": "R",
        "th": "R",
        "tr": "R",
        "vi": "R",
        "zh-CN": "R",
        "zh-TW": "R"
},
"default": "222"
},
{
"type": "text",
"id": "g_clr",
"label": {
        "cs": "G",
        "da": "G",
        "de": "G",
        "en": "G",
        "es": "G",
        "fi": "G",
        "fr": "G",
        "it": "G",
        "ja": "G",
        "ko": "G",
        "nb": "G",
        "nl": "G",
        "pl": "G",
        "pt-BR": "G",
        "pt-PT": "G",
        "sv": "G",
        "th": "G",
        "tr": "G",
        "vi": "G",
        "zh-CN": "G",
        "zh-TW": "G"
},
"default": "160"
},
{
"type": "text",
"id": "b_clr",
"label": {
        "cs": "B",
        "da": "B",
        "de": "B",
        "en": "B",
        "es": "B",
        "fi": "B",
        "fr": "B",
        "it": "B",
        "ja": "B",
        "ko": "B",
        "nb": "B",
        "nl": "B",
        "pl": "B",
        "pt-BR": "B",
        "pt-PT": "B",
        "sv": "B",
        "th": "B",
        "tr": "B",
        "vi": "B",
        "zh-CN": "B",
        "zh-TW": "B"
},
"default": "160"
},
      {
        "type": "text",
        "id": "slide_opacity",
        "label": {
          "cs": "Neprůhlednost",
          "da": "Uigennemsigtighed",
          "de": "Opazität",
          "en": "Opacity",
          "es": "Opacidad",
          "fi": "Sameus",
          "fr": "Opacité",
          "it": "Opacità",
          "ja": "不透過率",
          "ko": "불투명도",
          "nb": "Gjennomsiktighet",
          "nl": "Doorschijnendheid",
          "pl": "Nieprzezroczystość",
          "pt-BR": "Opacidade",
          "pt-PT": "Opacidade",
          "sv": "Opacitet",
          "th": "ความทึบ",
          "tr": "Opaklık",
          "vi": "Độ chắn sáng",
          "zh-CN": "不透明度",
          "zh-TW": "透明度"
        },
        "default": "0.6"
      }
  ],
  "blocks": [
    {
      "type": "image",
      "name": {
        "cs": "Obrázkový snímek",
        "da": "Billeddias",
        "de": "Foto-Slide",
        "en": "Image slide",
        "es": "Diapositiva de imagen",
        "fi": "Kuvadia",
        "fr": "Diapositive (image)",
        "it": "Slide immagine",
        "ja": "画像スライド",
        "ko": "이미지 슬라이드",
        "nb": "Lysbilde",
        "nl": "Afbeelding dia",
        "pl": "Slajd obrazu",
        "pt-BR": "Slide de imagem",
        "pt-PT": "Diapositivo de imagem",
        "sv": "Bild i bildspel",
        "th": "สไลด์รูปภาพ",
        "tr": "Görsel slaytı",
        "vi": "Trang chiếu hình ảnh",
        "zh-CN": "图片幻灯片",
        "zh-TW": "圖片投影片"
      },
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
          }
        },
          {
      "type": "select",
      "id": "text_alignment",
      "label": {
        "cs": "Zarovnání textu",
        "da": "Tekstjustering",
        "de": "Textausrichtung",
        "en": "Text alignment",
        "es": "Alineación de texto",
        "fi": "Tekstin tasaus",
        "fr": "Alignement du texte",
        "it": "Allineamento del testo",
        "ja": "テキストアラインメント",
        "ko": "텍스트 정렬",
        "nb": "Tekstjustering",
        "nl": "Tekstuitlijning",
        "pl": "Wyrównanie tekstu",
        "pt-BR": "Alinhamento de texto",
        "pt-PT": "Alinhamento de texto",
        "sv": "Textjustering",
        "th": "การจัดตำแหน่งข้อความ",
        "tr": "Metin hizalaması",
        "vi": "Căn chỉnh văn bản",
        "zh-CN": "文本对齐方式",
        "zh-TW": "文字對齊"
      },
      "default": "mid-center",
      "options": [
        {
          "label": {
            "cs": "Nahoře doleva",
            "da": "Øverst til venstre",
            "de": "Oben links",
            "en": "Top left",
            "es": "Superior izquierda",
            "fi": "Ylhäällä vasemmalla",
            "fr": "En haut à gauche",
            "it": "In alto a sinistra",
            "ja": "左上",
            "ko": "왼쪽 상단",
            "nb": "Øverst til venstre",
            "nl": "Linksboven",
            "pl": "Na górze po lewej",
            "pt-BR": "Superior esquerdo",
            "pt-PT": "Canto superior esquerdo",
            "sv": "Överst till vänster",
            "th": "ซ้ายบน",
            "tr": "Üst sol",
            "vi": "Trên cùng bên trái",
            "zh-CN": "左上方",
            "zh-TW": "左上角"
          },
          "value": "top-left"
        },
        {
          "label": {
            "cs": "Nahoře na střed",
            "da": "Øverst i midten",
            "de": "Oben Mitte",
            "en": "Top center",
            "es": "Superior centrada",
            "fi": "Keskellä ylhäällä",
            "fr": "En haut au centre",
            "it": "In alto al centro",
            "ja": "中央上",
            "ko": "맨 위 중간",
            "nb": "Toppsentrert",
            "nl": "Midden boven",
            "pl": "Na górze na środku",
            "pt-BR": "Superior centro",
            "pt-PT": "Superior centro",
            "sv": "Längst upp i mitten",
            "th": "กลางบน",
            "tr": "Üst orta",
            "vi": "Trên cùng ở giữa",
            "zh-CN": "顶部居中",
            "zh-TW": "中央上方"
          },
          "value": "top-center"
        },
        {
          "label": {
            "cs": "Nahoře doprava",
            "da": "Øverst til højre",
            "de": "Oben rechts",
            "en": "Top right",
            "es": "Superior derecha",
            "fi": "Ylhäällä oikealla",
            "fr": "En haut à droite",
            "it": "In alto a destra",
            "ja": "右上",
            "ko": "오른쪽 상단",
            "nb": "Øverst til høyre",
            "nl": "Rechtsboven",
            "pl": "Na górze po prawej",
            "pt-BR": "Superior direito",
            "pt-PT": "Canto superior direito",
            "sv": "Överst till höger",
            "th": "ขวาบน",
            "tr": "Üst sağ",
            "vi": "Trên cùng bên phải",
            "zh-CN": "右上方",
            "zh-TW": "右上角"
          },
          "value": "top-right"
        },
        {
          "label": {
            "cs": "Uprostřed doleva",
            "da": "Midt på til venstre",
            "de": "Mitte links",
            "en": "Middle left",
            "es": "Al medio a la izquierda",
            "fi": "Keskellä vasemmalla",
            "fr": "Au milieu à gauche",
            "it": "Nel mezzo a sinistra",
            "ja": "中央部左側",
            "ko": "왼쪽 중간",
            "nb": "Midt til venstre",
            "nl": "Midden links",
            "pl": "Na środku po lewej",
            "pt-BR": "Meio esquerdo",
            "pt-PT": "Intermédio à esquerda",
            "sv": "Mitten till vänster",
            "th": "ซ้ายกลาง",
            "tr": "Orta sol",
            "vi": "Ở giữa bên trái",
            "zh-CN": "中间居左",
            "zh-TW": "中央左方"
          },
          "value": "left-center"
        },
        {
          "label": {
            "cs": "Uprostřed na střed",
            "da": "Midt på centreret",
            "de": "Mitte mittig",
            "en": "Middle center",
            "es": "Centrada en el medio",
            "fi": "Keskellä keskellä",
            "fr": "Centrée au milieu",
            "it": "In mezzo",
            "ja": "中心",
            "ko": "가운데 중간",
            "nb": "Midt i senter",
            "nl": "Midden centrum",
            "pl": "Na środku",
            "pt-BR": "Meio centro",
            "pt-PT": "Intermédio ao centro",
            "sv": "Mitten centrerat",
            "th": "กึ่งกลาง",
            "tr": "Orta kısmın ortası",
            "vi": "Chính giữa",
            "zh-CN": "中间居中",
            "zh-TW": "正中央"
          },
          "value": "mid-center"
        },
        {
          "label": {
            "cs": "Uprostřed doprava",
            "da": "Midt på til højre",
            "de": "Mitte rechts",
            "en": "Middle right",
            "es": "Centrado a la derecha",
            "fi": "Keskellä oikealla",
            "fr": "Au milieu à droite",
            "it": "Nel mezzo a destra",
            "ja": "中央部右側",
            "ko": "오른쪽 중간",
            "nb": "Midt til høyre",
            "nl": "Midden rechts",
            "pl": "Na środku po prawej",
            "pt-BR": "Meio direito",
            "pt-PT": "Intermédio à direita",
            "sv": "Mitten till höger",
            "th": "ขวากลาง",
            "tr": "Orta sağ",
            "vi": "Ở giữa bên phải",
            "zh-CN": "中间居右",
            "zh-TW": "中央右方"
          },
          "value": "right-center"
        },
        {
          "label": {
            "cs": "Dole doleva",
            "da": "Nederst til venstre",
            "de": "Unten links",
            "en": "Bottom left",
            "es": "Inferior izquierda",
            "fi": "Alhaalla vasemmalla",
            "fr": "En bas à gauche",
            "it": "In basso a sinistra",
            "ja": "左下",
            "ko": "왼쪽 하단",
            "nb": "Nederst til venstre",
            "nl": "Linksonder",
            "pl": "Na dole po lewej",
            "pt-BR": "Inferior esquerdo",
            "pt-PT": "Canto inferior esquerdo",
            "sv": "Nere till vänster",
            "th": "ซ้ายล่าง",
            "tr": "Alt sol",
            "vi": "Dưới cùng bên trái",
            "zh-CN": "左下方",
            "zh-TW": "左下角"
          },
          "value": "bottom-left"
        },
        {
          "label": {
            "cs": "Dole na střed",
            "da": "Nederst i midten",
            "de": "Unten mittig",
            "en": "Bottom center",
            "es": "Inferior centrada",
            "fi": "Keskellä alhaalla",
            "fr": "En bas au centre",
            "it": "In basso al centro",
            "ja": "中央下",
            "ko": "맨아래 중간",
            "nb": "Bunnsentrert",
            "nl": "Midden onder",
            "pl": "Na dole na środku",
            "pt-BR": "Inferior centro",
            "pt-PT": "Inferior centro",
            "sv": "Längst ner i mitten",
            "th": "กลางล่าง",
            "tr": "Alt orta",
            "vi": "Dưới cùng ở giữa",
            "zh-CN": "底部居中",
            "zh-TW": "中央下方"
          },
          "value": "bottom-center"
        },
        {
          "label": {
            "cs": "Dole doprava",
            "da": "Nederst til højre",
            "de": "Unten rechts",
            "en": "Bottom right",
            "es": "Inferior derecha",
            "fi": "Alhaalla oikealla",
            "fr": "En bas à droite",
            "it": "In basso a destra",
            "ja": "右下",
            "ko": "오른쪽 아래",
            "nb": "Nederst til høyre",
            "nl": "Rechtsonder",
            "pl": "Na dole po prawej",
            "pt-BR": "Inferior direito",
            "pt-PT": "Canto inferior direito",
            "sv": "Nere till höger",
            "th": "ขวาล่าง",
            "tr": "Alt sağ",
            "vi": "Dưới cùng bên phải",
            "zh-CN": "右下方",
            "zh-TW": "右下角"
          },
          "value": "bottom-right"
        }
      ]
    },
        {
          "type": "text",
          "id": "slide_title",
          "label": {
        "cs": "Nadpis",
        "da": "Overskrift",
        "de": "Titel",
        "en": "Heading",
        "es": "Título",
        "fi": "Otsake",
        "fr": "En-tête",
        "it": "Heading",
        "ja": "見出し",
        "ko": "제목",
        "nb": "Overskrift",
        "nl": "Kop",
        "pl": "Nagłówek",
        "pt-BR": "Título",
        "pt-PT": "Título",
        "sv": "Rubrik",
        "th": "ส่วนหัว",
        "tr": "Başlık",
        "vi": "Tiêu đề",
        "zh-CN": "标题",
        "zh-TW": "標題"
          },
          "default": {
        "cs": "Obrázkový snímek",
        "da": "Billeddias",
        "de": "Foto-Slide",
        "en": "Image slide",
        "es": "Diapositiva de imagen",
        "fi": "Kuvadia",
        "fr": "Diapositive (image)",
        "it": "Slide immagine",
        "ja": "画像スライド",
        "ko": "이미지 슬라이드",
        "nb": "Lysbilde",
        "nl": "Afbeelding dia",
        "pl": "Slajd obrazu",
        "pt-BR": "Slide de imagem",
        "pt-PT": "Diapositivo de imagem",
        "sv": "Bild i bildspel",
        "th": "สไลด์รูปภาพ",
        "tr": "Görsel slaytı",
        "vi": "Trang chiếu hình ảnh",
        "zh-CN": "图片幻灯片",
        "zh-TW": "圖片投影片"
          }
        },
        {
          "type": "textarea",
          "id": "subheading",
          "label": {
            "cs": "Podnadpis",
            "da": "Underoverskrift",
            "de": "Untertitel",
            "en": "Subheading",
            "es": "Subtítulo",
            "fi": "Alaotsikko",
            "fr": "Sous-titre",
            "it": "Sottotitolo",
            "ja": "小見出し",
            "ko": "소제목",
            "nb": "Underoverskrift",
            "nl": "Subkop",
            "pl": "Nagłówek podrzędny",
            "pt-BR": "Subtítulo",
            "pt-PT": "Subtítulo",
            "sv": "Underrubrik",
            "th": "หัวเรื่องย่อย",
            "tr": "Alt başlık",
            "vi": "Tiêu đề phụ",
            "zh-CN": "副标题",
            "zh-TW": "子標題"
          },
          "default": {
            "cs": "Představte příběh své značky prostřednictvím obrázků",
            "da": "Fortæl dit brands historie gennem billeder",
            "de": "Erzählen Sie Ihre Geschichte mit Fotos",
            "en": "Tell your brand's story through images",
            "es": "Cuenta la historia de tu marca a través de videos e imágenes",
            "fi": "Kerro tuotemerkkisi tarina kuvien kautta",
            "fr": "Racontez votre histoire avec des images",
            "it": "Racconta la storia del tuo brand con video e immagini",
            "ja": "あなたのブランドのストーリーをビデオや画像で伝える",
            "ko": "이미지를 통해 브랜드 스토리 이야기하기",
            "nb": "Fortell merkevarens historie gjennom bilder",
            "nl": "Vertel met afbeeldingen het verhaal van je merk",
            "pl": "Opowiedz historię swojej marki za pomocą obrazów",
            "pt-BR": "Conte a história da sua marca com vídeos e imagens",
            "pt-PT": "Conte a história da sua marca através de imagens",
            "sv": "Berätta ditt varumärkes historia genom video och bilder",
            "th": "บอกเล่าเรื่องราวของแบรนด์คุณผ่านรูปภาพ",
            "tr": "Görsellerle marka öykünüzü anlatın",
            "vi": "Chia sẻ câu chuyện thương hiệu của bạn qua hình ảnh",
            "zh-CN": "通过图片讲述您的品牌故事",
            "zh-TW": "用圖片講述您的品牌故事"
          }
        },
        {
          "type": "text",
          "id": "button_label",
          "label": {
            "cs": "Text tlačítka",
            "da": "Knaptekst",
            "de": "Button-Name",
            "en": "Button label",
            "es": "Etiqueta de botón",
            "fi": "Tekstipainike",
            "fr": "Texte du bouton",
            "it": "Etichetta pulsante",
            "ja": "ボタンのラベル",
            "ko": "버튼 레이블",
            "nb": "Knappetikett",
            "nl": "Knoplabel",
            "pl": "Przycisk z etykietą",
            "pt-BR": "Etiqueta de botão",
            "pt-PT": "Etiqueta do botão",
            "sv": "Knappetikett",
            "th": "ป้ายกำกับปุ่ม",
            "tr": "Düğme etiketi",
            "vi": "Nhãn nút",
            "zh-CN": "按钮标签",
            "zh-TW": "按鈕標籤"
          }
        },
        {
          "type": "url",
          "id": "button_link",
          "label": {
            "cs": "Tlačítkový odkaz",
            "da": "Knaplink",
            "de": "Button-Link",
            "en": "Button link",
            "es": "Enlace de la diapositiva",
            "fi": "Painikelinkki",
            "fr": "Lien du bouton",
            "it": "Link slide",
            "ja": "ボタンのリンク",
            "ko": "버튼 링크",
            "nb": "Kobling for knapp",
            "nl": "Knoplink",
            "pl": "Link przycisku",
            "pt-BR": "Link do slide",
            "pt-PT": "Ligação do botão",
            "sv": "Knapplänk",
            "th": "ลิงก์ปุ่ม",
            "tr": "Düğme bağlantısı",
            "vi": "Liên kết trên nút",
            "zh-CN": "按钮链接",
            "zh-TW": "按鈕連結"
          }
        }
      ]
    }
  ],
  "presets": [
    {
      "name": {
    "cs": "Prezentace",
    "da": "Diasshow",
    "de": "Slideshow",
    "en": "Slideshow",
    "es": "Diapositivas",
    "fi": "Diaesitys",
    "fr": "Diaporama",
    "it": "Presentazione",
    "ja": "スライドショー",
    "ko": "슬라이드 쇼",
    "nb": "Lysbildefremvisning",
    "nl": "Diavoorstelling",
    "pl": "Pokaz slajdów",
    "pt-BR": "Apresentação de slides",
    "pt-PT": "Apresentação de diapositivos",
    "sv": "Bildspel",
    "th": "สไลด์โชว์",
    "tr": "Slayt gösterisi",
    "vi": "Bản trình chiếu",
    "zh-CN": "幻灯片",
    "zh-TW": "素材輪播"
      },
      "category": {
        "cs": "Obrázek",
        "da": "Billede",
        "de": "Foto",
        "en": "Image",
        "es": "Imagen",
        "fi": "Kuva",
        "fr": "Image",
        "it": "Immagine",
        "ja": "画像",
        "ko": "이미지",
        "nb": "Bilde",
        "nl": "Afbeelding",
        "pl": "Obraz",
        "pt-BR": "Imagem",
        "pt-PT": "Imagem",
        "sv": "Bild",
        "th": "รูปภาพ",
        "tr": "Görsel",
        "vi": "Hình ảnh",
        "zh-CN": "图片",
        "zh-TW": "圖片"
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}